{% assign ss = section.settings %}

{% if ss.show_fold_btn and ss.upsells_position == 'footer' %}
  <button class="cd-upsells__toggle" aria-label="Toggle upsell products visibility">
    <img src="{{ 'two-arrows-down-icon.svg' | asset_url }}" width="24" height="24" alt="Toggle upsell section">
  </button>
{% endif %}

<flex-col class="cd-upsells__out {{ ss.upsells_style }}" style="background-color: {{ ss.upsells_bg_color }};">
  <flex class="cd-upsells__title-main">
    {% if ss.upsells_title_line_before %}
      <hr>
    {% endif %}
    {{ ss.upsells_title | default: 'You might also like'}}
    {% if ss.upsells_title_line_after %}
      <hr>
    {% endif %}
  </flex>

  <flex-col class="cd-upsells__blocks">
    {% for upsell in upsells %}
      {% liquid
        assign product = all_products[ upsell.settings.product ]
        assign selected_variant = product.selected_or_first_available_variant

        assign featured_image = product.featured_image
        assign title = upsell.settings.title | default: product.title

        assign price = selected_variant.price
        assign compare_at_price = selected_variant.compare_at_price | default: product.compare_at_price
        assign discount_int = compare_at_price | minus: price
        assign discount = discount_int | times: 100 | divided_by: compare_at_price

        assign supply_description = selected_variant.metafields.custom.supply_description.value
        assign supply_description_2 = selected_variant.metafields.custom.supply_description_2.value
      %}
      <flex-col class="cd-upsells__block-wrapper">
        <flex class="cd-upsells__block">
          <div class="cd-upsells__block-img">
            {% render 'responsive-image' image: featured_image, image_width: 100, custom_alt: title %}
          </div>

          <flex-col class="cd-upsells__block-info">
            <p class="cd-upsells__block-title">{{ title }}</p>

            {% if supply_description != blank %}
              <flex class="cd-upsells__block-variants">
                <p class="cd-upsells__block-variant">{{ supply_description }}</p>
                {% if supply_description_2 != blank %}
                    <p class="cd-upsells__block-variant">{{ supply_description_2 }}</p>
                {% endif %}
              </flex>
            {% endif %}
            
            <p class="cd-upsells__block-price">
              {% if compare_at_price > price %}
                <span class="pri">{{ price | money }}</span>
                <s>{{ compare_at_price | money }}</s>
                {% if ss.upsells_show_discount %}
                  <span class="badge">{{ discount }}% OFF</span>
                {% endif %}
              {% else %}
                <span class="pri">{{ price | money }}</span>
              {% endif %}
            </p>
          </flex-col>

          {% if ss.upsells_atc_position == 'top' %}
            <a class="cd-upsells__block-atc" href="" title="Add to cart" data-id="{{ selected_variant.id }}">{{ ss.upsells_atc_text | default: '+ Add' | replace: '+', '<span>+</span>' }}</a>
          {% endif %}
        </flex>

        {% if ss.upsells_show_variants_selector and product.variants.size > 1 or ss.upsells_atc_position == 'bottom' %}
          <flex>
            {% if ss.upsells_show_variants_selector and product.variants.size > 1 %}
              <select class="cd-upsells__block-selector main-selector">
                {% for variant in product.variants %}
                  <option value="{{ variant.id }}" data-price="{{ variant.price }}" data-compare-price="{{ variant.compare_at_price }}">{{ variant.title }}</option>
                {% endfor %}
              </select>
            {% endif %}

            {% if ss.upsells_atc_position == 'bottom' %}
              <a class="cd-upsells__block-atc" href="" title="Add to cart" data-id="{{ selected_variant.id }}">{{ ss.upsells_atc_text | default: '+ Add' | replace: '+', '<span>+</span>' }}</a>
            {% endif %}
          </flex>
        {% endif %}

        {% if upsell.settings.show_benefits %}
          <grid class="cd-upsells__block-benefits">
            {% for benefit in (1..4) %}
              {% liquid
                assign benefit_icon_label = 'benefit_icon_' | append: benefit
                assign benefit_text_label = 'benefit_text_' | append: benefit
                assign benefit_icon = upsell.settings[benefit_icon_label]
                assign benefit_text = upsell.settings[benefit_text_label]
              %}
              <point class="cd-upsells__block-benefit">
                {% if benefit_icon != blank %}
                  {% render 'responsive-image' image: benefit_icon, image_width: 20 %}
                {% endif %}
                <p>{{ benefit_text }}</p>
              </point>
            {% endfor %}
          </grid>
        {% endif %}
      </flex-col>
    {% endfor %}
  </flex-col>
</flex-col>