<style>
    .g-benefits{
        background: #B0B2E5;
    }

    .g-benefits h2{
        font-weight: 400;
        font-size: 45px;
        line-height: 100%;
        text-align: center;
        color: #1B1443;
        margin: 0 0 35px 0;
    }

    .g-benefits p{
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        color: #060346;
    }

    .g-benefits-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }

    .g-benefits-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .g-benefits-icon span{
        font-weight: 700;
        font-size: 16px;
        line-height: 145%;
        letter-spacing: 0%;
        text-align: center;
        color: #211948;
    }

    .g-benefits-image img{
        max-width: 100%;
    }

    @media only screen and (max-width: 768px) {
        .g-benefits.g-sections{
            padding: 50px 20px;    
        }
      
        .g-benefits h2{
            font-size: 28px;
            margin: 0 0 20px 0;
        }

        .g-benefits p{
            font-size: 16px;
        }

        .g-benefits-icons{
            flex-wrap: wrap;
            gap: 30px;
        }

        .g-benefits-icon{
            width: 90px;
        }

        .g-benefits-icon img{
            max-width: 62px;
        }

        .g-benefits-icon span{
            font-size: 11px;
        }
    }
</style>
<div class="g-benefits g-sections">
    <div class="g-wrap">
        <h2>{{ section.settings.title }}</h2>
        <p>{{ section.settings.subtitle }}</p>

        <div class="g-benefits-image">
            <img src="{{ section.settings.image | image_url: width: "2000px" }}" width="" height="" alt="">
        </div>

        <div class="g-benefits-icons">
            {% for block in section.blocks %}
              <div class="g-benefits-icon">
                  <img src="{{ block.settings.icon | image_url: width: "2000px" }}" width="" height="" alt="">
                  <span>{{ block.settings.content }}</span>
              </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Nord Benefits",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Center Image"
      }
    ],
    "blocks": [
      {
        "type": "image-text",
        "name": "Image Text",
        "settings": [
          {
            "type": "text",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Nord Benefits"
      }
    ]
  }
{% endschema %}