{% assign ss = section.settings %}
<style>
    .g-journey{
      background: #D7D9F2;
    }
    .g-journey .heading-wrapper {
      padding: 0;
    }
    .g-journey-blocks{
        margin-top: 91px;
    }

    .g-journey-block{
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .g-journey-block-first::before{
        position: absolute;
        height: 73%;
        border: 1px dashed #000;
        content: '';
        bottom: 0;
    }

    .g-journey-block-second::before{
        position: absolute;
        height: 49%;
        border: 1px dashed #000;
        content: '';
        top: 0;
    }

    .g-journey-block > div{
        width: 50%;
        max-width: 534px;
    }

    .g-journey-block ul{
        margin: 10px 0 0 0;
        padding: 0;
    }

    .g-journey-block ul li{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 21.6px;
        font-weight: 400;
        color: #060346;
    }

    .g-journey-block ul li::before{
        content: "";
        display: inline-block;
        min-width: 18px;
        height: 18px;
        background-image: url("https://cdn.shopify.com/s/files/1/0906/9782/6608/files/check.png?v=1746409891");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .g-journey-right-content{
        width: calc(100% - 134px);
        background: #fff;
        border: 2px solid #060346;
        padding: 20px;
        border-radius: 10px;
        justify-self: flex-start;
        align-self: flex-start;
        z-index: 2;
    }

    .g-journey-left-content{
        width: calc(100% - 134px);
        background: #fff;
        border: 2px solid #060346;
        padding: 20px;
        border-radius: 10px;
        justify-self: flex-end;
        align-self: flex-start;
        z-index: 2;
    }

    .g-journey-right-content h3,
    .g-journey-left-content h3{
        margin: 0 0 10px 0;
        font-size: 30px;
        color: #060346;
    }

    .g-journey-right-content p,
    .g-journey-left-content p{
        font-size: 20px;
        line-height: 140%;
        margin: 0;
        color: #000;
    }

    .g-journey-right{
        margin-top: 84px;
    }

    .g-journey-left,
    .g-journey-right{
        display: grid;
        position: relative;
        align-items: center;
    }

    .g-journey-circle,
    .g-journey-line{
        position: absolute;
    }

    .g-journey-circle{
        width: 30px;
        height: 30px;
        border: 2px solid #000;
        border-radius: 30px;
        background: #5B6BC8;
        z-index: 1;
    }

    .g-journey-right .g-journey-circle{
        right: -14px;
    }

    .g-journey-left .g-journey-circle{
        left: -14px;
    }

    .g-journey-line{
        width: 100%;
        border: 1px solid #060346;
    }

    .g-journey-cta-note{
        text-align: center;
        margin: 50px 0 0 0;
        font-size: 12px;
        color: #6C757D;
    }

    .g-journey-block.g-journey-block-second .g-journey-right{
        margin-top: 200px;
    }

    @media only screen and (max-width: 768px) {
        .g-journey-block ul li::before{
            min-width: 15px;
            height: 15px;
        }
      
        .g-journey-block.g-journey-block-second .g-journey-right{
            margin-top: 0;    
        }
      
        .g-journey-right-content{
            justify-self: flex-end;
            align-self: flex-end;
        }

        .g-journey-right .g-journey-circle,
        .g-journey-left .g-journey-circle{
            left: -10px;
            width: 20px;
            height: 20px;
            top: 6px;
        }

        .g-journey-block{
            flex-direction: column-reverse;
            gap: 20px;
        }

        .g-journey-right, .g-journey-blocks{
            margin-top: 0;
            margin-bottom: 20px;
        }

        .g-journey-block > div{
            width: 98%;
        }

        .g-journey-right-content,
        .g-journey-left-content{
            width: calc(100% - 40px);
        }
        
        .g-journey-left, .g-journey-right{
            align-items: unset;
        }

        .g-journey-line{
            top: 15px;
        }

        .g-journey-block-first::before{
            height: 100%;
        }

        .g-journey-block-second::before{
            height: 0;
        }
        .g-journey-right-content h3, .g-journey-left-content h3{
            font-size: 24px;
        }

        .g-journey-right-content p, .g-journey-left-content p, .g-journey-right-content ul li{
            font-size: 16px;
            line-height: 150%;
        }

        .g-journey-right-content, .g-journey-left-content{
            padding: 20px;
        }

        .g-journey-right-content ul{
            margin: 5px 0 0 0;
        }

        .g-journey-block.g-journey-block-second .g-journey-right{
            display: none;
        }
    }
</style>
<div class="g-journey g-sections">
    <div class="g-wrap">
        {% render 'heading' heading: true, h1: ss.heading_h1, title: ss.heading_title, align: ss.heading_align, align_mb: ss.heading_align_mb, sub_text: ss.heading_sub_text, text: ss.heading_text,
        ratings: ss.heading_ratings, ratings_stars: ss.heading_ratings_stars, ratings_logo: ss.heading_ratings_logo, ratings_text: ss.heading_ratings_text,  shop_all: ss.heading_shop_all %}

        <div class="g-journey-blocks">
            <div class="g-journey-block g-journey-block-first">
                <div class="g-journey-right">
                    <span class="g-journey-circle"></span>
                    <span class="g-journey-line"></span>
                    <div class="g-journey-right-content">
                        <h3>{{ section.settings.title_1 }}</h3>
                        {{ section.settings.desc_1 }}
                    </div>
                </div>
                <div class="g-journey-left">
                    <span class="g-journey-circle"></span>
                    <span class="g-journey-line"></span>
                    <div class="g-journey-left-content">
                         <h3>{{ section.settings.title_2 }}</h3>
                        {{ section.settings.desc_2 }}
                    </div>
                </div>
            </div>
            <div class="g-journey-block g-journey-block-second">
                <div class="g-journey-right">
                {% if section.settings.title_3 != blank and section.settings.desc_3 != blank%}
                    <span class="g-journey-circle"></span>
                    <span class="g-journey-line"></span>
                    <div class="g-journey-right-content">
                        <h3>{{ section.settings.title_3 }}</h3>
                        {{ section.settings.desc_3 }}
                    </div>
                {% endif %}
                </div>
                <div class="g-journey-left">
                    <span class="g-journey-circle"></span>
                    <span class="g-journey-line"></span>
                    <div class="g-journey-left-content">
                        <h3>{{ section.settings.title_4 }}</h3>
                        {{ section.settings.desc_4 }}
                    </div>
                </div>
            </div>
        </div>

        {% if ss.cta %}
          {% render 'main-cta', text: ss.cta_text, link: ss.cta_url, type: ss.cta_type, action: ss.cta_action, arrow: ss.cta_arrow,
           variant_id: product.selected_or_first_available_variant.id, note_icon: ss.cta_note_icon, note_text: ss.cta_note_text %}
        {% endif %}
    </div>
</div> 

{% schema %}
  {
    "name": "Nord Journey",
    "settings": [
      {
        "type": "header",
        "content": "Heading"
      }, {
        "type": "checkbox",
        "id": "heading_h1",
        "label": "Heading H1"
      }, {
        "type": "text",
        "id": "heading_title",
        "label": "Heading Title",
        "default": "What should I expect from consistent use of Nordburn"
      }, {
        "type": "text",
        "id": "heading_sub_text",
        "label": "Heading Sub-Text"
      }, {
        "type": "text",
        "id": "heading_text",
        "label": "Heading Text"
      }, {
        "type": "select",
        "id": "heading_align",
        "label": "Heading Alignment",
        "default": "center",
        "options": [
          { "value": "start", "label": "Start" }, 
          { "value": "center", "label": "Center" },
          { "value": "end", "label": "End" }
        ]
      }, {
        "type": "select",
        "id": "heading_align_mb",
        "label": "Heading Alignment Mobile",
        "default": "center-mb",
        "options": [
          { "value": "start-mb", "label": "Start" }, 
          { "value": "center-mb", "label": "Center" },
          { "value": "end-mb", "label": "End" }
        ]
      }, {
        "type": "collection",
        "id": "heading_shop_all",
        "label": "Shop All"
      }, {
        "type": "header",
        "content": "Ratings"
      }, {
        "type": "checkbox",
        "id": "heading_ratings",
        "label": "Display Ratings"
      }, {
        "type": "image_picker",
        "id": "heading_ratings_stars",
        "label": "Ratings Stars",
        "visible_if": "{{ section.settings.heading_ratings }}"
      }, {
        "type": "image_picker",
        "id": "heading_ratings_logo",
        "label": "Ratings Logo",
        "visible_if": "{{ section.settings.heading_ratings }}"
      }, {
        "type": "text",
        "id": "heading_ratings_text",
        "label": "Ratings Text",
        "visible_if": "{{ section.settings.heading_ratings }}"
      }, {
        "type": "header",
        "content": "Journey Blocks"
      }, {
        "type": "text",
        "id": "title_1",
        "label": "Title 1"
      },
      {
        "type": "richtext",
        "id": "desc_1",
        "label": "Description 1"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Title 2"
      },
      {
        "type": "richtext",
        "id": "desc_2",
        "label": "Description 2"
      },
      {
        "type": "text",
        "id": "title_3",
        "label": "Title 3"
      },
      {
        "type": "richtext",
        "id": "desc_3",
        "label": "Description 3"
      },
      {
        "type": "text",
        "id": "title_4",
        "label": "Title 4"
      },
      {
        "type": "richtext",
        "id": "desc_4",
        "label": "Description 4"
      }, {
        "type": "header",
        "content": "CTA"
      }, {
        "type": "checkbox",
        "id": "cta",
        "label": "Show CTA",
        "default": true
      }, {
        "type": "select",
        "id": "cta_action",
        "label": "CTA Action",
        "default": "",
        "options": [
          { "value": "", "label": "Link" },
          { "value": "atc", "label": "Add to Cart" },
          { "value": "scroll", "label": "Scroll to Product" }
        ]
      }, {
        "type": "select",
        "id": "cta_type",
        "label": "CTA Type",
        "default": "accent",
        "options": [
          { "value": "", "label": "Light" },
          { "value": "dark", "label": "Dark" },
          { "value": "accent", "label": "Accent" }
        ]
      }, {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text",
        "default": "Get My GLP-1 BOOSTER"
      }, {
        "type": "checkbox",
        "id": "cta_arrow",
        "label": "CTA Arrow",
        "default": true
      }, {
        "type": "image_picker",
        "id": "cta_note_icon",
        "label": "CTA Note Icon"
      }, {
        "type": "text",
        "id": "cta_note_text",
        "label": "CTA Note Text",
        "default": "safe & secure checkout"
      }
    ],
    "presets": [
      {
        "name": "Nord Journey"
      }
    ]
  }
{% endschema %}