{% assign ss = section.settings %}
<style>
    .g-reviews{
        overflow: hidden;
    }
    .g-reviews .heading-wrapper {
        max-width: 780px;
        padding: 0;
        margin-inline: auto;
    }

    .g-review{
        border-radius: 10px;
        overflow: hidden;
    }

    .g-review-content{
      background: #D6D8F1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 25px;
    }
    .g-review.expanded .g-review-content {
      gap: 16px;
    }
    .g-review-content > span{
        display: flex;
    }

    .g-review-content > span svg{
        width: 16px;
    }

    .g-review-content p{
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        color: #002F2F;
        margin: 0;
    }

    .g-review-content .g-review-name{
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #002F2F;
    }
    .g-review-header {
      gap: 6px;
    }
    .g-review-header-top {
      gap: 8px;
    }
    .g-review-header .g-review-name {
      font-size: 16px;
      line-height: 1.3;
      letter-spacing: 0.2px;
      text-wrap: nowrap;
    }
    .g-review-header-verified {
      gap: 4px;
    }
    .g-review-header-verified img {
      width: 12px;
    }
    .g-review-header-verified p {
      color: #2A7900;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0%;
      text-wrap: nowrap;
    }
    .g-review-header-location p {
      color: #323232;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.2px;
      vertical-align: middle;
      text-wrap: nowrap;
    }
    .g-review-image{
        position: relative;
        padding-top: 100%;
    }
    .g-review-image img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .swiper.g-reviews-slider{
        margin-top: 70px;
        overflow: unset;
    }

    .swiper.g-reviews-slider .swiper-slide{
        max-width: 260px;
    }

    .g-blocks-slides-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 50px;
    }

    .g-blocks-slides-nav .g-next,
    .g-blocks-slides-nav .g-prev{
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 1.5px solid #060346;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #060346;
    }

    .g-blocks-slides-nav .g-next.swiper-button-disabled,
    .g-blocks-slides-nav .g-prev.swiper-button-disabled{
        background: #fff;
        cursor: not-allowed
    }

    .g-blocks-slides-nav svg{
        width: 25px;
        color: #fff;
    }

    .g-blocks-slides-nav .g-next.swiper-button-disabled svg,
    .g-blocks-slides-nav .g-prev.swiper-button-disabled svg{
        color: #060346;
    }

    .g-blocks-slides-nav .swiper-pagination{
        position: relative;
        top: unset;
        left: unset;
        bottom: unset;
        width: auto;
        display: flex;
    }

    .g-blocks-slides-nav .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        margin: 0 8px !important;
        background: #fff;
        border: 1px solid #060346;
        opacity: 1;
    }

    .g-blocks-slides-nav .swiper-pagination-bullet.swiper-pagination-bullet-active{
        background: #00000052;
        border: 0;
        scale: 1.6;
        position: relative;
    }

    .g-blocks-slides-nav .swiper-pagination-bullet.swiper-pagination-bullet-active::before{
        position: absolute;
        content: '';
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        box-sizing: border-box;
        background: #060346;
        left: 2.5px;
        top: 2.5px;
        border-radius: 100%;
    }

    .g-reviews .g-cta-wrapper{
        margin-top: 50px;
    }
    .g-reviews .main-cta-wrapper {
      margin-top: 32px;
    }

    @media only screen and (max-width: 768px) {
      .swiper.g-reviews-slider .swiper-slide{
          max-width: unset;
      }
      .swiper.g-reviews-slider{
          padding: 0 10%;
          margin-top: 50px;
      }
      .g-review-header .g-review-name {
        font-size: 14px;
      }
      .g-review-header-verified img {
        width: 12px;
      }
      .g-review-header-verified p,
      .g-review-header-location p {
        font-size: 12px;
      }
    }
</style>
<div class="g-sections g-reviews">
    <div class="g-wrap">
        {% render 'heading' heading: true, h1: ss.heading_h1, title: ss.heading_title, align: ss.heading_align, align_mb: ss.heading_align_mb, sub_text: ss.heading_sub_text, text: ss.heading_text,
        ratings: ss.heading_ratings, ratings_stars: ss.heading_ratings_stars, ratings_logo: ss.heading_ratings_logo, ratings_text: ss.heading_ratings_text,  shop_all: ss.heading_shop_all %}

        <div class="swiper g-reviews-slider">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                <div class="swiper-slide">
                    <div class="g-review {{ ss.reviews_display }}">
                        <div class="g-review-image">
                          {% render 'responsive-image' image: block.settings.image, image_width: 500, custom_alt: block.settings.name %}
                        </div>
                        <div class="g-review-content">
                          {% if ss.reviews_display == 'expanded' %}
                            <flex-col class="g-review-header">
                              <flex class="g-review-header-top">
                                <span class="g-review-name">{{ block.settings.name }}</span>

                                {% if block.settings.verified %}
                                  <point class="g-review-header-verified">
                                    {% if ss.reviews_verified_icon != blank %}
                                      {% render 'responsive-image' image: ss.reviews_verified_icon, image_width: 40, custom_alt: 'verified' %}
                                    {% endif %}
                                    <p>Verified Customer</p>
                                  </point>
                                {% endif %}
                              </flex>
                              <point class="g-review-header-location">
                                {% if block.settings.author_location_icon != blank %}
                                  {% render 'responsive-image' image: block.settings.author_location_icon, image_width: 40, custom_alt: block.settings.author_location %}
                                {% endif %}
                                <p>{{ block.settings.author_location }}</p>
                              </point>
                            </flex-col>
                          {% endif %}
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#211948" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#211948" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#211948" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#211948" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#211948" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            {{ block.settings.content }}
                            {% unless ss.reviews_display == 'expanded' %}
                              <span class="g-review-name">{{ block.settings.name }}</span>
                            {% endunless %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="g-blocks-slides-nav">
                <span class="g-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                    </svg>
                </span>
                <div class="swiper-pagination"></div>
                <span class="g-next">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </span>
            </div>
        </div>

        {% if ss.cta %}
          {% render 'main-cta', text: ss.cta_text, link: ss.cta_url, type: ss.cta_type, action: ss.cta_action, arrow: ss.cta_arrow,
           variant_id: product.selected_or_first_available_variant.id, note_icon: ss.cta_note_icon, note_text: ss.cta_note_text %}
        {% endif %}

    </div>
</div>    
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new Swiper('.g-reviews-slider', {
            slidesPerView: 1,
            spaceBetween: 20,
            grabCursor: false,
            navigation: {
                nextEl: '.g-next',
                prevEl: '.g-prev'
            },
            pagination:  {
                el: ".swiper-pagination",
                clickable: true, 
            },
            breakpoints: {
                769: {
                    slidesPerView: 'auto'
                }
            }
        });
    });
</script>

{% schema %}
  {
    "name": "Nord Reviews",
    "settings": [
        {
        "type": "header",
        "content": "Heading"
      }, {
        "type": "checkbox",
        "id": "heading_h1",
        "label": "Heading H1"
      }, {
        "type": "text",
        "id": "heading_title",
        "label": "Heading Title",
        "default": "You’re Not Alone - 50,000+ Customers Have Already Taken the First Step"
      }, {
        "type": "text",
        "id": "heading_sub_text",
        "label": "Heading Sub-Text"
      }, {
        "type": "text",
        "id": "heading_text",
        "label": "Heading Text"
      }, {
        "type": "select",
        "id": "heading_align",
        "label": "Heading Alignment",
        "default": "center",
        "options": [
          { "value": "start", "label": "Start" }, 
          { "value": "center", "label": "Center" },
          { "value": "end", "label": "End" }
        ]
      }, {
        "type": "select",
        "id": "heading_align_mb",
        "label": "Heading Alignment Mobile",
        "default": "center-mb",
        "options": [
          { "value": "start-mb", "label": "Start" }, 
          { "value": "center-mb", "label": "Center" },
          { "value": "end-mb", "label": "End" }
        ]
      }, {
        "type": "collection",
        "id": "heading_shop_all",
        "label": "Shop All"
      }, {
        "type": "header",
        "content": "Ratings"
      }, {
        "type": "checkbox",
        "id": "heading_ratings",
        "label": "Display Ratings"
      }, {
        "type": "image_picker",
        "id": "heading_ratings_stars",
        "label": "Ratings Stars",
        "visible_if": "{{ section.settings.heading_ratings }}"
      }, {
        "type": "image_picker",
        "id": "heading_ratings_logo",
        "label": "Ratings Logo",
        "visible_if": "{{ section.settings.heading_ratings }}"
      }, {
        "type": "text",
        "id": "heading_ratings_text",
        "label": "Ratings Text",
        "visible_if": "{{ section.settings.heading_ratings }}"
      }, {
        "type": "header",
        "content": "Reviews"
      }, {
        "type": "select",
        "id": "reviews_display",
        "label": "Reviews Display",
        "default": "",
        "options": [
          { "value": "", "label": "Default" },
          { "value": "expanded", "label": "Expanded" }
        ]
      }, {
        "type": "image_picker",
        "id": "reviews_verified_icon",
        "label": "Reviews Verified Icon"
      }, {
        "type": "header",
        "content": "CTA"
      }, {
        "type": "checkbox",
        "id": "cta",
        "label": "Show CTA",
        "default": true
      }, {
        "type": "select",
        "id": "cta_action",
        "label": "CTA Action",
        "default": "",
        "options": [
          { "value": "", "label": "Link" },
          { "value": "atc", "label": "Add to Cart" },
          { "value": "scroll", "label": "Scroll to Product" }
        ]
      }, {
        "type": "select",
        "id": "cta_type",
        "label": "CTA Type",
        "default": "accent",
        "options": [
          { "value": "", "label": "Light" },
          { "value": "dark", "label": "Dark" },
          { "value": "accent", "label": "Accent" }
        ]
      }, {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text",
        "default": "Get My GLP-1 BOOSTER"
      }, {
        "type": "checkbox",
        "id": "cta_arrow",
        "label": "CTA Arrow",
        "default": true
      }, {
        "type": "image_picker",
        "id": "cta_note_icon",
        "label": "CTA Note Icon"
      }, {
        "type": "text",
        "id": "cta_note_text",
        "label": "CTA Note Text",
        "default": "safe & secure checkout"
      }
    ],
    "blocks": [
      {
        "type": "reviews",
        "name": "Reviews",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }, {
            "type": "text",
            "id": "name",
            "label": "Name"
          }, {
            "type": "image_picker",
            "id": "author_location_icon",
            "label": "Author Location Icon"
          }, {
            "type": "text",
            "id": "author_location",
            "label": "Author Location",
            "default": "Trenton, NJ"
          }, {
            "type": "checkbox",
            "id": "verified",
            "label": "Verified Color",
            "default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Nord Reviews"
      }
    ]
  }
{% endschema %}