<style>
    .g-real-people-sub{
        color: #060346;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 3%;
        text-align: center;
        text-transform: uppercase;
    }

    .g-real-people h2{
        font-weight: 400;
        font-size: 45px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #060346;
        margin: 0 0 35px 0;
    }

    .g-rp-blocks{
        display: flex;
        gap: 32px;
        margin-top: 70px;
    }

    .g-rp-block{
        width: 33.333%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .g-rp-block-image{
        height: 394px;
    }

    .g-rp-block-image img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        display: block;
        object-position: top;
        border-radius: 15px;
    }

    .g-rp-block h3{
        margin: 0;
        font-weight: 900;
        font-size: 40px;
        line-height: 1;
        letter-spacing: 0px;
        color: #060346;
    }

    .g-rp-block h4{
        margin: 0;
        font-weight: 700;
        font-size: 30px;
        line-height: 110.00000000000001%;
        letter-spacing: -2%;
        color: #060346;
    }

    .g-rp-block p, .g-rp-block span{
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0px;
        color: #060346;
    }

    .g-rp-block span{
        font-weight: 700;
    }


    .g-real-people .g-cta-wrapper{
        margin-top: 70px;
    }

    @media only screen and (max-width: 768px) {
        .g-real-people h2{
            font-size: 28px;
            margin: 0 0 20px 0;
        }

        .g-real-people-sub{
            font-size: 16px;
        }

        .g-rp-blocks{
            margin-top: 40px;
            flex-direction: column;
        }

        .g-rp-block{
            width: 100%;
            gap: 20px;
        }

        .g-rp-block h3{
            font-size: 30px;
        }

        .g-rp-block h4{
            font-size: 22px;
        }
    }
</style>
<div class="g-real-people g-sections">
    <div class="g-wrap">
        <h2>{{ section.settings.title }}</h2>
        <p class="g-real-people-sub">{{ section.settings.subtitle }}</p>

        <div class="g-rp-blocks">
            {% for block in section.blocks %}
              <div class="g-rp-block">
                  <div class="g-rp-block-image">
                      <img src="{{ block.settings.image | image_url: width: "500px" }}" width="" height="" alt="">
                  </div>
                  <h3>{{ block.settings.title }}</h3>
                  <h4>{{ block.settings.subtitle }}</h4>
                  {{ block.settings.content }}
                  <span>{{ block.settings.name }}</span>
              </div>
            {% endfor %}
        </div>

        {% if section.settings.cta_top_note != blank %}<p class="g-journey-cta-note">{{ section.settings.cta_top_note }}</p>{% endif %}
        <div class="g-cta-wrapper">
            <div class="g-cta">
                <a href="{{ section.settings.cta_url }}">{{ section.settings.cta_text }} <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
                  </svg>
                </a>
                <div class="g-cta-bottom">
                    <div>
                        <img src="{{ section.settings.cta_bottom_icon | image_url: width: "500px" }}" width="" height="" alt="">
                        <span>{{ section.settings.cta_bottom_text }}</span>
                    </div>
                    <img src="{{ section.settings.cta_bottom_image | image_url: width: "500px" }}" width="" height="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Nord Real People",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title"
      },
      {
        "type": "header",
        "content": "CTA"
      },
      {
        "type": "text",
        "id": "cta_top_note",
        "label": "CTA Top Note"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      },
      {
        "type": "text",
        "id": "cta_bottom_text",
        "label": "CTA Bottom Text",
        "default": "safe & secure checkout"
      },
      {
        "type": "image_picker",
        "id": "cta_bottom_icon",
        "label": "CTA Bottom Icon"
      },
      {
        "type": "image_picker",
        "id": "cta_bottom_image",
        "label": "CTA Bottom Image"
      }
    ],
    "blocks": [
      {
        "type": "columns",
        "name": "Columns",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Nord Real People"
      }
    ]
  }
{% endschema %}