

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527416086656713841.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527416086656713841.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527416086656713841.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-527416086656713841.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527416086656713841.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527416086656713841.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527416086656713841.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527416086656713841.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527416086656713841.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527416086656713841.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527416086656713841.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-527416086656713841.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-527416086656713841.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527416086656713841.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-527416086656713841.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-527416086656713841.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527416086656713841.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-527416086656713841.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-527416086656713841.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-527416086656713841.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527416086656713841.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527416086656713841.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527416086656713841.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527416086656713841.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-527416086656713841.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-527416086656713841.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-527416086656713841.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-527416086656713841.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527416086656713841.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527416086656713841.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527416086656713841.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-527416086656713841.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-527416086656713841.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527416086656713841.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527416086656713841.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-527416086656713841.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-527416086656713841.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-527416086656713841.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527416086656713841.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527416086656713841.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527416086656713841.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527416086656713841.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527416086656713841.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527416086656713841.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527416086656713841.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527416086656713841.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527416086656713841.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527416086656713841.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-527416086656713841.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-527416086656713841.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527416086656713841.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-527416086656713841.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527416086656713841.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-527416086656713841.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-527416086656713841.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-527416086656713841.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527416086656713841.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527416086656713841.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-527416086656713841.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-527416086656713841.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-527416086656713841.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527416086656713841.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-527416086656713841.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-527416086656713841.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527416086656713841.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-527416086656713841.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-527416086656713841.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-527416086656713841.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-527416086656713841.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-527416086656713841.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527416086656713841.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527416086656713841.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527416086656713841.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527416086656713841.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-527416086656713841.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-527416086656713841.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-527416086656713841 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-527416086656713841 .gp-absolute{position:absolute}.gps-527416086656713841 .gp-relative{position:relative}.gps-527416086656713841 .gp-inset-0{inset:0}.gps-527416086656713841 .gp-z-1{z-index:1}.gps-527416086656713841 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527416086656713841 .gp-mb-0{margin-bottom:0}.gps-527416086656713841 .\!gp-inline{display:inline!important}.gps-527416086656713841 .gp-flex{display:flex}.gps-527416086656713841 .gp-inline-flex{display:inline-flex}.gps-527416086656713841 .gp-grid{display:grid}.gps-527416086656713841 .\!gp-hidden{display:none!important}.gps-527416086656713841 .gp-hidden{display:none}.gps-527416086656713841 .gp-h-full{height:100%}.gps-527416086656713841 .gp-w-full{width:100%}.gps-527416086656713841 .gp-w-max{width:-moz-max-content;width:max-content}.gps-527416086656713841 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-527416086656713841 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-527416086656713841 .gp-max-w-full{max-width:100%}.gps-527416086656713841 .gp-flex-1{flex:1 1 0%}.gps-527416086656713841 .gp-flex-col{flex-direction:column}.gps-527416086656713841 .gp-flex-wrap{flex-wrap:wrap}.gps-527416086656713841 .gp-items-center{align-items:center}.gps-527416086656713841 .gp-justify-center{justify-content:center}.gps-527416086656713841 .gp-gap-y-0{row-gap:0}.gps-527416086656713841 .gp-overflow-hidden{overflow:hidden}.gps-527416086656713841 .gp-break-words{overflow-wrap:break-word}.gps-527416086656713841 .gp-rounded-none{border-radius:0}.gps-527416086656713841 .gp-text-center{text-align:center}.gps-527416086656713841 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-527416086656713841 .gp-no-underline{text-decoration-line:none}.gps-527416086656713841 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527416086656713841 .gp-duration-200{transition-duration:.2s}.gps-527416086656713841 .gp-duration-300{transition-duration:.3s}.gps-527416086656713841 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527416086656713841 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-527416086656713841 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-527416086656713841 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-527416086656713841 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-527416086656713841 .tablet\:\!gp-hidden{display:none!important}.gps-527416086656713841 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-527416086656713841 .mobile\:\!gp-hidden{display:none!important}.gps-527416086656713841 .mobile\:gp-hidden{display:none}}.gps-527416086656713841 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-527416086656713841 .\[\&_p\]\:gp-inline p{display:inline}.gps-527416086656713841 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-527416086656713841 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-527416086656713841 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gQg0qGhPk8"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:0px;--mr:auto;--pt:40px;--pl:20px;--pb:80px;--pr:20px;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:21px;--pl-mobile:20px;--pb-mobile:21px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQg0qGhPk8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfc8WxSoHZ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gXIcC0MzUX"
        style="--bs:dashed;--bw:2px 2px 2px 2px;--bc:rgba(52, 159, 108, 0.5);--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--pt:32px;--pl:102px;--pb:32px;--pr:102px;--pt-mobile:42px;--pl-mobile:24px;--pb-mobile:21px;--pr-mobile:24px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXIcC0MzUX check-availabbility gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsdZwK6lMZ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gMEDguVLNh "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMEDguVLNh_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gx_wWEwBPQ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:24px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggx_wWEwBPQ_text }}</div>
      </div>
    </div>
      <style id="custom-css-gx_wWEwBPQ">
        .gx_wWEwBPQ {

}
.gx_wWEwBPQ p {

}
      </style>
    
    <div
      parentTag="Col"
        class="gbkxU1tQ5n "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:16px;--mb-mobile:16px;--mb-tablet:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggbkxU1tQ5n_text }}</h3>
      </div>
    </div><div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:24px;--mb-mobile:28px" class="g5NPeu8QkV ">
      
    <gp-countdown-timer
     class="gp-flex "
     gp-data='{"behaviour":"daily","dateStandard":1717029834597,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Seconds","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1716435834597,"hours":3,"mins":0,"startTime":1716425034597},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"g5NPeu8QkV","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"12px","color":"rgba(0, 0, 0, 0.20)","distance":"4px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":"24px"}},"mobile":{"link":false,"margin":{"bottom":"28px"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1717029834597,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Seconds","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1716435834597,"hours":3,"mins":0,"startTime":1716425034597},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#00000000","borderState":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#E0E0E0","isCustom":true,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","horizontalGap":"21px","itemPadding":{"custom":{"desktop":{"horizontal":"13px","vertical":"10px"},"mobile":{"horizontal":"6px","vertical":"5px"},"tablet":{"horizontal":"13px","vertical":"10px"}}},"labelTypo":{"attrs":{"color":"#424242"},"custom":{"fontSize":{"desktop":"16px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontVariants":["100","200","300","regular","500","600","700","800","900"],"fontWeight":"400","letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#000000"},"custom":{"fontSize":{"desktop":"40px","mobile":"24px","tablet":"18px"},"fontStyle":"normal","fontVariants":["100","200","300","regular","500","600","700","800","900"],"fontWeight":"600","letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"g5NPeu8QkV","childrens":[],"type":"component"}}'
     style="--jc:center"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:21px;--jc:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--pl:13px;--pr:13px;--pt:10px;--pb:10px;--pl-tablet:13px;--pr-tablet:13px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    <div
      id="day"
        class="g5NPeu8QkV "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:40px;--size-tablet:18px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="g5NPeu8QkV "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5NPeu8QkV_dayLabel }}</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:13px;--pr:13px;--pt:10px;--pb:10px;--pl-tablet:13px;--pr-tablet:13px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    <div
      id="hour"
        class="g5NPeu8QkV "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:40px;--size-tablet:18px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="g5NPeu8QkV "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5NPeu8QkV_hourLabel }}</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:13px;--pr:13px;--pt:10px;--pb:10px;--pl-tablet:13px;--pr-tablet:13px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    <div
      id="minute"
        class="g5NPeu8QkV "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:40px;--size-tablet:18px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="g5NPeu8QkV "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5NPeu8QkV_minuteLabel }}</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:13px;--pr:13px;--pt:10px;--pb:10px;--pl-tablet:13px;--pr-tablet:13px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    <div
      id="second"
        class="g5NPeu8QkV "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:40px;--size-tablet:18px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="g5NPeu8QkV "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5NPeu8QkV_secondLabel }}</div>
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-button >
  <div
    
    style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:32px;--pl:0px;--pr:0px;--mb-mobile:28px;--pl-mobile:0px;--pr-mobile:0px;--ta:left"
    
  >
    <style>
    .g-x55lWkFe.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .g-x55lWkFe:hover::before {
      
      
    }

    .g-x55lWkFe:hover .gp-button-icon {
      color: undefined;
    }

     .g-x55lWkFe .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g-x55lWkFe:hover .gp-button-price {
      color: undefined;
    }

    .g-x55lWkFe .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g-x55lWkFe .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g-x55lWkFe:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/fat-burner-with-mct" target="_self" data-id="g-x55lWkFe" aria-label="CHECK AVAILABILITY"
      
      data-state="idle"
      class="g-x55lWkFe gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00763D;--bg:#349F6C;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.gg-x55lWkFe_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-g-x55lWkFe">
        button.g-x55lWkFe {

}
      </style>
    
      
      
    <div
      parentTag="Col" id="gHiklfQIgS"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHiklfQIgS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:start"
      class="gH3-ujcij5 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g-9NU_AAeM"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-7002141a-3355-4123-815d-dffd2903c932.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:300/300;--aspect-tablet:300/300;--aspect-mobile:300/300;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:56px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-7002141a-3355-4123-815d-dffd2903c932.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:300/300;--aspect-tablet:300/300;--aspect-mobile:300/300;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:56px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-g-9NU_AAeM">
        .g-9NU_AAeM {

}
.g-9NU_AAeM > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:start"
      class="gbjI5jmXtd gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gzk90m_-Xo "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:0px;--mb:4px;--mt-mobile:0px;--mb-mobile:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzk90m_-Xo_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gXgFesZmAG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXgFesZmAG_text }}</div>
      </div>
    </div>
      <style id="custom-css-gXgFesZmAG">
        .gXgFesZmAG {

}
.gXgFesZmAG p {

}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-527416086656713841 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=527416037214258200&sectionId=527416086656713841)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggMEDguVLNh_text","label":"ggMEDguVLNh_text","default":"Order now for an exclusive up to 40% discount!"},{"type":"html","id":"ggx_wWEwBPQ_text","label":"ggx_wWEwBPQ_text","default":"<p>Don't miss out on this incredible limited-time offer! Act fast before the discount expires.</p>"},{"type":"html","id":"ggbkxU1tQ5n_text","label":"ggbkxU1tQ5n_text","default":"Hurry, Limited Time Offer:"},{"type":"html","id":"gg5NPeu8QkV_dayLabel","label":"gg5NPeu8QkV_dayLabel","default":"Days"},{"type":"html","id":"gg5NPeu8QkV_hourLabel","label":"gg5NPeu8QkV_hourLabel","default":"Hours"},{"type":"html","id":"gg5NPeu8QkV_minuteLabel","label":"gg5NPeu8QkV_minuteLabel","default":"Minutes"},{"type":"html","id":"gg5NPeu8QkV_secondLabel","label":"gg5NPeu8QkV_secondLabel","default":"Seconds"},{"type":"html","id":"gg5NPeu8QkV_weekLabel","label":"gg5NPeu8QkV_weekLabel","default":"Weeks"},{"type":"html","id":"gg-x55lWkFe_label","label":"gg-x55lWkFe_label","default":"CHECK AVAILABILITY"},{"type":"html","id":"ggzk90m_-Xo_text","label":"ggzk90m_-Xo_text","default":"100% product guarantee"},{"type":"html","id":"ggXgFesZmAG_text","label":"ggXgFesZmAG_text","default":"<p>If you are not completely satisfied with our modern desk lamp for any reason, just email us, and we will issue a refund.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
