

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527170617330369558.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527170617330369558.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527170617330369558.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-527170617330369558.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527170617330369558.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527170617330369558.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527170617330369558.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527170617330369558.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527170617330369558.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527170617330369558.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527170617330369558.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-527170617330369558.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-527170617330369558.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527170617330369558.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-527170617330369558.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-527170617330369558.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-527170617330369558.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527170617330369558.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-527170617330369558.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-527170617330369558.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-527170617330369558.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527170617330369558.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527170617330369558.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527170617330369558.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527170617330369558.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-527170617330369558.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-527170617330369558.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-527170617330369558.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-527170617330369558.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527170617330369558.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527170617330369558.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527170617330369558.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-527170617330369558.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-527170617330369558.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-527170617330369558.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527170617330369558.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527170617330369558.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-527170617330369558.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-527170617330369558.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-527170617330369558.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-527170617330369558.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-527170617330369558.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527170617330369558.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527170617330369558.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527170617330369558.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527170617330369558.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527170617330369558.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527170617330369558.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527170617330369558.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527170617330369558.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-527170617330369558.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-527170617330369558.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527170617330369558.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-527170617330369558.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527170617330369558.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-527170617330369558.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-527170617330369558.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527170617330369558.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-527170617330369558.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527170617330369558.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-527170617330369558.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-527170617330369558.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-527170617330369558.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527170617330369558.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527170617330369558.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-527170617330369558.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-527170617330369558.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-527170617330369558.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-527170617330369558.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527170617330369558.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-527170617330369558.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-527170617330369558.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527170617330369558.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-527170617330369558.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-527170617330369558.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-527170617330369558.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527170617330369558.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527170617330369558.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527170617330369558.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527170617330369558.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-527170617330369558.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-527170617330369558.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-527170617330369558 .gp-relative{position:relative}.gps-527170617330369558 .gp-z-1{z-index:1}.gps-527170617330369558 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527170617330369558 .gp-mb-0{margin-bottom:0}.gps-527170617330369558 .\!gp-inline{display:inline!important}.gps-527170617330369558 .gp-flex{display:flex}.gps-527170617330369558 .gp-inline-flex{display:inline-flex}.gps-527170617330369558 .gp-grid{display:grid}.gps-527170617330369558 .\!gp-hidden{display:none!important}.gps-527170617330369558 .gp-hidden{display:none}.gps-527170617330369558 .gp-h-full{height:100%}.gps-527170617330369558 .gp-w-full{width:100%}.gps-527170617330369558 .gp-max-w-full{max-width:100%}.gps-527170617330369558 .gp-flex-col{flex-direction:column}.gps-527170617330369558 .gp-items-center{align-items:center}.gps-527170617330369558 .gp-justify-center{justify-content:center}.gps-527170617330369558 .gp-gap-y-0{row-gap:0}.gps-527170617330369558 .gp-overflow-hidden{overflow:hidden}.gps-527170617330369558 .gp-break-words{overflow-wrap:break-word}.gps-527170617330369558 .gp-rounded-none{border-radius:0}.gps-527170617330369558 .gp-text-center{text-align:center}.gps-527170617330369558 .gp-leading-\[0\]{line-height:0}.gps-527170617330369558 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-527170617330369558 .gp-no-underline{text-decoration-line:none}.gps-527170617330369558 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527170617330369558 .gp-duration-200{transition-duration:.2s}.gps-527170617330369558 .gp-duration-300{transition-duration:.3s}.gps-527170617330369558 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527170617330369558 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-527170617330369558 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-527170617330369558 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-527170617330369558 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-527170617330369558 .tablet\:\!gp-hidden{display:none!important}.gps-527170617330369558 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-527170617330369558 .mobile\:\!gp-hidden{display:none!important}.gps-527170617330369558 .mobile\:gp-hidden{display:none}}.gps-527170617330369558 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-527170617330369558 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-527170617330369558 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-527170617330369558 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-527170617330369558 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-527170617330369558 .\[\&_p\]\:gp-inline p{display:inline}.gps-527170617330369558 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-527170617330369558 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-527170617330369558 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gaIbO95rZB"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:80px;--pb:80px;--pt-tablet:56px;--pb-tablet:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F8F8F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaIbO95rZB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtsq8na5ws gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gzocB6BmNB"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzocB6BmNB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvvnW3H9PE gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gXz_2HQF84 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:40px;--size-tablet:35px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#161723;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXz_2HQF84_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gmxCa5dSU7 "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:16px;--pb:48px;--mb-tablet:0px;--pt-tablet:14px;--pb-tablet:42px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:877px;--w-tablet:877px;--w-mobile:877px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmxCa5dSU7_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gA4ZOL-bNv"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gA4ZOL-bNv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLbOvq2vKk gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gRl4u1ETEU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:58px;--mb-mobile:0px;--pt-mobile:33px;--mb-tablet:0px;--pt-tablet:98px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRl4u1ETEU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:end"
      class="gd0YBPqpA6 gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:end"
      class="g0EZbPbEKl gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gW1ImqLThi"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:10px;--btrr:10px;--mb:0px;--mb-mobile:0px;--pl-mobile:3px;--pr-mobile:3px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gW1ImqLThi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDl_Ubaux0 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image glid_g-W6F"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:50%;--op:100%;--pos:absolute;--right:undefined;--radius:var(--g-radius-none);--mt:0px;--ml:auto;--mb:0px;--mr:auto;--top:-58px;--top-mobile:-33px;--top-tablet:-99px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-2c41bde4-c0b8-4852-9cbd-9ea9c0fcb26f.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1613/1613;--aspect-tablet:1613/1613;--aspect-mobile:1613/1613;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:130px;--h-tablet:176px;--h-mobile:95px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-2c41bde4-c0b8-4852-9cbd-9ea9c0fcb26f.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1613/1613;--aspect-tablet:1613/1613;--aspect-mobile:1613/1613;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:130px;--h-tablet:176px;--h-mobile:95px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-glid_g-W6F">
        .glid_g-W6F {
    transform: translateX(-50%);
}
      </style>
    
    <div
      parentTag="Col"
        class="gMsprYNRqA "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:83px;--pb:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMsprYNRqA_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:end"
      class="g3WItkmd3e gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gvAJt3b33s"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-e55d51f4-9946-4a30-8066-6ac032ac28f5.png?v=91068990545356453541704953371"
          alt=""
          fetchpriority="high"
          style="--aspect:168/277;--aspect-tablet:168/277;--aspect-mobile:168/277;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:69px;--h-tablet:69px;--h-mobile:69px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-e55d51f4-9946-4a30-8066-6ac032ac28f5.png?v=91068990545356453541704953371"
        width="100%"
        alt=""
        style="--aspect:168/277;--aspect-tablet:168/277;--aspect-mobile:168/277;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:69px;--h-tablet:69px;--h-mobile:69px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    <div
      parentTag="Col"
        class="gLZ6moALsx "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:14px;--pb:16px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:3px;--pb-mobile:16px;--pr-mobile:3px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLZ6moALsx_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style id="custom-css-gRl4u1ETEU">
        .gRl4u1ETEU {
    --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
      
      
    <div
      parentTag="Col" id="g_4SYjK4e4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:10px;--btrr:10px;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_4SYjK4e4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gekp2LFdvn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gM-PIKre3v "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggM-PIKre3v_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gAusmiQ1su gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="genZaKa03p"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="genZaKa03p gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gogU7BETAt gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] ghDBU2VRyk"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24px" height="25px" viewBox="0 0 24 25" fill="none" preserveAspectRatio="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-ghDBU2VRyk">
        .ghDBU2VRyk .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-genZaKa03p">
        .genZaKa03p {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gNnFXSLW0O gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] g6QPx9zWCJ"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24px" height="25px" viewBox="0 0 24 25" fill="none" preserveAspectRatio="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-g6QPx9zWCJ">
        .g6QPx9zWCJ .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-g_4SYjK4e4">
        .g_4SYjK4e4 {
      --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
      
      
    <div
      parentTag="Col" id="gFI-Ce0zKw"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFI-Ce0zKw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gH4u13SOC3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gY083iytlO "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggY083iytlO_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="giNn9w0OSp gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gsaRgYYLnp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsaRgYYLnp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge3QWPRdiV gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] gcXPqvT-jO"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gcXPqvT-jO">
        .gcXPqvT-jO .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-gsaRgYYLnp">
        .gsaRgYYLnp {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gabLPkTgbM gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gA4ZAMFYGl"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gA4ZAMFYGl">
        .gA4ZAMFYGl .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-gFI-Ce0zKw">
        .gFI-Ce0zKw {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
      
      
    <div
      parentTag="Col" id="g_i1DQRh03"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_i1DQRh03 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gaG0Q91m_Q gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gSX-gFwnIa "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSX-gFwnIa_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gTRWAGP-rs gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gvNHVKlcMv"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvNHVKlcMv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0gkan_k9e gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] gNU1XOPXVb"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gNU1XOPXVb">
        .gNU1XOPXVb .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-gvNHVKlcMv">
        .gvNHVKlcMv {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gmNCLTy38G gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] ghObDxfVrU"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-ghObDxfVrU">
        .ghObDxfVrU .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-g_i1DQRh03">
        .g_i1DQRh03 {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
      
      
    <div
      parentTag="Col" id="goBYQYUvr4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goBYQYUvr4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gVt_lQ8OrH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gDDDgZdL-c "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDDDgZdL-c_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gyb4kpjUiX gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQ7S3sKb4f"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ7S3sKb4f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRJ7goKLao gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] gJdprgTKQ1"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gJdprgTKQ1">
        .gJdprgTKQ1 .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-gQ7S3sKb4f">
        .gQ7S3sKb4f {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRIphhJrBK gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] ghdzoIFXqd"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-ghdzoIFXqd">
        .ghdzoIFXqd .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-goBYQYUvr4">
        .goBYQYUvr4 {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
      
      
    <div
      parentTag="Col" id="gnL13iAWuG"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnL13iAWuG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g0j4kwy7Md gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gKZJokrU0F "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKZJokrU0F_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gLP5QIQIrK gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g3iFihTRFt"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3iFihTRFt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guRe5IaF_B gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] gY0dwZ14Yn"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gY0dwZ14Yn">
        .gY0dwZ14Yn .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-g3iFihTRFt">
        .g3iFihTRFt {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gXS4YdcjJY gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] g9XgX83mdF"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-g9XgX83mdF">
        .g9XgX83mdF .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-gnL13iAWuG">
        .gnL13iAWuG {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
      
      
    <div
      parentTag="Col" id="gGezMT_yKe"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGezMT_yKe gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gLylRl2jsm gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gKTOtGDIWw "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKTOtGDIWw_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gS7L8y3_nn gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gOfu39qKV0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOfu39qKV0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g93C1F9YoN gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] g9zpR5aXmh"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-g9zpR5aXmh">
        .g9zpR5aXmh .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-gOfu39qKV0">
        .gOfu39qKV0 {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g53TLHlvFC gp-relative gp-flex gp-flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gu3RjzZBp2"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gu3RjzZBp2">
        .gu3RjzZBp2 .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
  
    
      <style id="custom-css-gGezMT_yKe">
        .gGezMT_yKe {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gJBGCMEFvx"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:48px;--mb-mobile:0px;--pt-mobile:42px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pt-tablet:42px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:462px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJBGCMEFvx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goYN4QqJu0 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    
  >
    <style>
    .gjm-0Jx-UP.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gjm-0Jx-UP:hover::before {
      
      
    }

    .gjm-0Jx-UP:hover .gp-button-icon {
      color: undefined;
    }

     .gjm-0Jx-UP .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gjm-0Jx-UP:hover .gp-button-price {
      color: undefined;
    }

    .gjm-0Jx-UP .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gjm-0Jx-UP .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gjm-0Jx-UP:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#gNdGsClNHP" target="_self" data-id="gjm-0Jx-UP" aria-label="<p>Start Losing Weight Now</p>"
      
      data-state="idle"
      class="gjm-0Jx-UP gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#E1481C;--bg:#EE6F4B;--radius:var(--g-radius-small);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:14px;--size-mobile:14px;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:14px;--size-mobile:14px"
      >
        {{ section.settings.ggjm-0Jx-UP_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    <div
      parentTag="Col"
        class="gZfW5y0lwf "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZfW5y0lwf_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-527170617330369558 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=524836910242268222&sectionId=527170617330369558)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggXz_2HQF84_text","label":"ggXz_2HQF84_text","default":"We're different"},{"type":"html","id":"ggmxCa5dSU7_text","label":"ggmxCa5dSU7_text","default":"<p>Its easy to see why NordBurn is recommended #1 by dietinians. The powerful ingredients.....</p>"},{"type":"html","id":"ggMsprYNRqA_text","label":"ggMsprYNRqA_text","default":"<p>NordBurn</p>"},{"type":"html","id":"ggLZ6moALsx_text","label":"ggLZ6moALsx_text","default":"<p>Other Brand</p>"},{"type":"html","id":"ggM-PIKre3v_text","label":"ggM-PIKre3v_text","default":"<p>Tailored nutrition</p>"},{"type":"html","id":"ggY083iytlO_text","label":"ggY083iytlO_text","default":"<p>Irresistible taste</p>"},{"type":"html","id":"ggSX-gFwnIa_text","label":"ggSX-gFwnIa_text","default":"<p>Natural, whole ingredients</p>"},{"type":"html","id":"ggDDDgZdL-c_text","label":"ggDDDgZdL-c_text","default":"<p>Optimal palatability</p>"},{"type":"html","id":"ggKZJokrU0F_text","label":"ggKZJokrU0F_text","default":"<p>Pet-loving formulation</p>"},{"type":"html","id":"ggKTOtGDIWw_text","label":"ggKTOtGDIWw_text","default":"<p>High digestibility</p>"},{"type":"html","id":"ggjm-0Jx-UP_label","label":"ggjm-0Jx-UP_label","default":"<p>Start Losing Weight Now</p>"},{"type":"html","id":"ggZfW5y0lwf_text","label":"ggZfW5y0lwf_text","default":"<p>*100% satisfaction. 30-day money-back guarantee</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
