

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-525396708864034015.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-525396708864034015.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-525396708864034015.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-525396708864034015.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-525396708864034015.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-525396708864034015.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-525396708864034015.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-525396708864034015.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-525396708864034015.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-525396708864034015.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-525396708864034015.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-525396708864034015.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-525396708864034015.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-525396708864034015.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-525396708864034015.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-525396708864034015.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-525396708864034015.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-525396708864034015.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-525396708864034015.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-525396708864034015.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-525396708864034015.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-525396708864034015.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-525396708864034015.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-525396708864034015.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-525396708864034015.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-525396708864034015.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-525396708864034015.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-525396708864034015.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-525396708864034015.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-525396708864034015.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-525396708864034015.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-525396708864034015.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-525396708864034015.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-525396708864034015.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-525396708864034015.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-525396708864034015.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-525396708864034015.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-525396708864034015.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-525396708864034015.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-525396708864034015.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-525396708864034015.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-525396708864034015.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-525396708864034015.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-525396708864034015.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-525396708864034015.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-525396708864034015.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-525396708864034015.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-525396708864034015.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-525396708864034015.gps.gpsil [style*="--objf-tablet:"]{-o-object-fit:var(--objf-tablet);object-fit:var(--objf-tablet)}.gps-525396708864034015.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-525396708864034015.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-525396708864034015.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-525396708864034015.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-525396708864034015.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-525396708864034015.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-525396708864034015.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-525396708864034015.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-525396708864034015.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-525396708864034015.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-525396708864034015.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-525396708864034015.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-525396708864034015.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-525396708864034015.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-525396708864034015.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-525396708864034015.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-525396708864034015.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-525396708864034015.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-525396708864034015.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-525396708864034015.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-525396708864034015.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-525396708864034015.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-525396708864034015 .gp-relative{position:relative}.gps-525396708864034015 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-525396708864034015 .gp-mb-0{margin-bottom:0}.gps-525396708864034015 .\!gp-inline{display:inline!important}.gps-525396708864034015 .gp-flex{display:flex}.gps-525396708864034015 .gp-grid{display:grid}.gps-525396708864034015 .\!gp-hidden{display:none!important}.gps-525396708864034015 .gp-hidden{display:none}.gps-525396708864034015 .gp-h-full{height:100%}.gps-525396708864034015 .gp-w-full{width:100%}.gps-525396708864034015 .gp-max-w-full{max-width:100%}.gps-525396708864034015 .gp-flex-col{flex-direction:column}.gps-525396708864034015 .gp-gap-y-0{row-gap:0}.gps-525396708864034015 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-525396708864034015 .gp-duration-200{transition-duration:.2s}.gps-525396708864034015 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-525396708864034015 .tablet\:\!gp-hidden{display:none!important}.gps-525396708864034015 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-525396708864034015 .mobile\:\!gp-hidden{display:none!important}.gps-525396708864034015 .mobile\:gp-hidden{display:none}}.gps-525396708864034015 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-525396708864034015 .\[\&_p\]\:gp-inline p{display:inline}.gps-525396708864034015 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-525396708864034015 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gveOX_z-Uc" data-id="gveOX_z-Uc"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:80px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:42px;--pl-mobile:15px;--pb-mobile:42px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFF2DE;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gveOX_z-Uc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBLU8xujyn gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gzAT-bQz0w" data-id="gzAT-bQz0w"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:0px;--mb-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzAT-bQz0w gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJhviKIB_e gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gk97TnU8mK">
    <div
      parentTag="Col"
        class="gk97TnU8mK "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggk97TnU8mK_text }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gcm-aIGFlx" data-id="gcm-aIGFlx"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:39px;--pl-mobile:25px;--pr-mobile:25px;--cg:24px;--cg-tablet:21px;--cg-mobile:21px;--pc:start;--pc-mobile:center;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcm-aIGFlx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gxoyrSObT2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gaifhfTdF0"
    role="presentation"
    class="gp-group/image gaifhfTdF0"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:350/99;--aspect-tablet:350/99;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:350/99;--aspect-tablet:350/99;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gaifhfTdF0">
        .gaifhfTdF0 {

}
.gaifhfTdF0 > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g0fIPHWv6g gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gTPN-3Ftgw"
    role="presentation"
    class="gp-group/image gTPN-3Ftgw"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pl:0px;--pl-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:307/90;--aspect-tablet:307/90;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:307/90;--aspect-tablet:307/90;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gTPN-3Ftgw">
        .gTPN-3Ftgw {

}
.gTPN-3Ftgw > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="ga5cWKLE1x gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gBXnlfjYpV"
    role="presentation"
    class="gp-group/image gBXnlfjYpV"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pl:0px;--pl-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:162/91;--aspect-tablet:162/91;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:162/91;--aspect-tablet:162/91;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gBXnlfjYpV">
        .gBXnlfjYpV {

}
.gBXnlfjYpV > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gcX5CNt44m gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gJD9Ob-lRd"
    role="presentation"
    class="gp-group/image gJD9Ob-lRd"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--ml:0px;--pl:0px;--mt-mobile:0px;--ml-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--pl-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:4/3;--objf:contain;--objf-tablet:contain;--objf-mobile:contain;--w:120px;--w-mobile:67px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:4/3;--objf:contain;--objf-tablet:contain;--objf-mobile:contain;--w:120px;--w-mobile:67px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gJD9Ob-lRd">
        .gJD9Ob-lRd {

}
.gJD9Ob-lRd > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-525396708864034015 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=524836910225491006&sectionId=525396708864034015)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggk97TnU8mK_text","label":"ggk97TnU8mK_text","default":"Scientifically Backed Ingredients Featured In"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
