

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527170617380701208.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527170617380701208.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527170617380701208.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527170617380701208.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527170617380701208.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527170617380701208.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527170617380701208.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527170617380701208.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527170617380701208.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527170617380701208.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527170617380701208.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-527170617380701208.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527170617380701208.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527170617380701208.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527170617380701208.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527170617380701208.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527170617380701208.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-527170617380701208.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-527170617380701208.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-527170617380701208.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-527170617380701208.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527170617380701208.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527170617380701208.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527170617380701208.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-527170617380701208.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-527170617380701208.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527170617380701208.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527170617380701208.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-527170617380701208.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-527170617380701208.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-527170617380701208.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-527170617380701208.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527170617380701208.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527170617380701208.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527170617380701208.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527170617380701208.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527170617380701208.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527170617380701208.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527170617380701208.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527170617380701208.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527170617380701208.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527170617380701208.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-527170617380701208.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-527170617380701208.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527170617380701208.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-527170617380701208.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527170617380701208.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-527170617380701208.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-527170617380701208.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-527170617380701208.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527170617380701208.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527170617380701208.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-527170617380701208.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-527170617380701208.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-527170617380701208.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527170617380701208.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-527170617380701208.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-527170617380701208.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-527170617380701208.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527170617380701208.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-527170617380701208.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-527170617380701208.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-527170617380701208.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-527170617380701208.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-527170617380701208.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-527170617380701208.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-527170617380701208.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527170617380701208.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527170617380701208.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527170617380701208.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527170617380701208.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-527170617380701208.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-527170617380701208 .gp-relative{position:relative}.gps-527170617380701208 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527170617380701208 .gp-mb-0{margin-bottom:0}.gps-527170617380701208 .\!gp-inline{display:inline!important}.gps-527170617380701208 .gp-flex{display:flex}.gps-527170617380701208 .gp-inline-flex{display:inline-flex}.gps-527170617380701208 .gp-grid{display:grid}.gps-527170617380701208 .\!gp-hidden{display:none!important}.gps-527170617380701208 .gp-hidden{display:none}.gps-527170617380701208 .gp-h-full{height:100%}.gps-527170617380701208 .gp-w-full{width:100%}.gps-527170617380701208 .gp-max-w-full{max-width:100%}.gps-527170617380701208 .gp-flex-col{flex-direction:column}.gps-527170617380701208 .gp-flex-wrap{flex-wrap:wrap}.gps-527170617380701208 .gp-items-center{align-items:center}.gps-527170617380701208 .gp-justify-center{justify-content:center}.gps-527170617380701208 .gp-gap-y-0{row-gap:0}.gps-527170617380701208 .gp-overflow-hidden{overflow:hidden}.gps-527170617380701208 .gp-leading-\[0\]{line-height:0}.gps-527170617380701208 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527170617380701208 .gp-duration-200{transition-duration:.2s}.gps-527170617380701208 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-527170617380701208 .tablet\:\!gp-hidden{display:none!important}.gps-527170617380701208 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-527170617380701208 .mobile\:\!gp-hidden{display:none!important}.gps-527170617380701208 .mobile\:gp-hidden{display:none}}.gps-527170617380701208 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-527170617380701208 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-527170617380701208 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-527170617380701208 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-527170617380701208 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-527170617380701208 .\[\&_p\]\:gp-inline p{display:inline}.gps-527170617380701208 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-527170617380701208 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gPiqj2r95Z"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:80px;--pb:80px;--pt-tablet:56px;--pb-tablet:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F8F8F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPiqj2r95Z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAPWsWWABp gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gIDvBi-LE-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIDvBi-LE- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gp1mTzgqED gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQJY1pLrAh"
        style="--b:solid;--bc:#424153;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:1px;--mb:0px;--mr:auto;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--cg:0px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:Auto;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQJY1pLrAh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRyLE7ze-D gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gspEGWsQp3"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mb:0px;--mr:auto;--pt:15px;--pl:24px;--pb:15px;--pr:24px;--mb-mobile:0px;--pt-mobile:15px;--pl-mobile:24px;--pb-mobile:15px;--pr-mobile:24px;--cg:32px;--pc:start;--gtc:minmax(0, auto);--w:Auto;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#424153;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gspEGWsQp3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxECTU8HKB gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gf3bZYIU3d "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggf3bZYIU3d_text }}</div>
      </div>
    </div>
      <style id="custom-css-gf3bZYIU3d">
        .gf3bZYIU3d {
    white-space: nowrap;
}
      </style>
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gmyVwJMhVe gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gBu9cDwh99"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--mb-mobile:0px;--pt-mobile:15px;--pl-mobile:24px;--pb-mobile:15px;--pr-mobile:24px;--cg:8px;--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:Auto;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBu9cDwh99 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gYfnq3aLmi gp-relative gp-flex gp-flex-col"
    >
      
    
      
      
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:4px;--jc:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g-prwCeJWi ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] glIyOFSUaD"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gWBbiiOfWV ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gfaBdtSM1l"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g6c7xzbBug ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gFSlWAXwze"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gjlJ2BGLAf ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gei2AeOSW0"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gIjld750wG ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gxT6kF8v52"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:17px;--w-mobile:15px;--h:17px;--h-mobile:15px;--minw:17px;--minw-mobile:15px;--height-desktop:17px;--height-tablet:17px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496642566205211487" xmlns="http://www.w3.org/2000/svg" width="16px" height="17px" viewBox="0 0 16 17" fill="none" preserveAspectRatio="none">
<g clip-path="url(#clip0_4598_32752)">
<path d="M5.35399 5.21861L7.53799 0.891609C7.57993 0.804563 7.64547 0.731043 7.72715 0.679419C7.80883 0.627795 7.90336 0.600143 7.99999 0.599609C8.18299 0.599609 8.36599 0.696609 8.46499 0.891609L10.649 5.21861L15.547 5.91461C15.6691 5.9338 15.7808 5.99452 15.8633 6.08652C15.9459 6.17851 15.9941 6.29616 16 6.41961C16.007 6.5018 15.9953 6.5845 15.9659 6.66155C15.9364 6.7386 15.89 6.80801 15.83 6.86461L12.307 10.2206L13.137 14.9506C13.215 15.3936 12.777 15.7406 12.391 15.5426L7.99999 13.2866L3.61099 15.5426C3.56508 15.5664 3.51587 15.5833 3.46499 15.5926C3.12299 15.6526 2.79699 15.3386 2.86499 14.9506L3.69499 10.2206L0.172988 6.86461C0.118233 6.81281 0.0747109 6.7503 0.0451227 6.68098C0.0155346 6.61165 0.000511966 6.53698 0.00098751 6.46161C0.00103952 6.35505 0.0304489 6.25056 0.0859875 6.15961C0.125386 6.09368 0.179086 6.03744 0.243125 5.99503C0.307164 5.95263 0.379908 5.92514 0.455988 5.91461L5.35399 5.21861ZM7.99999 12.1266C8.08071 12.1263 8.16031 12.1455 8.23199 12.1826L11.918 14.0766L11.224 10.1196C11.2076 10.0286 11.2138 9.93497 11.2421 9.84692C11.2703 9.75887 11.3197 9.6791 11.386 9.61461L14.293 6.84461L10.241 6.26861C10.1571 6.25594 10.0775 6.22312 10.0091 6.17296C9.94061 6.1228 9.88534 6.0568 9.84799 5.98061L8.00099 2.32261L7.99999 2.32561V12.1266Z" fill="#FFBB1C"/>
</g>
<defs>
<clipPath id="clip0_4598_32752">
<rect width="16" height="16" fill="white" transform="translate(0 0.0996094)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gxT6kF8v52">
        .gxT6kF8v52 .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gbNhqRtSu- gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gCFSXwtWzH "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCFSXwtWzH_text }}</div>
      </div>
    </div>
      <style id="custom-css-gCFSXwtWzH">
        .gCFSXwtWzH {
white-space: nowrap;
}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gixj_LlGma"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:48px;--mb-mobile:0px;--pt-mobile:42px;--cg:20px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gixj_LlGma gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGNUVP8kdw gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gw9IpmNJoP"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-19a9f43d-de65-4b03-8842-ad39a309b1c8.png?v=147868183323387028211704967826"
          alt=""
          fetchpriority="high"
          style="--aspect:680/455;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-19a9f43d-de65-4b03-8842-ad39a309b1c8.png?v=147868183323387028211704967826"
        alt=""
        style="--aspect:680/455;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:170px;--w-tablet:170px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGJoIFYyTB gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gtijLYFUWj"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:24px;--pl:24px;--pb:24px;--pr:24px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:10px;--pb-mobile:14px;--pr-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtijLYFUWj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzAWWUr-bp gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g_erzoScn8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_erzoScn8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gSp8MmLhbJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gbY8pBSugR "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:700;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:24px;--lh-mobile:24px;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggbY8pBSugR_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gsbUnIfDxx gp-relative gp-flex gp-flex-col"
    >
      
    
      
      
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:4px;--jc:right">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gLmmw5GRsN ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gTJ4MUy6da"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="giROYfEl1j ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gHj9CLpgU9"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gmuOLoUTLh ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] g7qlRvdre6"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gjrtwQzB_b ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gb1ASbawtY"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g_vSL7DGIW ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] giWygspx0r"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:17px;--w-mobile:15px;--h:17px;--h-mobile:15px;--minw:17px;--minw-mobile:15px;--height-desktop:17px;--height-tablet:17px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496642566205211487" xmlns="http://www.w3.org/2000/svg" width="16px" height="17px" viewBox="0 0 16 17" fill="none" preserveAspectRatio="none">
<g clip-path="url(#clip0_4598_32752)">
<path d="M5.35399 5.21861L7.53799 0.891609C7.57993 0.804563 7.64547 0.731043 7.72715 0.679419C7.80883 0.627795 7.90336 0.600143 7.99999 0.599609C8.18299 0.599609 8.36599 0.696609 8.46499 0.891609L10.649 5.21861L15.547 5.91461C15.6691 5.9338 15.7808 5.99452 15.8633 6.08652C15.9459 6.17851 15.9941 6.29616 16 6.41961C16.007 6.5018 15.9953 6.5845 15.9659 6.66155C15.9364 6.7386 15.89 6.80801 15.83 6.86461L12.307 10.2206L13.137 14.9506C13.215 15.3936 12.777 15.7406 12.391 15.5426L7.99999 13.2866L3.61099 15.5426C3.56508 15.5664 3.51587 15.5833 3.46499 15.5926C3.12299 15.6526 2.79699 15.3386 2.86499 14.9506L3.69499 10.2206L0.172988 6.86461C0.118233 6.81281 0.0747109 6.7503 0.0451227 6.68098C0.0155346 6.61165 0.000511966 6.53698 0.00098751 6.46161C0.00103952 6.35505 0.0304489 6.25056 0.0859875 6.15961C0.125386 6.09368 0.179086 6.03744 0.243125 5.99503C0.307164 5.95263 0.379908 5.92514 0.455988 5.91461L5.35399 5.21861ZM7.99999 12.1266C8.08071 12.1263 8.16031 12.1455 8.23199 12.1826L11.918 14.0766L11.224 10.1196C11.2076 10.0286 11.2138 9.93497 11.2421 9.84692C11.2703 9.75887 11.3197 9.6791 11.386 9.61461L14.293 6.84461L10.241 6.26861C10.1571 6.25594 10.0775 6.22312 10.0091 6.17296C9.94061 6.1228 9.88534 6.0568 9.84799 5.98061L8.00099 2.32261L7.99999 2.32561V12.1266Z" fill="#FFBB1C"/>
</g>
<defs>
<clipPath id="clip0_4598_32752">
<rect width="16" height="16" fill="white" transform="translate(0 0.0996094)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-giWygspx0r">
        .giWygspx0r .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gNY8aHUIIE "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:8px;--pb:8px;--mb-mobile:0px;--pt-mobile:7px;--pb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:700;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:24px;--lh-mobile:24px;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNY8aHUIIE_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gK-1RkowqR "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggK-1RkowqR_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g53HNHdlwr "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:32px;--mb-mobile:0px;--pt-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#7F7F8D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg53HNHdlwr_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      <style id="custom-css-gixj_LlGma">
        .gixj_LlGma {
--gtc: 170px minmax(0, 8fr) !important;
--gtc-mobile: 70px minmax(0, 8fr) !important;
}

      </style>
    
      
      
    <div
      parentTag="Col" id="gkgO5fX0pZ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:32px;--mb-mobile:0px;--pt-mobile:28px;--cg:20px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkgO5fX0pZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPXILLqmnM gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g80vincbzs"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-79249cb8-bd4d-4684-809d-809262dd5bd7.png?v=20381461471045078601704968849"
          alt=""
          fetchpriority="high"
          style="--aspect:680/455;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-79249cb8-bd4d-4684-809d-809262dd5bd7.png?v=20381461471045078601704968849"
        alt=""
        style="--aspect:680/455;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUAYuYChB6 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gqxVCuMXXg"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:24px;--pl:24px;--pb:24px;--pr:24px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:10px;--pb-mobile:14px;--pr-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqxVCuMXXg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5842r_VqJ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g6r7HXKJAK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6r7HXKJAK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gBySfDWLDf gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gP0A22LWuy "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:700;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:24px;--lh-mobile:24px;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggP0A22LWuy_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gHQ2E2LlLb gp-relative gp-flex gp-flex-col"
    >
      
    
      
      
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:4px;--jc:right">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gxCWlGpu3g ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] g3-Uo-WJPZ"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g-CCIFsqE0 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gCm4khmicv"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gpNkhZJypH ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] g_Mt2N-tyG"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gKbiCnUuht ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] g2G0hvFeUD"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gD4PT7PtU6 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gWachTSZ3H"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:17px;--w-mobile:15px;--h:17px;--h-mobile:15px;--minw:17px;--minw-mobile:15px;--height-desktop:17px;--height-tablet:17px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496642566205211487" xmlns="http://www.w3.org/2000/svg" width="16px" height="17px" viewBox="0 0 16 17" fill="none" preserveAspectRatio="none">
<g clip-path="url(#clip0_4598_32752)">
<path d="M5.35399 5.21861L7.53799 0.891609C7.57993 0.804563 7.64547 0.731043 7.72715 0.679419C7.80883 0.627795 7.90336 0.600143 7.99999 0.599609C8.18299 0.599609 8.36599 0.696609 8.46499 0.891609L10.649 5.21861L15.547 5.91461C15.6691 5.9338 15.7808 5.99452 15.8633 6.08652C15.9459 6.17851 15.9941 6.29616 16 6.41961C16.007 6.5018 15.9953 6.5845 15.9659 6.66155C15.9364 6.7386 15.89 6.80801 15.83 6.86461L12.307 10.2206L13.137 14.9506C13.215 15.3936 12.777 15.7406 12.391 15.5426L7.99999 13.2866L3.61099 15.5426C3.56508 15.5664 3.51587 15.5833 3.46499 15.5926C3.12299 15.6526 2.79699 15.3386 2.86499 14.9506L3.69499 10.2206L0.172988 6.86461C0.118233 6.81281 0.0747109 6.7503 0.0451227 6.68098C0.0155346 6.61165 0.000511966 6.53698 0.00098751 6.46161C0.00103952 6.35505 0.0304489 6.25056 0.0859875 6.15961C0.125386 6.09368 0.179086 6.03744 0.243125 5.99503C0.307164 5.95263 0.379908 5.92514 0.455988 5.91461L5.35399 5.21861ZM7.99999 12.1266C8.08071 12.1263 8.16031 12.1455 8.23199 12.1826L11.918 14.0766L11.224 10.1196C11.2076 10.0286 11.2138 9.93497 11.2421 9.84692C11.2703 9.75887 11.3197 9.6791 11.386 9.61461L14.293 6.84461L10.241 6.26861C10.1571 6.25594 10.0775 6.22312 10.0091 6.17296C9.94061 6.1228 9.88534 6.0568 9.84799 5.98061L8.00099 2.32261L7.99999 2.32561V12.1266Z" fill="#FFBB1C"/>
</g>
<defs>
<clipPath id="clip0_4598_32752">
<rect width="16" height="16" fill="white" transform="translate(0 0.0996094)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gWachTSZ3H">
        .gWachTSZ3H .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="guXRyWM0hH "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:8px;--pb:8px;--mb-mobile:0px;--pt-mobile:7px;--pb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:700;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:24px;--lh-mobile:24px;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gguXRyWM0hH_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gQGJBG3HNh "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQGJBG3HNh_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g8MjhFBtx- "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:32px;--mb-mobile:0px;--pt-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#7F7F8D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8MjhFBtx-_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      <style id="custom-css-gkgO5fX0pZ">
        .gkgO5fX0pZ {
--gtc: 170px minmax(0, 8fr) !important;
--gtc-mobile: 70px minmax(0, 8fr) !important;
}
      </style>
    
      
      
    <div
      parentTag="Col" id="gspBohNbEX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:32px;--mb-mobile:0px;--pt-mobile:28px;--cg:20px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gspBohNbEX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8sSYR38t_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gin7lxvrx0"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-d6644dff-5cd3-491a-80ad-a87219b08cfe.png?v=148938078325401553671704968833"
          alt=""
          fetchpriority="high"
          style="--aspect:680/455;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-d6644dff-5cd3-491a-80ad-a87219b08cfe.png?v=148938078325401553671704968833"
        alt=""
        style="--aspect:680/455;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gq2u6K4G7T gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4mhvs6TbV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:24px;--pl:24px;--pb:24px;--pr:24px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:10px;--pb-mobile:14px;--pr-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4mhvs6TbV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVKtQFaS1h gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gPE6EOmq1R"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPE6EOmq1R gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gsQNNbdGA1 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gd4RDks9z7 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:700;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:24px;--lh-mobile:24px;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggd4RDks9z7_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gUD56tLZ1r gp-relative gp-flex gp-flex-col"
    >
      
    
      
      
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:4px;--jc:right">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gj8GIguc49 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gxUS9QzkOM"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gX9JybYNlL ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gMP66ps6Y7"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="ggUps-bx6D ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gQVqkQpgal"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="glG_UBqUGJ ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] geZ2f9NcG8"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="grtY0UIrsn ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] g1gOyFpERh"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:17px;--w-mobile:15px;--h:17px;--h-mobile:15px;--minw:17px;--minw-mobile:15px;--height-desktop:17px;--height-tablet:17px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496642566205211487" xmlns="http://www.w3.org/2000/svg" width="16px" height="17px" viewBox="0 0 16 17" fill="none" preserveAspectRatio="none">
<g clip-path="url(#clip0_4598_32752)">
<path d="M5.35399 5.21861L7.53799 0.891609C7.57993 0.804563 7.64547 0.731043 7.72715 0.679419C7.80883 0.627795 7.90336 0.600143 7.99999 0.599609C8.18299 0.599609 8.36599 0.696609 8.46499 0.891609L10.649 5.21861L15.547 5.91461C15.6691 5.9338 15.7808 5.99452 15.8633 6.08652C15.9459 6.17851 15.9941 6.29616 16 6.41961C16.007 6.5018 15.9953 6.5845 15.9659 6.66155C15.9364 6.7386 15.89 6.80801 15.83 6.86461L12.307 10.2206L13.137 14.9506C13.215 15.3936 12.777 15.7406 12.391 15.5426L7.99999 13.2866L3.61099 15.5426C3.56508 15.5664 3.51587 15.5833 3.46499 15.5926C3.12299 15.6526 2.79699 15.3386 2.86499 14.9506L3.69499 10.2206L0.172988 6.86461C0.118233 6.81281 0.0747109 6.7503 0.0451227 6.68098C0.0155346 6.61165 0.000511966 6.53698 0.00098751 6.46161C0.00103952 6.35505 0.0304489 6.25056 0.0859875 6.15961C0.125386 6.09368 0.179086 6.03744 0.243125 5.99503C0.307164 5.95263 0.379908 5.92514 0.455988 5.91461L5.35399 5.21861ZM7.99999 12.1266C8.08071 12.1263 8.16031 12.1455 8.23199 12.1826L11.918 14.0766L11.224 10.1196C11.2076 10.0286 11.2138 9.93497 11.2421 9.84692C11.2703 9.75887 11.3197 9.6791 11.386 9.61461L14.293 6.84461L10.241 6.26861C10.1571 6.25594 10.0775 6.22312 10.0091 6.17296C9.94061 6.1228 9.88534 6.0568 9.84799 5.98061L8.00099 2.32261L7.99999 2.32561V12.1266Z" fill="#FFBB1C"/>
</g>
<defs>
<clipPath id="clip0_4598_32752">
<rect width="16" height="16" fill="white" transform="translate(0 0.0996094)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-g1gOyFpERh">
        .g1gOyFpERh .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gI2ghUAonn "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:8px;--pb:8px;--mb-mobile:0px;--pt-mobile:7px;--pb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:700;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:24px;--lh-tablet:24px;--lh-mobile:24px;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggI2ghUAonn_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gFCf_1SxEl "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFCf_1SxEl_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g25MwRzcF3 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:32px;--mb-mobile:0px;--pt-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#7F7F8D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg25MwRzcF3_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      <style id="custom-css-gspBohNbEX">
        .gspBohNbEX {
--gtc: 170px minmax(0, 8fr) !important;
--gtc-mobile: 70px minmax(0, 8fr) !important;
}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-527170617380701208 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=524836910242268222&sectionId=527170617380701208)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggf3bZYIU3d_text","label":"ggf3bZYIU3d_text","default":"<p>Let customers speak for us</p>"},{"type":"html","id":"ggCFSXwtWzH_text","label":"ggCFSXwtWzH_text","default":"<p>from 3 reviews</p>"},{"type":"html","id":"ggbY8pBSugR_text","label":"ggbY8pBSugR_text","default":"<p>NellaMeg</p>"},{"type":"html","id":"ggNY8aHUIIE_text","label":"ggNY8aHUIIE_text","default":"<p>They have a leaner and more toned physique...</p>"},{"type":"html","id":"ggK-1RkowqR_text","label":"ggK-1RkowqR_text","default":"<p>The carefully selected protein sources in this dog food have made a noticeable difference in my dog's muscle development and strength. They have a leaner and more toned physique, which is a testament to the high-quality ingredients in this food.</p>"},{"type":"html","id":"gg53HNHdlwr_text","label":"gg53HNHdlwr_text","default":"<p>02/21/2024</p>"},{"type":"html","id":"ggP0A22LWuy_text","label":"ggP0A22LWuy_text","default":"<p>LeighPop</p>"},{"type":"html","id":"gguXRyWM0hH_text","label":"gguXRyWM0hH_text","default":"<p>I am grateful...</p>"},{"type":"html","id":"ggQGJBG3HNh_text","label":"ggQGJBG3HNh_text","default":"<p>I am grateful for the inclusion of joint-supporting ingredients like glucosamine and chondroitin in this dog food. It has had a significant impact on my dog's mobility and has alleviated any discomfort they may have experienced previously.</p>"},{"type":"html","id":"gg8MjhFBtx-_text","label":"gg8MjhFBtx-_text","default":"<p>02/21/2024</p>"},{"type":"html","id":"ggd4RDks9z7_text","label":"ggd4RDks9z7_text","default":"<p>AndiMel</p>"},{"type":"html","id":"ggI2ghUAonn_text","label":"ggI2ghUAonn_text","default":"<p>This dog food has been a game-changer...</p>"},{"type":"html","id":"ggFCf_1SxEl_text","label":"ggFCf_1SxEl_text","default":"<p>As my dog enters their senior years, it is crucial to provide them with a diet that supports their aging body. This dog food has been a game-changer, as it has helped them maintain their mobility and eased any joint discomfort they may have had.</p>"},{"type":"html","id":"gg25MwRzcF3_text","label":"gg25MwRzcF3_text","default":"<p>02/21/2024</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
