
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527413011342689304.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-527413011342689304.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527413011342689304.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527413011342689304.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527413011342689304.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527413011342689304.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527413011342689304.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527413011342689304.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527413011342689304.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527413011342689304.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527413011342689304.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-527413011342689304.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527413011342689304.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-527413011342689304.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-527413011342689304.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527413011342689304.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-527413011342689304.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-527413011342689304.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-527413011342689304.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527413011342689304.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527413011342689304.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527413011342689304.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527413011342689304.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-527413011342689304.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-527413011342689304.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-527413011342689304.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-527413011342689304.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527413011342689304.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527413011342689304.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527413011342689304.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-527413011342689304.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-527413011342689304.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-527413011342689304.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-527413011342689304.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527413011342689304.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527413011342689304.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-527413011342689304.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-527413011342689304.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527413011342689304.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527413011342689304.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527413011342689304.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527413011342689304.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527413011342689304.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527413011342689304.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527413011342689304.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527413011342689304.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527413011342689304.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527413011342689304.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-527413011342689304.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-527413011342689304.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527413011342689304.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-527413011342689304.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527413011342689304.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-527413011342689304.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-527413011342689304.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527413011342689304.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527413011342689304.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-527413011342689304.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-527413011342689304.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-527413011342689304.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527413011342689304.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-527413011342689304.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527413011342689304.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-527413011342689304.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-527413011342689304.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-527413011342689304.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527413011342689304.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527413011342689304.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527413011342689304.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527413011342689304.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-527413011342689304.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-527413011342689304 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-527413011342689304 .gp-relative{position:relative}.gps-527413011342689304 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527413011342689304 .gp-mb-0{margin-bottom:0}.gps-527413011342689304 .gp-inline-block{display:inline-block}.gps-527413011342689304 .gp-flex{display:flex}.gps-527413011342689304 .gp-grid{display:grid}.gps-527413011342689304 .gp-contents{display:contents}.gps-527413011342689304 .\!gp-hidden{display:none!important}.gps-527413011342689304 .gp-hidden{display:none}.gps-527413011342689304 .gp-h-auto{height:auto}.gps-527413011342689304 .gp-h-full{height:100%}.gps-527413011342689304 .gp-w-full{width:100%}.gps-527413011342689304 .gp-max-w-full{max-width:100%}.gps-527413011342689304 .gp-flex-none{flex:none}.gps-527413011342689304 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-527413011342689304 .gp-flex-col{flex-direction:column}.gps-527413011342689304 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527413011342689304 .gp-duration-200{transition-duration:.2s}.gps-527413011342689304 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-527413011342689304 .tablet\:\!gp-hidden{display:none!important}.gps-527413011342689304 .tablet\:gp-hidden{display:none}.gps-527413011342689304 .tablet\:gp-h-auto{height:auto}.gps-527413011342689304 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-527413011342689304 .mobile\:\!gp-hidden{display:none!important}.gps-527413011342689304 .mobile\:gp-hidden{display:none}.gps-527413011342689304 .mobile\:gp-h-auto{height:auto}.gps-527413011342689304 .mobile\:gp-flex-none{flex:none}}.gps-527413011342689304 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gqqRvGOJdY"}' data-id="gqqRvGOJdY" id="gqqRvGOJdY" data-same-height-subgrid-container class="gqqRvGOJdY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:16px;--pt-mobile:0px;--pb-mobile:14px;--pt-tablet:0px;--pb-tablet:16px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDlP__sSMx gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6125Yi8W8"
        class="g6125Yi8W8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030200383"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:#F9F9F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:8px;--pb:8px;--pt-mobile:7px;--pb-mobile:7px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6125Yi8W8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g6125Yi8W8">
        .g6125Yi8W8 {

}
.g6125Yi8W8 p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxaqBHy4Iw"}' data-id="gxaqBHy4Iw" id="gxaqBHy4Iw" data-same-height-subgrid-container class="gxaqBHy4Iw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:48px;--pb:0px;--pt-mobile:20px;--pl-mobile:20px;--pr-mobile:20px;--pt-tablet:48px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:580px;--w-tablet:580px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYXypdnYLX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYmyuPT-Py"
        class="gYmyuPT-Py"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pb:0px;--mb-mobile:14px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030200383"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYmyuPT-Py_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkesR3vUql"
        class="gkesR3vUql"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pb:0px;--mb-mobile:14px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030200384"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkesR3vUql_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gErX4Z0IeM"
        class="gErX4Z0IeM"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030200384"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggErX4Z0IeM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gErX4Z0IeM">
        .gErX4Z0IeM {

}
.gErX4Z0IeM p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOEXZrgwmb"
        class="gOEXZrgwmb"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030200384"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOEXZrgwmb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gOEXZrgwmb">
        .gOEXZrgwmb {

}
.gOEXZrgwmb p {

}
      </style>
    
    <div
      role="presentation"
      data-id="glGKqICJ9Y"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756030200384 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto glGKqICJ9Y"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-9fb66225-eac5-464c-acee-f7ce34a84287.png" | file_url }}" srcset="{{ "gempages_524836908077941734-9fb66225-eac5-464c-acee-f7ce34a84287.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-9fb66225-eac5-464c-acee-f7ce34a84287.png" | file_url }}" srcset="{{ "gempages_524836908077941734-9fb66225-eac5-464c-acee-f7ce34a84287.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_524836908077941734-9fb66225-eac5-464c-acee-f7ce34a84287.png" | file_url }}" data-src="{{ "gempages_524836908077941734-9fb66225-eac5-464c-acee-f7ce34a84287.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-glGKqICJ9Y">
        .glGKqICJ9Y {

}
.glGKqICJ9Y > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8tmdyqQXp"
        class="g8tmdyqQXp"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:16px;--mb:32px;--pb:0px;--mt-mobile:14px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030200385"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:none;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8tmdyqQXp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g8tmdyqQXp">
        .g8tmdyqQXp {

}
.g8tmdyqQXp p {

}
      </style>
    
    <div
      role="presentation"
      data-id="giLvnTzqHd"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756030200385 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto giLvnTzqHd"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-e7fe2740-c295-49cf-a04c-cefff1fc2dda.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MDAiIGZpbGw9InVybCgjZy0xMjAwLTYwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-e7fe2740-c295-49cf-a04c-cefff1fc2dda.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MDAiIGZpbGw9InVybCgjZy0xMjAwLTYwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_524836908077941734-e7fe2740-c295-49cf-a04c-cefff1fc2dda.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtNjAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MDAiIGZpbGw9InVybCgjZy0xMjAwLTYwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_524836908077941734-e7fe2740-c295-49cf-a04c-cefff1fc2dda.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g21G6U8eBu"
        class="g21G6U8eBu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030200385"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg21G6U8eBu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghWBOwLnT_"
        class="ghWBOwLnT_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030200385"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghWBOwLnT__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gO0jXZ4iuN"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756030200386 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gO0jXZ4iuN"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-3b6edd2d-9bf7-4c3f-becd-f3c20f27e55a.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-3b6edd2d-9bf7-4c3f-becd-f3c20f27e55a.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_524836908077941734-3b6edd2d-9bf7-4c3f-becd-f3c20f27e55a.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_524836908077941734-3b6edd2d-9bf7-4c3f-becd-f3c20f27e55a.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4vAlX3Lbe"
        class="g4vAlX3Lbe"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030200386"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4vAlX3Lbe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-527413011342689304 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=527412945089463249&sectionId=527413011342689304)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg6125Yi8W8_text","label":"gg6125Yi8W8_text","default":"<p>republished from <strong>Healthline / Health News&nbsp;</strong></p>"},{"type":"html","id":"ggYmyuPT-Py_text","label":"ggYmyuPT-Py_text","default":"<strong>Curious About Using Ozempic for Weight Loss? An Endocrinology Specialist Reveals New Insights on Ozempic and Its Potential Risks (<u>updated October 2024</u>)</strong>"},{"type":"html","id":"ggkesR3vUql_text","label":"ggkesR3vUql_text","default":"<i>\"Unfortunately, those who have used Ozempic for weight loss have already reported significant side effects.\"</i>"},{"type":"html","id":"ggErX4Z0IeM_text","label":"ggErX4Z0IeM_text","default":"<p><strong>Published by Dr. Laura Greenfield, MD</strong></p>"},{"type":"html","id":"ggOEXZrgwmb_text","label":"ggOEXZrgwmb_text","default":"<p>September 25, 2024</p>"},{"type":"html","id":"gg8tmdyqQXp_text","label":"gg8tmdyqQXp_text","default":"<p><span style=\"font-size:19px;\">\"Ozempic’s current popularity doesn’t shock me. What does surprise me is how many people want to use it off-label for weight loss rather than its intended purpose,\" states Dr. Stacey Brooke, an Endocrinologist.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">\"Some Americans are making efforts to improve their health through proper nutrition and regular exercise. Others are anxious about how their appearance is perceived. But many still expect to shed pounds without making significant changes to their lifestyle or eating habits. That’s where Ozempic comes into play,\" she explains.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Given these factors, it’s no wonder Ozempic has become a trending topic for those searching for ‘easier’ weight loss options. <strong>But is there a hidden cost?</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">\"I’m frequently asked about Ozempic as a <strong>‘miracle weight loss solution.’</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">First, it's a diabetes medication <strong>not FDA-approved</strong> for weight loss.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Second, there have already been reports of <strong>serious side effects</strong>, which I’ll delve into shortly.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Lastly, after thorough research, I’ve found a safer, non-prescription alternative that offers similar results without the dangerous side effects,\" Dr. Brooke reveals.</span></p>"},{"type":"html","id":"gg21G6U8eBu_text","label":"gg21G6U8eBu_text","default":"<p><span style=\"font-size:21px;\"><strong>\"Before diving into this alternative, let’s first understand how Ozempic facilitates weight loss.\"</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">The doctor explains that Ozempic was initially designed to help people with type 2 diabetes manage their blood sugar levels and lower their A1C.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“Ozempic mimics a hormone known as GLP-1, which serves three main functions:</span></p><ol><li><span style=\"font-size:19px;\">It signals the pancreas to release insulin when blood sugar spikes.</span></li><li><span style=\"font-size:19px;\">It stops the liver from producing too much glucose.</span></li><li><span style=\"font-size:19px;\">It slows the rate at which food leaves the stomach, reducing appetite.</span></li></ol><p><span style=\"font-size:19px;\">This slower digestion is crucial for weight loss,” Dr. Brooke notes.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">When food exits the stomach more slowly, individuals feel fuller for longer, which reduces the urge to overeat. \"As a result, you consume fewer calories and lose weight naturally without intense cravings, since you always feel full. It may seem like a foolproof solution,\" the doctor explains.</span></p><p>&nbsp;</p><p><span style=\"font-size:21px;\"><strong>Unfortunately, those who have used Ozempic for weight loss have already reported significant side effects.</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Despite its online popularity, Ozempic reviews are far from glowing. <strong>Many users are experiencing serious complications after using the drug.</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Here are just a few examples:</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><i>“After one week on this medication, I’ve never felt more miserable or sick in my life. I can’t fathom why anyone would endure this just to lose weight.”</i></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><i>“The side effects hit hard and fast. Even half a sandwich left me so bloated, I couldn’t stop burping.”</i></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><i>“Within four hours of my first dose, I had nonstop projectile vomiting and diarrhea.”</i></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">But those are only the short-term effects.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><strong>\"The potential long-term consequences of using Ozempic off-label include hypoglycemia, kidney failure, and even cancer.&nbsp;</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Even without these severe side effects, would you want to rely on a diabetes medication indefinitely? Because once you stop taking Ozempic, the hunger and cravings return almost immediately—along with the weight,” Dr. Brooke explains.</span></p>"},{"type":"html","id":"gghWBOwLnT__text","label":"gghWBOwLnT__text","default":"<p>&nbsp;</p><p><span style=\"font-size:21px;\"><strong>“The alternative I’ve found promotes weight loss in a similar way but without the dangerous side effects,” she continues.</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">With all the attention around Ozempic, you may have come across the term GLP-1. This hormone plays a key role in controlling satiety and stimulating insulin production.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">A mechanism of Ozempic definitely works. Research has shown that certain natural ingredients—such as Chromium, Chlorine, Garcinia Cambogia, L-Carnitine, Spirulina, and more—can mimic effects of Ozempic.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><strong>“This safe alternative helps people achieve weight loss without harmful side effects or painful injections</strong>. And unlike Ozempic, ingredients like Chromium and Garcinia Cambogia suppress appetite through different pathways, making them much safer,” Dr. Brooke explains.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">For example, <strong>Garcinia Cambogia’s active ingredient, hydroxycitric acid (HCA), blocks the enzyme citrate lyase, which the body uses to produce fat</strong>. It also increases serotonin levels, which may help reduce appetite.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Another key ingredient is <strong>Chromium picolinate</strong>, which works with insulin to metabolize carbohydrates, aiding in weight loss.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“Without going too deep into the science, these alternatives help reduce cravings, enhance fat burning, and suppress appetite, leading to a lower calorie intake,” Dr. Brooke clarifies.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">She also addresses the skepticism that some may have. After all, many people have tried fat-burning supplements before with little to no success.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“The issue is that not all fat-burning supplements are created equal. To target similar benefits to Ozempic, you need the right formula. That’s why choosing a high-quality supplement is critical,” she notes.”</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“I recommend a specific supplement to all my patients who ask for Ozempic, and the feedback has been overwhelmingly positive,” says Dr. Brooke.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Instead of just saying no to those asking for Ozempic, Dr. Brooke explains its side effects and suggests the </span><a href=\"https://nordburn.com/products/fat-burner-with-mct\" target=\"_blank\"><span style=\"font-size:19px;\"><strong><u>Nordburn Fat Burner</u></strong></span></a><span style=\"font-size:19px;\"> as a safer alternative.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">According to her, none of her patients have been disappointed with the results.</span></p>"},{"type":"html","id":"gg4vAlX3Lbe_text","label":"gg4vAlX3Lbe_text","default":"<p><span style=\"font-size:19px;\">Dr. Brooke outlines three criteria she uses when selecting an alternative fat burner:</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">1. It must contain a proprietary blend of <strong>29 active ingredients</strong>, which is unique to </span><a href=\"https://nordburn.com/products/fat-burner-with-mct\" target=\"_blank\"><span style=\"font-size:19px;\"><u>Nordburn Fat Burner</u></span></a><span style=\"font-size:19px;\">.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><strong>2. It must be manufactured in a facility that adheres to Good Manufacturing Practices (GMP) and undergoes regular lab testing.</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><strong>3. It must use top-quality, non-GMO ingredients with little to no side effects.</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“There are only a few options on the market that meet these standards, and Nordburn Fat Burner is a standout.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">It contains Chromium Picolinate, Chlorine, Garcinia Cambogia, L-carnitine, MTC Oil, CLA, GLA, and B-group vitamins, which work together to support fat loss, appetite control, and metabolism.”</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“In short, this supplement offers everything I’ve been looking for,” she concludes.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Dr. Brooke adds that there’s one surprising ‘side effect’—people who switched to Nordburn Fat Burner instead of Ozempic were amazed by the results. Along with steady weight loss and reduced cravings, they found the capsules to be much easier and more socially acceptable than Ozempic injections.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“Unlike Ozempic, Nordburn is convenient and hassle-free,” Dr. Brooke finishes with a smile.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  