

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527413011342689304.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527413011342689304.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527413011342689304.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527413011342689304.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527413011342689304.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527413011342689304.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527413011342689304.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527413011342689304.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527413011342689304.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527413011342689304.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527413011342689304.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527413011342689304.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527413011342689304.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527413011342689304.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527413011342689304.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527413011342689304.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-527413011342689304.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-527413011342689304.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-527413011342689304.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-527413011342689304.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527413011342689304.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527413011342689304.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527413011342689304.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-527413011342689304.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-527413011342689304.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527413011342689304.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527413011342689304.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-527413011342689304.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-527413011342689304.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527413011342689304.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527413011342689304.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527413011342689304.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527413011342689304.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527413011342689304.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527413011342689304.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527413011342689304.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527413011342689304.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527413011342689304.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527413011342689304.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-527413011342689304.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-527413011342689304.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527413011342689304.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-527413011342689304.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527413011342689304.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-527413011342689304.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-527413011342689304.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527413011342689304.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527413011342689304.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-527413011342689304.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-527413011342689304.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-527413011342689304.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527413011342689304.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-527413011342689304.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527413011342689304.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-527413011342689304.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-527413011342689304.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-527413011342689304.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527413011342689304.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527413011342689304.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527413011342689304.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527413011342689304.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-527413011342689304.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-527413011342689304 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-527413011342689304 .gp-relative{position:relative}.gps-527413011342689304 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527413011342689304 .gp-mb-0{margin-bottom:0}.gps-527413011342689304 .\!gp-inline{display:inline!important}.gps-527413011342689304 .gp-flex{display:flex}.gps-527413011342689304 .gp-grid{display:grid}.gps-527413011342689304 .\!gp-hidden{display:none!important}.gps-527413011342689304 .gp-hidden{display:none}.gps-527413011342689304 .gp-h-full{height:100%}.gps-527413011342689304 .gp-w-full{width:100%}.gps-527413011342689304 .gp-max-w-full{max-width:100%}.gps-527413011342689304 .gp-flex-col{flex-direction:column}.gps-527413011342689304 .gp-gap-y-0{row-gap:0}.gps-527413011342689304 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527413011342689304 .gp-duration-200{transition-duration:.2s}.gps-527413011342689304 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-527413011342689304 .tablet\:\!gp-hidden{display:none!important}.gps-527413011342689304 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-527413011342689304 .mobile\:\!gp-hidden{display:none!important}.gps-527413011342689304 .mobile\:gp-hidden{display:none}}.gps-527413011342689304 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-527413011342689304 .\[\&_p\]\:gp-inline p{display:inline}.gps-527413011342689304 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-527413011342689304 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gqqRvGOJdY"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--pt:0px;--pb:16px;--pt-mobile:0px;--pb-mobile:14px;--pt-tablet:0px;--pb-tablet:16px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqqRvGOJdY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDlP__sSMx gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g6125Yi8W8 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:0px;--pt:0px;--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:#F9F9F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:8px;--pb:8px;--pt-mobile:7px;--pb-mobile:7px;overflow:hidden"
        >{{ section.settings.gg6125Yi8W8_text }}</div>
      </div>
    </div>
      <style id="custom-css-g6125Yi8W8">
        .g6125Yi8W8 {

}
.g6125Yi8W8 p {

}
      </style>
    
      
      
    <div
      parentTag="Col" id="gxaqBHy4Iw"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--pt:48px;--pb:0px;--pt-mobile:20px;--pl-mobile:20px;--pr-mobile:20px;--pt-tablet:48px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:580px;--w-tablet:580px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxaqBHy4Iw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYXypdnYLX gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gYmyuPT-Py "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:12px;--pb:0px;--mb-mobile:14px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYmyuPT-Py_text }}</h1>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gkesR3vUql "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:12px;--pb:0px;--mb-mobile:14px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggkesR3vUql_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gErX4Z0IeM "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:4px;--mb-mobile:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggErX4Z0IeM_text }}</div>
      </div>
    </div>
      <style id="custom-css-gErX4Z0IeM">
        .gErX4Z0IeM {

}
.gErX4Z0IeM p {

}
      </style>
    
    <div
      parentTag="Col"
        class="gOEXZrgwmb "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:32px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOEXZrgwmb_text }}</div>
      </div>
    </div>
      <style id="custom-css-gOEXZrgwmb">
        .gOEXZrgwmb {

}
.gOEXZrgwmb p {

}
      </style>
    <div
    
    role="presentation"
    class="gp-group/image glGKqICJ9Y"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-9fb66225-eac5-464c-acee-f7ce34a84287.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1200/600;--aspect-tablet:1200/600;--aspect-mobile:1200/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-9fb66225-eac5-464c-acee-f7ce34a84287.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1200/600;--aspect-tablet:1200/600;--aspect-mobile:1200/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-glGKqICJ9Y">
        .glGKqICJ9Y {

}
.glGKqICJ9Y > figure > img {

}
      </style>
    
    <div
      parentTag="Col"
        class="g8tmdyqQXp "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:16px;--mb:32px;--pb:0px;--mt-mobile:14px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8tmdyqQXp_text }}</div>
      </div>
    </div>
      <style id="custom-css-g8tmdyqQXp">
        .g8tmdyqQXp {

}
.g8tmdyqQXp p {

}
      </style>
    <div
    
    role="presentation"
    class="gp-group/image giLvnTzqHd"
    style="--mb:32px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-e7fe2740-c295-49cf-a04c-cefff1fc2dda.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1200/600;--aspect-tablet:1200/600;--aspect-mobile:1200/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-e7fe2740-c295-49cf-a04c-cefff1fc2dda.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1200/600;--aspect-tablet:1200/600;--aspect-mobile:1200/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    <div
      parentTag="Col"
        class="g21G6U8eBu "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg21G6U8eBu_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="ghWBOwLnT_ "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghWBOwLnT__text }}</div>
      </div>
    </div><div
    
    role="presentation"
    class="gp-group/image gO0jXZ4iuN"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-3b6edd2d-9bf7-4c3f-becd-f3c20f27e55a.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1000/1000;--aspect-tablet:1000/1000;--aspect-mobile:1000/1000;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-3b6edd2d-9bf7-4c3f-becd-f3c20f27e55a.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1000/1000;--aspect-tablet:1000/1000;--aspect-mobile:1000/1000;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    <div
      parentTag="Col"
        class="g4vAlX3Lbe "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4vAlX3Lbe_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-527413011342689304 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=527412945089463249&sectionId=527413011342689304)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg6125Yi8W8_text","label":"gg6125Yi8W8_text","default":"<p>republished from <strong>Healthline / Health News&nbsp;</strong></p>"},{"type":"html","id":"ggYmyuPT-Py_text","label":"ggYmyuPT-Py_text","default":"<strong>Curious About Using Ozempic for Weight Loss? An Endocrinology Specialist Reveals New Insights on Ozempic and Its Potential Risks (<u>updated October 2024</u>)</strong>"},{"type":"html","id":"ggkesR3vUql_text","label":"ggkesR3vUql_text","default":"<i>\"Unfortunately, those who have used Ozempic for weight loss have already reported significant side effects.\"</i>"},{"type":"html","id":"ggErX4Z0IeM_text","label":"ggErX4Z0IeM_text","default":"<p><strong>Published by Dr. Laura Greenfield, MD</strong></p>"},{"type":"html","id":"ggOEXZrgwmb_text","label":"ggOEXZrgwmb_text","default":"<p>September 25, 2024</p>"},{"type":"html","id":"gg8tmdyqQXp_text","label":"gg8tmdyqQXp_text","default":"<p><span style=\"font-size:19px;\">\"Ozempic’s current popularity doesn’t shock me. What does surprise me is how many people want to use it off-label for weight loss rather than its intended purpose,\" states Dr. Stacey Brooke, an Endocrinologist.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">\"Some Americans are making efforts to improve their health through proper nutrition and regular exercise. Others are anxious about how their appearance is perceived. But many still expect to shed pounds without making significant changes to their lifestyle or eating habits. That’s where Ozempic comes into play,\" she explains.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Given these factors, it’s no wonder Ozempic has become a trending topic for those searching for ‘easier’ weight loss options. <strong>But is there a hidden cost?</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">\"I’m frequently asked about Ozempic as a <strong>‘miracle weight loss solution.’</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">First, it's a diabetes medication <strong>not FDA-approved</strong> for weight loss.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Second, there have already been reports of <strong>serious side effects</strong>, which I’ll delve into shortly.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Lastly, after thorough research, I’ve found a safer, non-prescription alternative that offers similar results without the dangerous side effects,\" Dr. Brooke reveals.</span></p>"},{"type":"html","id":"gg21G6U8eBu_text","label":"gg21G6U8eBu_text","default":"<p><span style=\"font-size:21px;\"><strong>\"Before diving into this alternative, let’s first understand how Ozempic facilitates weight loss.\"</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">The doctor explains that Ozempic was initially designed to help people with type 2 diabetes manage their blood sugar levels and lower their A1C.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“Ozempic mimics a hormone known as GLP-1, which serves three main functions:</span></p><ol><li><span style=\"font-size:19px;\">It signals the pancreas to release insulin when blood sugar spikes.</span></li><li><span style=\"font-size:19px;\">It stops the liver from producing too much glucose.</span></li><li><span style=\"font-size:19px;\">It slows the rate at which food leaves the stomach, reducing appetite.</span></li></ol><p><span style=\"font-size:19px;\">This slower digestion is crucial for weight loss,” Dr. Brooke notes.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">When food exits the stomach more slowly, individuals feel fuller for longer, which reduces the urge to overeat. \"As a result, you consume fewer calories and lose weight naturally without intense cravings, since you always feel full. It may seem like a foolproof solution,\" the doctor explains.</span></p><p>&nbsp;</p><p><span style=\"font-size:21px;\"><strong>Unfortunately, those who have used Ozempic for weight loss have already reported significant side effects.</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Despite its online popularity, Ozempic reviews are far from glowing. <strong>Many users are experiencing serious complications after using the drug.</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Here are just a few examples:</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><i>“After one week on this medication, I’ve never felt more miserable or sick in my life. I can’t fathom why anyone would endure this just to lose weight.”</i></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><i>“The side effects hit hard and fast. Even half a sandwich left me so bloated, I couldn’t stop burping.”</i></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><i>“Within four hours of my first dose, I had nonstop projectile vomiting and diarrhea.”</i></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">But those are only the short-term effects.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><strong>\"The potential long-term consequences of using Ozempic off-label include hypoglycemia, kidney failure, and even cancer.&nbsp;</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Even without these severe side effects, would you want to rely on a diabetes medication indefinitely? Because once you stop taking Ozempic, the hunger and cravings return almost immediately—along with the weight,” Dr. Brooke explains.</span></p>"},{"type":"html","id":"gghWBOwLnT__text","label":"gghWBOwLnT__text","default":"<p>&nbsp;</p><p><span style=\"font-size:21px;\"><strong>“The alternative I’ve found promotes weight loss in a similar way but without the dangerous side effects,” she continues.</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">With all the attention around Ozempic, you may have come across the term GLP-1. This hormone plays a key role in controlling satiety and stimulating insulin production.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">A mechanism of Ozempic definitely works. Research has shown that certain natural ingredients—such as Chromium, Chlorine, Garcinia Cambogia, L-Carnitine, Spirulina, and more—can mimic effects of Ozempic.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><strong>“This safe alternative helps people achieve weight loss without harmful side effects or painful injections</strong>. And unlike Ozempic, ingredients like Chromium and Garcinia Cambogia suppress appetite through different pathways, making them much safer,” Dr. Brooke explains.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">For example, <strong>Garcinia Cambogia’s active ingredient, hydroxycitric acid (HCA), blocks the enzyme citrate lyase, which the body uses to produce fat</strong>. It also increases serotonin levels, which may help reduce appetite.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Another key ingredient is <strong>Chromium picolinate</strong>, which works with insulin to metabolize carbohydrates, aiding in weight loss.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“Without going too deep into the science, these alternatives help reduce cravings, enhance fat burning, and suppress appetite, leading to a lower calorie intake,” Dr. Brooke clarifies.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">She also addresses the skepticism that some may have. After all, many people have tried fat-burning supplements before with little to no success.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“The issue is that not all fat-burning supplements are created equal. To target similar benefits to Ozempic, you need the right formula. That’s why choosing a high-quality supplement is critical,” she notes.”</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“I recommend a specific supplement to all my patients who ask for Ozempic, and the feedback has been overwhelmingly positive,” says Dr. Brooke.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Instead of just saying no to those asking for Ozempic, Dr. Brooke explains its side effects and suggests the </span><a href=\"https://nordburn.com/products/fat-burner-with-mct\" target=\"_blank\"><span style=\"font-size:19px;\"><strong><u>Nordburn Fat Burner</u></strong></span></a><span style=\"font-size:19px;\"> as a safer alternative.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">According to her, none of her patients have been disappointed with the results.</span></p>"},{"type":"html","id":"gg4vAlX3Lbe_text","label":"gg4vAlX3Lbe_text","default":"<p><span style=\"font-size:19px;\">Dr. Brooke outlines three criteria she uses when selecting an alternative fat burner:</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">1. It must contain a proprietary blend of <strong>29 active ingredients</strong>, which is unique to </span><a href=\"https://nordburn.com/products/fat-burner-with-mct\" target=\"_blank\"><span style=\"font-size:19px;\"><u>Nordburn Fat Burner</u></span></a><span style=\"font-size:19px;\">.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><strong>2. It must be manufactured in a facility that adheres to Good Manufacturing Practices (GMP) and undergoes regular lab testing.</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\"><strong>3. It must use top-quality, non-GMO ingredients with little to no side effects.</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“There are only a few options on the market that meet these standards, and Nordburn Fat Burner is a standout.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">It contains Chromium Picolinate, Chlorine, Garcinia Cambogia, L-carnitine, MTC Oil, CLA, GLA, and B-group vitamins, which work together to support fat loss, appetite control, and metabolism.”</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“In short, this supplement offers everything I’ve been looking for,” she concludes.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">Dr. Brooke adds that there’s one surprising ‘side effect’—people who switched to Nordburn Fat Burner instead of Ozempic were amazed by the results. Along with steady weight loss and reduced cravings, they found the capsules to be much easier and more socially acceptable than Ozempic injections.</span></p><p>&nbsp;</p><p><span style=\"font-size:19px;\">“Unlike Ozempic, Nordburn is convenient and hassle-free,” Dr. Brooke finishes with a smile.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
