
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527416086656713841.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-527416086656713841.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527416086656713841.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527416086656713841.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-527416086656713841.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527416086656713841.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527416086656713841.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527416086656713841.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-527416086656713841.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527416086656713841.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527416086656713841.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527416086656713841.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527416086656713841.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-527416086656713841.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-527416086656713841.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-527416086656713841.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-527416086656713841.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-527416086656713841.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527416086656713841.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-527416086656713841.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-527416086656713841.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-527416086656713841.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-527416086656713841.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-527416086656713841.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-527416086656713841.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527416086656713841.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-527416086656713841.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-527416086656713841.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-527416086656713841.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-527416086656713841.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-527416086656713841.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-527416086656713841.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-527416086656713841.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-527416086656713841.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-527416086656713841.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527416086656713841.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527416086656713841.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527416086656713841.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527416086656713841.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-527416086656713841.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-527416086656713841.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-527416086656713841.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-527416086656713841.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527416086656713841.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527416086656713841.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527416086656713841.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-527416086656713841.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-527416086656713841.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-527416086656713841.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-527416086656713841.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527416086656713841.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527416086656713841.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-527416086656713841.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-527416086656713841.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-527416086656713841.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527416086656713841.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527416086656713841.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527416086656713841.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527416086656713841.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527416086656713841.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527416086656713841.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527416086656713841.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527416086656713841.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527416086656713841.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527416086656713841.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-527416086656713841.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-527416086656713841.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527416086656713841.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-527416086656713841.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527416086656713841.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-527416086656713841.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-527416086656713841.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-527416086656713841.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527416086656713841.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527416086656713841.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-527416086656713841.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-527416086656713841.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-527416086656713841.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527416086656713841.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-527416086656713841.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-527416086656713841.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527416086656713841.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-527416086656713841.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-527416086656713841.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-527416086656713841.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-527416086656713841.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-527416086656713841.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527416086656713841.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527416086656713841.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527416086656713841.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527416086656713841.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-527416086656713841.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-527416086656713841.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-527416086656713841 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-527416086656713841 .gp-pointer-events-none{pointer-events:none}.gps-527416086656713841 .gp-absolute{position:absolute}.gps-527416086656713841 .gp-relative{position:relative}.gps-527416086656713841 .gp-inset-0{inset:0}.gps-527416086656713841 .gp-z-1{z-index:1}.gps-527416086656713841 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527416086656713841 .gp-mb-0{margin-bottom:0}.gps-527416086656713841 .gp-inline-block{display:inline-block}.gps-527416086656713841 .gp-flex{display:flex}.gps-527416086656713841 .gp-inline-flex{display:inline-flex}.gps-527416086656713841 .gp-grid{display:grid}.gps-527416086656713841 .gp-contents{display:contents}.gps-527416086656713841 .\!gp-hidden{display:none!important}.gps-527416086656713841 .gp-hidden{display:none}.gps-527416086656713841 .gp-h-auto{height:auto}.gps-527416086656713841 .gp-h-full{height:100%}.gps-527416086656713841 .gp-w-full{width:100%}.gps-527416086656713841 .gp-w-max{width:-moz-max-content;width:max-content}.gps-527416086656713841 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-527416086656713841 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-527416086656713841 .gp-max-w-full{max-width:100%}.gps-527416086656713841 .gp-flex-1{flex:1 1 0%}.gps-527416086656713841 .gp-flex-none{flex:none}.gps-527416086656713841 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-527416086656713841 .gp-flex-col{flex-direction:column}.gps-527416086656713841 .gp-flex-wrap{flex-wrap:wrap}.gps-527416086656713841 .gp-items-center{align-items:center}.gps-527416086656713841 .gp-justify-center{justify-content:center}.gps-527416086656713841 .gp-overflow-hidden{overflow:hidden}.gps-527416086656713841 .gp-break-words{overflow-wrap:break-word}.gps-527416086656713841 .gp-text-center{text-align:center}.gps-527416086656713841 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-527416086656713841 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-527416086656713841 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-527416086656713841 .gp-no-underline{text-decoration-line:none}.gps-527416086656713841 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527416086656713841 .gp-duration-200{transition-duration:.2s}.gps-527416086656713841 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527416086656713841 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-527416086656713841 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-527416086656713841 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-527416086656713841 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-527416086656713841 .tablet\:\!gp-hidden{display:none!important}.gps-527416086656713841 .tablet\:gp-hidden{display:none}.gps-527416086656713841 .tablet\:gp-h-auto{height:auto}.gps-527416086656713841 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-527416086656713841 .mobile\:\!gp-hidden{display:none!important}.gps-527416086656713841 .mobile\:gp-hidden{display:none}.gps-527416086656713841 .mobile\:gp-h-auto{height:auto}.gps-527416086656713841 .mobile\:gp-flex-none{flex:none}}.gps-527416086656713841 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-527416086656713841 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gQg0qGhPk8"}' data-id="gQg0qGhPk8" id="gQg0qGhPk8" data-same-height-subgrid-container class="gQg0qGhPk8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mr:auto;--pt:40px;--pl:20px;--pb:80px;--pr:20px;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:21px;--pl-mobile:20px;--pb-mobile:21px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfc8WxSoHZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gXIcC0MzUX"}' data-id="gXIcC0MzUX" id="gXIcC0MzUX" data-same-height-subgrid-container class="gXIcC0MzUX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr] check-availabbility" style="--bs:dashed;--bw:2px 2px 2px 2px;--bc:rgba(52, 159, 108, 0.5);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pt:32px;--pl:102px;--pb:32px;--pr:102px;--pt-mobile:42px;--pl-mobile:24px;--pb-mobile:21px;--pr-mobile:24px;--cg:8px;--gtc:minmax(0, 12fr);--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gsdZwK6lMZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMEDguVLNh"
        class="gMEDguVLNh"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189082"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMEDguVLNh_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx_wWEwBPQ"
        class="gx_wWEwBPQ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189083"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggx_wWEwBPQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gx_wWEwBPQ">
        .gx_wWEwBPQ {

}
.gx_wWEwBPQ p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbkxU1tQ5n"
        class="gbkxU1tQ5n"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:16px;--mb-tablet:16px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189084"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbkxU1tQ5n_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:28px" class="g5NPeu8QkV ">
      
    {%- liquid
      assign standardEndDate = 1717044234597
      assign typeCountdown = "daily"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="g5NPeu8QkV"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":1717029834597,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Seconds","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1716435834597,"hours":3,"mins":0,"startTime":1716425034597},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"g5NPeu8QkV","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"12px","color":"rgba(0, 0, 0, 0.20)","distance":"4px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":"24px"}},"mobile":{"link":false,"margin":{"bottom":"28px"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1717029834597,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Seconds","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1716435834597,"hours":3,"mins":0,"startTime":1716425034597},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#00000000","borderState":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#E0E0E0","isCustom":true,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"21px","itemPadding":{"desktop":{"bottom":"10px","left":"13px","right":"13px","top":"10px"},"mobile":{"bottom":"5px","left":"6px","right":"6px","top":"5px"},"tablet":{"bottom":"10px","left":"13px","right":"13px","top":"10px"}},"labelTypo":{"attrs":{"color":"#424242"},"custom":{"fontSize":{"desktop":"16px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontVariants":["100","200","300","regular","500","600","700","800","900"],"fontWeight":"400","letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#000000"},"custom":{"fontSize":{"desktop":"40px","mobile":"24px","tablet":"18px"},"fontStyle":"normal","fontVariants":["100","200","300","regular","500","600","700","800","900"],"fontWeight":"600","letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"g5NPeu8QkV","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:21px;--jc:center">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
    <div style="--pl:13px;--pr:13px;--pt:10px;--pb:10px;--pl-tablet:13px;--pr-tablet:13px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5NPeu8QkV-text" id="day"
        class="g5NPeu8QkV"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189086"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:40px;--size-tablet:18px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5NPeu8QkV-text"
        class="g5NPeu8QkV"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189087"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5NPeu8QkV_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:13px;--pr:13px;--pt:10px;--pb:10px;--pl-tablet:13px;--pr-tablet:13px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5NPeu8QkV-text" id="hour"
        class="g5NPeu8QkV"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189087"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:40px;--size-tablet:18px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5NPeu8QkV-text"
        class="g5NPeu8QkV"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189088"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5NPeu8QkV_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:13px;--pr:13px;--pt:10px;--pb:10px;--pl-tablet:13px;--pr-tablet:13px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5NPeu8QkV-text" id="minute"
        class="g5NPeu8QkV"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189088"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:40px;--size-tablet:18px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5NPeu8QkV-text"
        class="g5NPeu8QkV"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189088"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5NPeu8QkV_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:13px;--pr:13px;--pt:10px;--pb:10px;--pl-tablet:13px;--pr-tablet:13px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:5px;--pb-mobile:5px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5NPeu8QkV-text" id="second"
        class="g5NPeu8QkV"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189089"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:40px;--size-tablet:18px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5NPeu8QkV-text"
        class="g5NPeu8QkV"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189089"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5NPeu8QkV_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    <gp-button
      gp-data='{"btnLink":{"link":"/products/fat-burner-with-mct","selectedTab":"products","target":"_self","title":"Nordburn Fat Burner"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pl:0px;--pr:0px;--mb-mobile:28px;--pl-mobile:0px;--pr-mobile:0px;--ta:left" >
        <style>[data-id="g-x55lWkFe"].gp-button-base::before, [data-id="g-x55lWkFe-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="g-x55lWkFe"]:hover::before, [data-id="g-x55lWkFe-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g-x55lWkFe" dataId="g-x55lWkFe" data-state="idle" aria-label="CHECK AVAILABILITY"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/fat-burner-with-mct" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00763D;--bg:#349F6C;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="g-x55lWkFe gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg-x55lWkFe_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g-x55lWkFe">
        button.g-x55lWkFe {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gHiklfQIgS"}' data-id="gHiklfQIgS" id="gHiklfQIgS" data-same-height-subgrid-container class="gHiklfQIgS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gH3-ujcij5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g-9NU_AAeM"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756030189117 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g-9NU_AAeM"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-7002141a-3355-4123-815d-dffd2903c932.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzAwLTMwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0idXJsKCNnLTMwMC0zMDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDAiIHRvPSIzMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-7002141a-3355-4123-815d-dffd2903c932.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzAwLTMwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0idXJsKCNnLTMwMC0zMDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDAiIHRvPSIzMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_524836908077941734-7002141a-3355-4123-815d-dffd2903c932.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzAwLTMwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0idXJsKCNnLTMwMC0zMDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDAiIHRvPSIzMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_524836908077941734-7002141a-3355-4123-815d-dffd2903c932.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:56px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g-9NU_AAeM">
        .g-9NU_AAeM {

}
.g-9NU_AAeM > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gbjI5jmXtd gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzk90m_-Xo"
        class="gzk90m_-Xo"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:4px;--mt-mobile:0px;--mb-mobile:5px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189119"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzk90m_-Xo_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXgFesZmAG"
        class="gXgFesZmAG"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030189120"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXgFesZmAG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gXgFesZmAG">
        .gXgFesZmAG {

}
.gXgFesZmAG p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-527416086656713841 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=527416037214258200&sectionId=527416086656713841)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggMEDguVLNh_text","label":"ggMEDguVLNh_text","default":"Order now for an exclusive up to 40% discount!"},{"type":"html","id":"ggx_wWEwBPQ_text","label":"ggx_wWEwBPQ_text","default":"<p>Don't miss out on this incredible limited-time offer! Act fast before the discount expires.</p>"},{"type":"html","id":"ggbkxU1tQ5n_text","label":"ggbkxU1tQ5n_text","default":"Hurry, Limited Time Offer:"},{"type":"html","id":"gg5NPeu8QkV_dayLabel","label":"gg5NPeu8QkV_dayLabel","default":"Days"},{"type":"html","id":"gg5NPeu8QkV_hourLabel","label":"gg5NPeu8QkV_hourLabel","default":"Hours"},{"type":"html","id":"gg5NPeu8QkV_minuteLabel","label":"gg5NPeu8QkV_minuteLabel","default":"Minutes"},{"type":"html","id":"gg5NPeu8QkV_secondLabel","label":"gg5NPeu8QkV_secondLabel","default":"Seconds"},{"type":"html","id":"gg5NPeu8QkV_weekLabel","label":"gg5NPeu8QkV_weekLabel","default":"Weeks"},{"type":"html","id":"gg-x55lWkFe_label","label":"gg-x55lWkFe_label","default":"CHECK AVAILABILITY"},{"type":"html","id":"ggzk90m_-Xo_text","label":"ggzk90m_-Xo_text","default":"100% product guarantee"},{"type":"html","id":"ggXgFesZmAG_text","label":"ggXgFesZmAG_text","default":"<p>If you are not completely satisfied with our modern desk lamp for any reason, just email us, and we will issue a refund.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  