

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-525396708864033847.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-525396708864033847.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-525396708864033847.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-525396708864033847.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-525396708864033847.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-525396708864033847.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-525396708864033847.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-525396708864033847.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-525396708864033847.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-525396708864033847.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-525396708864033847.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-525396708864033847.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-525396708864033847.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-525396708864033847.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-525396708864033847.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-525396708864033847.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-525396708864033847.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-525396708864033847.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-525396708864033847.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-525396708864033847.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-525396708864033847.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-525396708864033847.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-525396708864033847.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-525396708864033847.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-525396708864033847.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-525396708864033847.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-525396708864033847.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-525396708864033847.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-525396708864033847.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-525396708864033847.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-525396708864033847.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-525396708864033847.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-525396708864033847.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-525396708864033847.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-525396708864033847.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-525396708864033847.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-525396708864033847.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-525396708864033847.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-525396708864033847.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-525396708864033847.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-525396708864033847.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-525396708864033847.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-525396708864033847.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-525396708864033847.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-525396708864033847.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-525396708864033847.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-525396708864033847.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-525396708864033847.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-525396708864033847.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-525396708864033847.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-525396708864033847.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-525396708864033847.gps.gpsil [style*="--objf-tablet:"]{-o-object-fit:var(--objf-tablet);object-fit:var(--objf-tablet)}.gps-525396708864033847.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-525396708864033847.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-525396708864033847.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-525396708864033847.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-525396708864033847.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-525396708864033847.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-525396708864033847.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-525396708864033847.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-525396708864033847.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-525396708864033847.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-525396708864033847.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-525396708864033847.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-525396708864033847.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-525396708864033847.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-525396708864033847.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-525396708864033847.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-525396708864033847.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-525396708864033847.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-525396708864033847.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-525396708864033847.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-525396708864033847.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-525396708864033847.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-525396708864033847.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-525396708864033847.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-525396708864033847.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-525396708864033847.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-525396708864033847.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-525396708864033847.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-525396708864033847.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-525396708864033847.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-525396708864033847.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-525396708864033847.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-525396708864033847.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-525396708864033847.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-525396708864033847.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-525396708864033847 .gp-relative{position:relative}.gps-525396708864033847 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-525396708864033847 .gp-mb-0{margin-bottom:0}.gps-525396708864033847 .\!gp-inline{display:inline!important}.gps-525396708864033847 .gp-flex{display:flex}.gps-525396708864033847 .gp-grid{display:grid}.gps-525396708864033847 .\!gp-hidden{display:none!important}.gps-525396708864033847 .gp-hidden{display:none}.gps-525396708864033847 .gp-h-full{height:100%}.gps-525396708864033847 .gp-w-full{width:100%}.gps-525396708864033847 .gp-max-w-full{max-width:100%}.gps-525396708864033847 .gp-flex-col{flex-direction:column}.gps-525396708864033847 .gp-gap-y-0{row-gap:0}.gps-525396708864033847 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-525396708864033847 .gp-duration-200{transition-duration:.2s}.gps-525396708864033847 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-525396708864033847 .tablet\:\!gp-hidden{display:none!important}.gps-525396708864033847 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-525396708864033847 .mobile\:\!gp-hidden{display:none!important}.gps-525396708864033847 .mobile\:gp-hidden{display:none}}.gps-525396708864033847 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-525396708864033847 .\[\&_p\]\:gp-inline p{display:inline}.gps-525396708864033847 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-525396708864033847 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gqEj-eQk6k" data-id="gqEj-eQk6k"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--pt:140px;--pl:20px;--pb:80px;--pr:20px;--mt-mobile:0px;--pt-mobile:53px;--pl-mobile:20px;--pb-mobile:46px;--pr-mobile:20px;--mt-tablet:0px;--pt-tablet:140px;--pl-tablet:20px;--pb-tablet:80px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFCF4;--bgc-mobile:#FFFCF4;--bgi:url(https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-891cd59a-68f0-42bc-867c-9398449b7541.png?v=1717139393);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-79acd34c-31a2-4a85-b508-6fc3ba2cb6ac.png?v=1717381221);--bgp:50% 0%;--bgp-mobile:0% 0%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:repeat-y;--bga:scroll;--bga-mobile:scroll"
        class="gqEj-eQk6k gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gW3gK4M3-j gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gjRtxDiCFC" data-id="gjRtxDiCFC"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pl:0px;--cg:30px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjRtxDiCFC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gg8k7eSBGB gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gq7d5qGuKj"
    role="presentation"
    class="gp-group/image gq7d5qGuKj"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:0px;--mr:0px;--pl:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:0px;--mr-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-dd74601a-e58f-49c3-8fe8-88a54ff7cf28_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-dd74601a-e58f-49c3-8fe8-88a54ff7cf28_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-dd74601a-e58f-49c3-8fe8-88a54ff7cf28.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2048/2531;--aspect-tablet:2048/2531;--aspect-mobile:2048/2531;--objf:cover;--objf-mobile:cover;--w:482px;--w-tablet:372px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-dd74601a-e58f-49c3-8fe8-88a54ff7cf28_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-dd74601a-e58f-49c3-8fe8-88a54ff7cf28_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-dd74601a-e58f-49c3-8fe8-88a54ff7cf28.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:2048/2531;--aspect-tablet:2048/2531;--aspect-mobile:2048/2531;--objf:cover;--objf-mobile:cover;--w:482px;--w-tablet:372px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gq7d5qGuKj">
        .gq7d5qGuKj {

}
.gq7d5qGuKj > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gPeH89XN8A gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g2FsS7MEEn">
    <div
      parentTag="Col"
        class="g2FsS7MEEn "
        style="--ta:left;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mt-mobile:0px;--mb-mobile:14px;--pt-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2FsS7MEEn_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gmuaFhLixp">
    <div
      parentTag="Col"
        class="gmuaFhLixp "
        style="--ta:left;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mt-mobile:0px;--mb-mobile:21px;--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:688px;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:160%;--lh-tablet:160%;--lh-mobile:160%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmuaFhLixp_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gmuaFhLixp">
        .gmuaFhLixp {

}
.gmuaFhLixp p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gL45RHKxif" data-id="gL45RHKxif"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:39px;--pl-mobile:25px;--pr-mobile:25px;--cg:24px;--cg-tablet:21px;--cg-mobile:21px;--pc:start;--pc-mobile:center;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gL45RHKxif gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g_af7guvRq gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gx7wh0GbZD"
    role="presentation"
    class="gp-group/image gx7wh0GbZD"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-ba6e1bcf-849f-4f72-a636-d70f7090193d_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-ba6e1bcf-849f-4f72-a636-d70f7090193d_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-ba6e1bcf-849f-4f72-a636-d70f7090193d.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:500/300;--aspect-tablet:500/300;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-ba6e1bcf-849f-4f72-a636-d70f7090193d_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-ba6e1bcf-849f-4f72-a636-d70f7090193d_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-ba6e1bcf-849f-4f72-a636-d70f7090193d.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:500/300;--aspect-tablet:500/300;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gx7wh0GbZD">
        .gx7wh0GbZD {

}
.gx7wh0GbZD > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gxHtpYdVSK gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gmHynAFTa6"
    role="presentation"
    class="gp-group/image gmHynAFTa6"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pl:0px;--pl-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-cdbe2f6a-fa94-4170-a1f3-2f03cfa3d9c8_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-cdbe2f6a-fa94-4170-a1f3-2f03cfa3d9c8_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-cdbe2f6a-fa94-4170-a1f3-2f03cfa3d9c8.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:500/300;--aspect-tablet:500/300;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-cdbe2f6a-fa94-4170-a1f3-2f03cfa3d9c8_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-cdbe2f6a-fa94-4170-a1f3-2f03cfa3d9c8_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-cdbe2f6a-fa94-4170-a1f3-2f03cfa3d9c8.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:500/300;--aspect-tablet:500/300;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gmHynAFTa6">
        .gmHynAFTa6 {

}
.gmHynAFTa6 > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g4JlXr12Tv gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gb8b_o5zst"
    role="presentation"
    class="gp-group/image gb8b_o5zst"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pl:0px;--pl-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-35c54aa4-097d-4088-ab6e-815054a13b45_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-35c54aa4-097d-4088-ab6e-815054a13b45_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-35c54aa4-097d-4088-ab6e-815054a13b45.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:500/300;--aspect-tablet:500/300;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-35c54aa4-097d-4088-ab6e-815054a13b45_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-35c54aa4-097d-4088-ab6e-815054a13b45_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-35c54aa4-097d-4088-ab6e-815054a13b45.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:500/300;--aspect-tablet:500/300;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:80px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gb8b_o5zst">
        .gb8b_o5zst {

}
.gb8b_o5zst > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g0dPGHK8gZ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gcUEOw5Ot2"
    role="presentation"
    class="gp-group/image gcUEOw5Ot2"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--ml:0px;--pl:0px;--mt-mobile:0px;--ml-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--pl-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-527d7c8f-ab52-469f-996a-8ce01b3f1fab_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-527d7c8f-ab52-469f-996a-8ce01b3f1fab_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-527d7c8f-ab52-469f-996a-8ce01b3f1fab.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:4/3;--objf:contain;--objf-tablet:contain;--objf-mobile:contain;--w:120px;--w-mobile:67px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-527d7c8f-ab52-469f-996a-8ce01b3f1fab_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-527d7c8f-ab52-469f-996a-8ce01b3f1fab_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-527d7c8f-ab52-469f-996a-8ce01b3f1fab.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:4/3;--objf:contain;--objf-tablet:contain;--objf-mobile:contain;--w:120px;--w-mobile:67px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gcUEOw5Ot2">
        .gcUEOw5Ot2 {

}
.gcUEOw5Ot2 > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-525396708864033847 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=524836910225491006&sectionId=525396708864033847)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg2FsS7MEEn_text","label":"gg2FsS7MEEn_text","default":"<span style=\"font-size:37px;\"><strong>Facts Backed by science</strong></span>"},{"type":"html","id":"ggmuaFhLixp_text","label":"ggmuaFhLixp_text","default":"<p><strong>Spirulina for Blood Sugar</strong></p><p>The present study suggests spirulina supplementation can benefit fasting blood glucose and lipid profiles.</p><p>&nbsp;</p><p><strong>Spirulina Against Obesity</strong></p><p>Spirulina supplementation significantly reduces body weight, especially in obese individuals.</p><p>&nbsp;</p><p><strong>L-carnitine For Weight Loss</strong></p><p>L-carnitine supplementation significantly reduces body weight, BMI, and fat mass, especially among adults with overweight/obesity.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
