
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-531805327662777237.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-531805327662777237.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-531805327662777237.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-531805327662777237.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-531805327662777237.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-531805327662777237.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-531805327662777237.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-531805327662777237.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-531805327662777237.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-531805327662777237.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-531805327662777237.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-531805327662777237.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-531805327662777237.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-531805327662777237.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-531805327662777237.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-531805327662777237.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-531805327662777237.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-531805327662777237.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-531805327662777237.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-531805327662777237.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-531805327662777237.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-531805327662777237.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-531805327662777237.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-531805327662777237.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-531805327662777237.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-531805327662777237.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-531805327662777237.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-531805327662777237.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-531805327662777237.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-531805327662777237.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-531805327662777237.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-531805327662777237.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-531805327662777237.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-531805327662777237.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-531805327662777237.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-531805327662777237.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-531805327662777237.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-531805327662777237.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-531805327662777237.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-531805327662777237.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-531805327662777237.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-531805327662777237.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-531805327662777237.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-531805327662777237.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-531805327662777237.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-531805327662777237.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-531805327662777237.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-531805327662777237.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-531805327662777237.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-531805327662777237.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-531805327662777237.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-531805327662777237.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-531805327662777237.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-531805327662777237.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-531805327662777237 .gp-relative{position:relative}.gps-531805327662777237 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-531805327662777237 .gp-mb-0{margin-bottom:0}.gps-531805327662777237 .gp-flex{display:flex}.gps-531805327662777237 .gp-grid{display:grid}.gps-531805327662777237 .\!gp-hidden{display:none!important}.gps-531805327662777237 .gp-hidden{display:none}.gps-531805327662777237 .gp-max-w-full{max-width:100%}.gps-531805327662777237 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-531805327662777237 .gp-flex-col{flex-direction:column}.gps-531805327662777237 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-531805327662777237 .gp-duration-200{transition-duration:.2s}.gps-531805327662777237 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-531805327662777237 .tablet\:\!gp-hidden{display:none!important}.gps-531805327662777237 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-531805327662777237 .mobile\:\!gp-hidden{display:none!important}.gps-531805327662777237 .mobile\:gp-hidden{display:none}}.gps-531805327662777237 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4JkSSiyF0"}' data-id="g4JkSSiyF0" id="g4JkSSiyF0" data-same-height-subgrid-container class="g4JkSSiyF0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--pt:20px;--pl:15px;--pb:50px;--pr:15px;--pt-mobile:12px;--pb-mobile:40px;--cg:30px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:start;--o:0"
      class="gsQc02rIh7 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gt4u2tWPoR"}' data-id="gt4u2tWPoR" id="gt4u2tWPoR" data-same-height-subgrid-container class="gt4u2tWPoR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--pt:30px;--pb:30px;--pt-mobile:auto;--pb-mobile:30px;--cg:30px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guYI7VBI5O gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLZ4nYfVPU"}' data-id="gLZ4nYfVPU" id="gLZ4nYfVPU" data-same-height-subgrid-container class="gLZ4nYfVPU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:61px;--pt:30px;--pl:var(--g-s-3xl);--pb:18px;--pt-mobile:var(--g-s-3xl);--pl-mobile:auto;--pb-mobile:12px;--pt-tablet:var(--g-s-3xl);--pl-tablet:auto;--pb-tablet:18px;--cg:30px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:start;--o:0"
      class="gvhDN_sT1m gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpjPrlyqGF"
        class="gpjPrlyqGF"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183564"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpjPrlyqGF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEJ1zxzhVB"
        class="gEJ1zxzhVB"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183565"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEJ1zxzhVB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggCnc16NeL"
        class="ggCnc16NeL"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183566"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggCnc16NeL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYi4PZd4UA"
        class="gYi4PZd4UA"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183567"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYi4PZd4UA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqj88DExjq"
        class="gqj88DExjq"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183568"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqj88DExjq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8eG64Lny3"
        class="g8eG64Lny3"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183568"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8eG64Lny3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsyHQ8nKcu"
        class="gsyHQ8nKcu"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183569"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsyHQ8nKcu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvONzHGPZr"
        class="gvONzHGPZr"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183570"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvONzHGPZr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRdDWCNOLq"
        class="gRdDWCNOLq"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183570"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRdDWCNOLq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6cayDZHpo"
        class="g6cayDZHpo"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183571"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6cayDZHpo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYHVOqRSAk"
        class="gYHVOqRSAk"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183572"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:130%;--weight:700;--ls:0px;--size-tablet:16px;--lh-tablet:130%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYHVOqRSAk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcoICU2fvV"
        class="gcoICU2fvV"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-small);--mb:auto;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030183572"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#242424;--size:16px;--lh:150%;--fs:normal;--weight:400;--ls:0px;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcoICU2fvV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-531805327662777237 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=531805324374442809&sectionId=531805327662777237)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggpjPrlyqGF_text","label":"ggpjPrlyqGF_text","default":"<p>What's the shipping cost?</p>"},{"type":"html","id":"ggEJ1zxzhVB_text","label":"ggEJ1zxzhVB_text","default":"<p>On average all order shipping costs are $4.5 to any state in the US. International shipping costs may vary.</p>"},{"type":"html","id":"gggCnc16NeL_text","label":"gggCnc16NeL_text","default":"<p>When will I receive my products?</p>"},{"type":"html","id":"ggYi4PZd4UA_text","label":"ggYi4PZd4UA_text","default":"<p>All products are shipped out from our fulfilment center within 4-6 business days and on average it takes 1-5 business days to deliver your order. If things go smoothly, you place your order on Monday you should receive it by Friday the same week.</p><p>&nbsp;</p><p>Every now and then, such as holiday seasons, there may be a delay on orders due to the high volume coming in within such a short time period. We value being transparent with our customers, so please be patient as we are a small team doing the best we can! Thanks for your understanding.</p>"},{"type":"html","id":"ggqj88DExjq_text","label":"ggqj88DExjq_text","default":"<p>Where are the products manufactured?</p>"},{"type":"html","id":"gg8eG64Lny3_text","label":"gg8eG64Lny3_text","default":"<p>All products are developed and manufactured together with FDA certified and approved supplement manufacturers in the US that comply with the highest GMP standards.</p>"},{"type":"html","id":"ggsyHQ8nKcu_text","label":"ggsyHQ8nKcu_text","default":"<p>How long will it take to see results?</p>"},{"type":"html","id":"ggvONzHGPZr_text","label":"ggvONzHGPZr_text","default":"<p>Results can vary depending on individual factors like diet, exercise, and metabolism. However, most users of our NordBurn Fat Burner start noticing changes within 3 to 6 weeks when combined with a healthy lifestyle.</p><p>&nbsp;</p><p>Some may experience benefits such as reduced cravings or improved energy levels in the first couple of weeks. For optimal fat loss and weight management results, consistency is key—taking the supplement daily alongside regular exercise and a balanced diet will maximize your progress over time.</p>"},{"type":"html","id":"ggRdDWCNOLq_text","label":"ggRdDWCNOLq_text","default":"<p>How does the money back guarantee work?</p>"},{"type":"html","id":"gg6cayDZHpo_text","label":"gg6cayDZHpo_text","default":"<p>In case you receive a product that has been damaged during shipment we will automatically ship out new product for you or issue a full refund.</p>"},{"type":"html","id":"ggYHVOqRSAk_text","label":"ggYHVOqRSAk_text","default":"<p>Can I track my order?</p>"},{"type":"html","id":"ggcoICU2fvV_text","label":"ggcoICU2fvV_text","default":"<p>Once you will make a purchase and your order will be confirmed, we will send out an order tracking link.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  