
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-585246522908607133.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-585246522908607133.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-585246522908607133.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-585246522908607133.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-585246522908607133.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-585246522908607133.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-585246522908607133.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-585246522908607133.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-585246522908607133.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-585246522908607133.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-585246522908607133.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-585246522908607133.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-585246522908607133.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-585246522908607133.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-585246522908607133.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-585246522908607133.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-585246522908607133.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-585246522908607133.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-585246522908607133.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-585246522908607133.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-585246522908607133.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-585246522908607133.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-585246522908607133.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-585246522908607133.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-585246522908607133.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-585246522908607133.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-585246522908607133.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-585246522908607133.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-585246522908607133.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-585246522908607133.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-585246522908607133.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-585246522908607133.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-585246522908607133.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-585246522908607133.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-585246522908607133.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-585246522908607133.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-585246522908607133.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-585246522908607133.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-585246522908607133.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-585246522908607133.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-585246522908607133.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-585246522908607133.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-585246522908607133.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-585246522908607133.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-585246522908607133.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-585246522908607133.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-585246522908607133.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-585246522908607133.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-585246522908607133.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-585246522908607133.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-585246522908607133.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-585246522908607133.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-585246522908607133.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-585246522908607133.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-585246522908607133.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-585246522908607133.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-585246522908607133.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-585246522908607133.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-585246522908607133.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-585246522908607133.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-585246522908607133.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-585246522908607133.gps.gpsil [style*="--bg-tablet:"]{background:var(--bg-tablet)}.gps-585246522908607133.gps.gpsil [style*="--b-tablet:"]{border:var(--b-tablet)}.gps-585246522908607133.gps.gpsil [style*="--bc-tablet:"]{border-color:var(--bc-tablet)}.gps-585246522908607133.gps.gpsil [style*="--bw-tablet:"]{border-width:var(--bw-tablet)}.gps-585246522908607133.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-585246522908607133.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-585246522908607133.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-585246522908607133.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-585246522908607133.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-585246522908607133.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-585246522908607133.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-585246522908607133.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-585246522908607133.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-585246522908607133.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-585246522908607133.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-585246522908607133.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-585246522908607133.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-585246522908607133.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-585246522908607133.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-585246522908607133.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-585246522908607133.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-585246522908607133.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-585246522908607133.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-585246522908607133.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-585246522908607133.gps.gpsil [style*="--bg-mobile:"]{background:var(--bg-mobile)}.gps-585246522908607133.gps.gpsil [style*="--b-mobile:"]{border:var(--b-mobile)}.gps-585246522908607133.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-585246522908607133.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-585246522908607133.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-585246522908607133.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-585246522908607133.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-585246522908607133.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-585246522908607133.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-585246522908607133.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-585246522908607133.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-585246522908607133.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-585246522908607133.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-585246522908607133.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-585246522908607133.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-585246522908607133.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-585246522908607133.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-585246522908607133.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-585246522908607133.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-585246522908607133.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-585246522908607133.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-585246522908607133.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-585246522908607133.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-585246522908607133.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-585246522908607133.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-585246522908607133 .gp-absolute{position:absolute}.gps-585246522908607133 .gp-relative{position:relative}.gps-585246522908607133 .gp-top-0{top:0}.gps-585246522908607133 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-585246522908607133 .gp-mb-0{margin-bottom:0}.gps-585246522908607133 .gp-box-border{box-sizing:border-box}.gps-585246522908607133 .gp-inline-block{display:inline-block}.gps-585246522908607133 .gp-flex{display:flex}.gps-585246522908607133 .gp-inline-flex{display:inline-flex}.gps-585246522908607133 .gp-grid{display:grid}.gps-585246522908607133 .gp-contents{display:contents}.gps-585246522908607133 .\!gp-hidden{display:none!important}.gps-585246522908607133 .gp-hidden{display:none}.gps-585246522908607133 .gp-h-full{height:100%}.gps-585246522908607133 .gp-w-full{width:100%}.gps-585246522908607133 .gp-max-w-full{max-width:100%}.gps-585246522908607133 .gp-flex-1{flex:1 1 0%}.gps-585246522908607133 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-585246522908607133 .gp-flex-col{flex-direction:column}.gps-585246522908607133 .gp-flex-wrap{flex-wrap:wrap}.gps-585246522908607133 .gp-items-center{align-items:center}.gps-585246522908607133 .gp-justify-center{justify-content:center}.gps-585246522908607133 .gp-overflow-hidden{overflow:hidden}.gps-585246522908607133 .gp-rounded-\[4px\]{border-radius:4px}.gps-585246522908607133 .gp-bg-\[rgba\(0\, .gps-585246522908607133 0\, .gps-585246522908607133 0\, .gps-585246522908607133 0\.60\)\]{background-color:rgba(0,0,0,.6)}.gps-585246522908607133 .gp-px-2{padding-left:8px;padding-right:8px}.gps-585246522908607133 .gp-py-1{padding-bottom:4px;padding-top:4px}.gps-585246522908607133 .gp-leading-\[0\]{line-height:0}.gps-585246522908607133 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585246522908607133 .gp-duration-200{transition-duration:.2s}.gps-585246522908607133 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-585246522908607133 .tablet\:\!gp-hidden{display:none!important}.gps-585246522908607133 .tablet\:gp-hidden{display:none}.gps-585246522908607133 .tablet\:gp-h-full{height:100%}.gps-585246522908607133 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-585246522908607133 .mobile\:\!gp-hidden{display:none!important}.gps-585246522908607133 .mobile\:gp-hidden{display:none}.gps-585246522908607133 .mobile\:gp-h-auto{height:auto}.gps-585246522908607133 .mobile\:gp-flex-none{flex:none}}.gps-585246522908607133 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-585246522908607133 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-585246522908607133 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-585246522908607133 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-585246522908607133 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzSJixlOCA"}' data-id="gzSJixlOCA" id="gzSJixlOCA" data-same-height-subgrid-container class="gzSJixlOCA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:80px;--pb:100px;--pr:80px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:72px;--pr-mobile:20px;--pt-tablet:0px;--pl-tablet:40px;--pb-tablet:72px;--pr-tablet:40px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gF7i8BbsFt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g3hotjFuyf"}' data-id="g3hotjFuyf" id="g3hotjFuyf" data-same-height-subgrid-container class="g3hotjFuyf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1iE-7KSF8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzo8Nishrx"
        class="gzo8Nishrx"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:16px;--pb-mobile:14px;--pb-tablet:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758364010872"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:40px;--size-tablet:32px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#343454;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzo8Nishrx_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGWDneO4nC"
        class="gGWDneO4nC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:48px;--pb-mobile:40px;--pb-tablet:40px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758364010873"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:20px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGWDneO4nC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNiIZNfR5r"}' data-id="gNiIZNfR5r" id="gNiIZNfR5r" data-same-height-subgrid-container class="gNiIZNfR5r gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--cg-tablet:40px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7g-uVneVW gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px" class="gVArI8iSj9 ">
      
    <div class="gp-flex gp-w-full gp-overflow-hidden" style="border-radius:inherit">
      
    <gp-image-comparison
      data-id="gVArI8iSj9"
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gp-w-full gp-flex"
      gp-data='{"hover":false,"handle":null,"vertical":false,"leftImage":{"backupFileKey":"gempages_524836908077941734-2e188536-8175-4c56-9771-679dd8b8304b.png","height":585,"src":"https://cdn.shopify.com/s/files/1/0847/3981/7815/files/gempages_524836908077941734-2e188536-8175-4c56-9771-679dd8b8304b.png","storage":"FILE_CONTENT","width":585},"rightImage":{"backupFileKey":"gempages_524836908077941734-ae77a381-c364-4317-a845-ae14afabb71d.png","height":585,"src":"https://cdn.shopify.com/s/files/1/0847/3981/7815/files/gempages_524836908077941734-ae77a381-c364-4317-a845-ae14afabb71d.png","storage":"FILE_CONTENT","width":585},"handleSize":40,"aspectRatio":{"desktop":"1","tablet":"1","mobile":"1"},"defaultRatio":"585/585","componentUid":"gVArI8iSj9","leftImageCss":{},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5}'
    >
      <div id="img-comparison-wrapper-gVArI8iSj9" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
        <div
          id="img-comparison-container-gVArI8iSj9"
          data-testid="container"
          style="height:auto;overflow:hidden;position:relative;box-sizing:border-box;display:block;--aspect:1;--aspect-tablet:1;--aspect-mobile:1"
        >
          
      <img alt="" src width="585" height="585" data-testid="temp-image" style="--pos:static;--op:0;--aspect:1;--aspect-tablet:1;--aspect-mobile:1" />
    
          
    <img
      data-testid="right-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_524836908077941734-ae77a381-c364-4317-a845-ae14afabb71d.png" | file_url }}" data-src="{{ "gempages_524836908077941734-ae77a381-c364-4317-a845-ae14afabb71d.png" | file_url }}" data-srcset="{{ "gempages_524836908077941734-ae77a381-c364-4317-a845-ae14afabb71d.png" | file_url }}"
      id="right-image-gVArI8iSj9"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      class="gp_lazyload"
    />
          
    <img
      data-testid="left-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_524836908077941734-2e188536-8175-4c56-9771-679dd8b8304b.png" | file_url }}" data-src="{{ "gempages_524836908077941734-2e188536-8175-4c56-9771-679dd8b8304b.png" | file_url }}" data-srcset="{{ "gempages_524836908077941734-2e188536-8175-4c56-9771-679dd8b8304b.png" | file_url }}"
      id="left-image-gVArI8iSj9"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      class="gp_lazyload"
    />
          
    <div id="image-comparison-slider-gVArI8iSj9" style="z-index:2;display:flex;position:absolute;align-items:center;justify-content:center;cursor:ew-resize;flex-direction:column;height:100%;width:40px">
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
      <div style="display:flex;flex:1 0 auto;align-items:center;box-sizing:border-box;justify-content:center;border-radius:100%;width:40px;height:40px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);transform:none;border:2px solid #ffffff">
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 2px 0 0"
            width="6" height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 0 0 2px"
            width="6"
            height="12"
            viewBox="0 0 6 12" fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
    </div>
  
          
    <div
      id="image-comparison-left-label-gVArI8iSj9"
      
      class="gp-absolute gp-top-0 gp-h-full gp-w-full"
    >
      <style>
    #image-comparison-left-label-gVArI8iSj9 div, #image-comparison-right-label-gVArI8iSj9 div {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      #image-comparison-left-label-gVArI8iSj9 div, #image-comparison-right-label-gVArI8iSj9 div {
        border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
        
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
      }
    }

    @media only screen and (max-width: 767px) {
      #image-comparison-left-label-gVArI8iSj9 div, #image-comparison-right-label-gVArI8iSj9 div {
        border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
        
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
      }
    }
  </style>
      <div class=" gp-absolute gp-box-border gp-rounded-[4px] gp-bg-[rgba(0,0,0,0.60)] gp-px-2 gp-py-1" style="opacity:1;left:8px;--b:solid;--bc:#8591E4;--bw:1px 1px 1px 1px;--b-tablet:solid;--bc-tablet:#8591E4;--bw-tablet:1px 1px 1px 1px;--b-mobile:solid;--bc-mobile:#8591E4;--bw-mobile:1px 1px 1px 1px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--t:translateX(0) translateY(0);--t-tablet:translateX(0) translateY(0);--t-mobile:translateX(0) translateY(0);--top:auto;--top-tablet:auto;--top-mobile:auto;--bottom:8px;--bottom-tablet:8px;--bottom-mobile:8px;--ts:none;--bg:#ffffff;--bg-tablet:#ffffff;--bg-mobile:#ffffff;--c:#8591E4">
        {{ section.settings.ggVArI8iSj9_leftImageLabel }}
      </div>
    </div>
  
          
    <div
      id="image-comparison-right-label-gVArI8iSj9"
      
      class="gp-absolute gp-top-0 gp-h-full gp-w-full"
    >
      <style>
    #image-comparison-left-label-gVArI8iSj9 div, #image-comparison-right-label-gVArI8iSj9 div {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      #image-comparison-left-label-gVArI8iSj9 div, #image-comparison-right-label-gVArI8iSj9 div {
        border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
        
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
      }
    }

    @media only screen and (max-width: 767px) {
      #image-comparison-left-label-gVArI8iSj9 div, #image-comparison-right-label-gVArI8iSj9 div {
        border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
        
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
      }
    }
  </style>
      <div class=" gp-absolute gp-box-border gp-rounded-[4px] gp-bg-[rgba(0,0,0,0.60)] gp-px-2 gp-py-1" style="opacity:1;right:8px;--b:solid;--bc:#8591E4;--bw:1px 1px 1px 1px;--b-tablet:solid;--bc-tablet:#8591E4;--bw-tablet:1px 1px 1px 1px;--b-mobile:solid;--bc-mobile:#8591E4;--bw-mobile:1px 1px 1px 1px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--t:translateX(0) translateY(0);--t-tablet:translateX(0) translateY(0);--t-mobile:translateX(0) translateY(0);--top:auto;--top-tablet:auto;--top-mobile:auto;--bottom:8px;--bottom-tablet:8px;--bottom-mobile:8px;--ts:none;--bg:#ffffff;--bg-tablet:#ffffff;--bg-mobile:#ffffff;--c:#8591E4">
        {{ section.settings.ggVArI8iSj9_rightImageLabel }}
      </div>
    </div>
  
        </div>
      </div>
    </gp-image-comparison>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-image-comparison-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gF5AB1caa3 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F5F6FF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g2ROxsU6pF"}' data-id="g2ROxsU6pF" id="g2ROxsU6pF" data-same-height-subgrid-container class="g2ROxsU6pF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:32px;--pl:48px;--pb:32px;--pr:48px;--mt-mobile:40px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#F5F6FF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gHoOlVjLfy gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gXoYALxyAo"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:4px;--jc:center;--ai:start;--ai-tablet:center">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gSzcff06Sj ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gezYbHMoNV" class="gp-leading-[0] gezYbHMoNV" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gezYbHMoNV" class="icon-wrapper gp-inline-flex gp-overflow-hidden gezYbHMoNV " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#3F4BA0;--t:rotate(0deg);--w:28px;--w-tablet:24px;--w-mobile:20px;--h:28px;--h-tablet:24px;--h-mobile:20px;--minw:28px;--minw-tablet:24px;--minw-mobile:20px;--height-desktop:28px;--height-tablet:24px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gUeFtuYzBg ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g4yrSKGDuq" class="gp-leading-[0] g4yrSKGDuq" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--ta:left">
      <div data-id="g4yrSKGDuq" class="icon-wrapper gp-inline-flex gp-overflow-hidden g4yrSKGDuq " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#3F4BA0;--t:rotate(0deg);--w:28px;--w-tablet:24px;--w-mobile:20px;--h:28px;--h-tablet:24px;--h-mobile:20px;--minw:28px;--minw-tablet:24px;--minw-mobile:20px;--height-desktop:28px;--height-tablet:24px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="geSSujVTFe ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g2bu6WyHk4" class="gp-leading-[0] g2bu6WyHk4" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--ta:left">
      <div data-id="g2bu6WyHk4" class="icon-wrapper gp-inline-flex gp-overflow-hidden g2bu6WyHk4 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#3F4BA0;--t:rotate(0deg);--w:28px;--w-tablet:24px;--w-mobile:20px;--h:28px;--h-tablet:24px;--h-mobile:20px;--minw:28px;--minw-tablet:24px;--minw-mobile:20px;--height-desktop:28px;--height-tablet:24px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gyES8KERiL ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gNnRJBNNIq" class="gp-leading-[0] gNnRJBNNIq" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--ta:left">
      <div data-id="gNnRJBNNIq" class="icon-wrapper gp-inline-flex gp-overflow-hidden gNnRJBNNIq " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#3F4BA0;--t:rotate(0deg);--w:28px;--w-tablet:24px;--w-mobile:20px;--h:28px;--h-tablet:24px;--h-mobile:20px;--minw:28px;--minw-tablet:24px;--minw-mobile:20px;--height-desktop:28px;--height-tablet:24px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="go0kKnHYv9 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gjyu4twuaH" class="gp-leading-[0] gjyu4twuaH" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gjyu4twuaH" class="icon-wrapper gp-inline-flex gp-overflow-hidden gjyu4twuaH " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#3F4BA0;--t:rotate(0deg);--w:28px;--w-tablet:24px;--w-mobile:20px;--h:28px;--h-tablet:24px;--h-mobile:20px;--minw:28px;--minw-tablet:24px;--minw-mobile:20px;--height-desktop:28px;--height-tablet:24px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g136u1W-Jj"
        class="g136u1W-Jj"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:32px;--ml:48px;--mb:32px;--mr:48px;--mt-mobile:20px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--mt-tablet:28px;--ml-tablet:40px;--mb-tablet:28px;--mr-tablet:40px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758364010884"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:28px;--size-tablet:18px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg136u1W-Jj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gnNbaF06bo"}' data-id="gnNbaF06bo" id="gnNbaF06bo" data-same-height-subgrid-container class="gnNbaF06bo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:12px;--cg-mobile:10px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gXO9p0Slao gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gGlXwlHPSG"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pb-mobile:0px;--ta:right;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1758364010914 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full gGlXwlHPSG"
    >
      <div
        
        style="border-radius:inherit;--jc:right;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-5b7a720c-69f7-4190-bc15-137e45217b58.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAiIGhlaWdodD0iODAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgwLTgwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MCIgaGVpZ2h0PSI4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAiIGhlaWdodD0iODAiIGZpbGw9InVybCgjZy04MC04MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgwIiB0bz0iODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-b70f56bf-0399-4a45-852f-a553e206ccfe.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTYxLTE2MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgZmlsbD0idXJsKCNnLTE2MS0xNjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNjEiIHRvPSIxNjEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_524836908077941734-b70f56bf-0399-4a45-852f-a553e206ccfe.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTYxLTE2MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYxIiBoZWlnaHQ9IjE2MSIgZmlsbD0idXJsKCNnLTE2MS0xNjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNjEiIHRvPSIxNjEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_524836908077941734-b70f56bf-0399-4a45-852f-a553e206ccfe.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect-mobile:32/32;--objf:contain;--w:40px;--w-tablet:40px;--w-mobile:32px;--h:100%;--h-tablet:100%;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gxYtJi2-o4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gllQFWLovH"
        class="gllQFWLovH"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758364010916"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#343454;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggllQFWLovH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWXUD3vw1u"
        class="gWXUD3vw1u"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758364010917"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:14px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWXUD3vw1u_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-585246522908607133 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=585246507641340562&sectionId=585246522908607133)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggzo8Nishrx_text","label":"ggzo8Nishrx_text","default":"Real People. Real Hair Results"},{"type":"html","id":"ggGWDneO4nC_text","label":"ggGWDneO4nC_text","default":"<p>Thousands have seen visible improvements in hair growth, strength,</p><p>and confidence with Gemix. You could be next.</p>"},{"type":"html","id":"ggVArI8iSj9_leftImageLabel","label":"ggVArI8iSj9_leftImageLabel","default":"1 Day"},{"type":"html","id":"ggVArI8iSj9_rightImageLabel","label":"ggVArI8iSj9_rightImageLabel","default":"60 Days"},{"type":"html","id":"gg136u1W-Jj_text","label":"gg136u1W-Jj_text","default":"<p>My hair stopped shedding and started growing again. It feels thicker. Gemix really works!</p>"},{"type":"html","id":"ggllQFWLovH_text","label":"ggllQFWLovH_text","default":"<p>Jessica</p>"},{"type":"html","id":"ggWXUD3vw1u_text","label":"ggWXUD3vw1u_text","default":"<p>Customer</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  