

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527291802416317393.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527291802416317393.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527291802416317393.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527291802416317393.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527291802416317393.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527291802416317393.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527291802416317393.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527291802416317393.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527291802416317393.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527291802416317393.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527291802416317393.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527291802416317393.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527291802416317393.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527291802416317393.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527291802416317393.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527291802416317393.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-527291802416317393.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-527291802416317393.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-527291802416317393.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-527291802416317393.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527291802416317393.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527291802416317393.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527291802416317393.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-527291802416317393.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-527291802416317393.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527291802416317393.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527291802416317393.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-527291802416317393.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527291802416317393.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527291802416317393.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527291802416317393.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527291802416317393.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527291802416317393.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527291802416317393.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527291802416317393.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527291802416317393.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527291802416317393.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527291802416317393.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-527291802416317393.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527291802416317393.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-527291802416317393.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527291802416317393.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-527291802416317393.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-527291802416317393.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527291802416317393.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527291802416317393.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-527291802416317393.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-527291802416317393.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527291802416317393.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-527291802416317393.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-527291802416317393.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-527291802416317393.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527291802416317393.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-527291802416317393.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527291802416317393.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527291802416317393.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527291802416317393.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527291802416317393.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-527291802416317393 .gp-relative{position:relative}.gps-527291802416317393 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527291802416317393 .gp-mb-0{margin-bottom:0}.gps-527291802416317393 .\!gp-inline{display:inline!important}.gps-527291802416317393 .gp-flex{display:flex}.gps-527291802416317393 .gp-grid{display:grid}.gps-527291802416317393 .\!gp-hidden{display:none!important}.gps-527291802416317393 .gp-hidden{display:none}.gps-527291802416317393 .gp-h-full{height:100%}.gps-527291802416317393 .gp-w-full{width:100%}.gps-527291802416317393 .gp-max-w-full{max-width:100%}.gps-527291802416317393 .gp-flex-col{flex-direction:column}.gps-527291802416317393 .gp-gap-y-0{row-gap:0}.gps-527291802416317393 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527291802416317393 .gp-duration-200{transition-duration:.2s}.gps-527291802416317393 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-527291802416317393 .tablet\:\!gp-hidden{display:none!important}.gps-527291802416317393 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-527291802416317393 .mobile\:\!gp-hidden{display:none!important}.gps-527291802416317393 .mobile\:gp-hidden{display:none}}.gps-527291802416317393 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-527291802416317393 .\[\&_p\]\:gp-inline p{display:inline}.gps-527291802416317393 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-527291802416317393 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gI7cfaQhiv" data-id="gI7cfaQhiv"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gI7cfaQhiv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g797sHsuSr gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gedHI_pJIO" data-id="gedHI_pJIO"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:300px;--pr:300px;--pl-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gedHI_pJIO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gItpiJb6B8 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gOzzQADXHt">
    <div
      parentTag="Col"
        class="gOzzQADXHt "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOzzQADXHt_text }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gPxxhouZo3" data-id="gPxxhouZo3"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--cg-mobile:14px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPxxhouZo3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gVDAFqOgVW gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="grxo9BBYO3"
    role="presentation"
    class="gp-group/image grxo9BBYO3"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d.webp" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:350/99;--aspect-tablet:350/99;--aspect-mobile:350/99;--objf:fill;--w:100%;--w-tablet:80px;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-aa09e025-562b-4c9f-b1fd-9c29931a132d.webp" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:350/99;--aspect-tablet:350/99;--aspect-mobile:350/99;--objf:fill;--w:100%;--w-tablet:80px;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gaEY_nRs2J gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gWd9lM-_NS"
    role="presentation"
    class="gp-group/image gWd9lM-_NS"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012.webp" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:307/90;--aspect-tablet:307/90;--aspect-mobile:307/90;--objf:fill;--w:100%;--w-tablet:80px;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-4ac3ddac-730b-4d2c-a7a7-ba70d9d1f012.webp" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:307/90;--aspect-tablet:307/90;--aspect-mobile:307/90;--objf:fill;--w:100%;--w-tablet:80px;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g7UMAbo6dc gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gQgQU0uxJW"
    role="presentation"
    class="gp-group/image gQgQU0uxJW"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b.webp" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:162/91;--aspect-tablet:162/91;--aspect-mobile:162/91;--objf:fill;--w:100%;--w-tablet:80px;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-6c70b7f2-ae9d-4235-931b-f42a0b1fec1b.webp" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:162/91;--aspect-tablet:162/91;--aspect-mobile:162/91;--objf:fill;--w:100%;--w-tablet:80px;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g3r0E6W5Cu gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gXg4UfoxNa"
    role="presentation"
    class="gp-group/image gXg4UfoxNa"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980.webp" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:400/125;--aspect-tablet:400/125;--aspect-mobile:400/125;--objf:fill;--w:100%;--w-tablet:80px;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-3abb4815-770a-4a6e-8860-983c58655980.webp" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:400/125;--aspect-tablet:400/125;--aspect-mobile:400/125;--objf:fill;--w:100%;--w-tablet:80px;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-527291802416317393 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=524836910242268222&sectionId=527291802416317393)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggOzzQADXHt_text","label":"ggOzzQADXHt_text","default":"Scientifically Backed Ingredients Featured In"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
