
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-533922856933786378.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-533922856933786378.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-533922856933786378.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-533922856933786378.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-533922856933786378.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-533922856933786378.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-533922856933786378.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-533922856933786378.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-533922856933786378.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-533922856933786378.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-533922856933786378.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-533922856933786378.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-533922856933786378.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-533922856933786378.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-533922856933786378.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-533922856933786378.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-533922856933786378.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-533922856933786378.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-533922856933786378.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-533922856933786378.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-533922856933786378.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-533922856933786378.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-533922856933786378.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-533922856933786378.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-533922856933786378.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-533922856933786378.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-533922856933786378.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-533922856933786378.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-533922856933786378.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-533922856933786378.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-533922856933786378.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-533922856933786378.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-533922856933786378.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-533922856933786378.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-533922856933786378.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-533922856933786378.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-533922856933786378.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-533922856933786378.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-533922856933786378.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-533922856933786378.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-533922856933786378.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-533922856933786378.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-533922856933786378.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-533922856933786378.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-533922856933786378.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-533922856933786378.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-533922856933786378.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-533922856933786378.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-533922856933786378.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-533922856933786378.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-533922856933786378.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-533922856933786378.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-533922856933786378.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-533922856933786378.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-533922856933786378.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-533922856933786378.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-533922856933786378.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-533922856933786378.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-533922856933786378.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-533922856933786378.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-533922856933786378.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-533922856933786378.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-533922856933786378.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-533922856933786378.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-533922856933786378.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-533922856933786378.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-533922856933786378.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-533922856933786378.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-533922856933786378.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-533922856933786378.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-533922856933786378.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-533922856933786378.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-533922856933786378.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-533922856933786378.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-533922856933786378.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-533922856933786378.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-533922856933786378.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-533922856933786378.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-533922856933786378.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-533922856933786378.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-533922856933786378.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-533922856933786378.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-533922856933786378.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-533922856933786378.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-533922856933786378.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-533922856933786378.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-533922856933786378.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-533922856933786378.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-533922856933786378.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-533922856933786378.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-533922856933786378.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-533922856933786378.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-533922856933786378.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-533922856933786378.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-533922856933786378.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-533922856933786378.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-533922856933786378.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-533922856933786378.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-533922856933786378 .gp-relative{position:relative}.gps-533922856933786378 .gp-z-1{z-index:1}.gps-533922856933786378 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-533922856933786378 .gp-mb-0{margin-bottom:0}.gps-533922856933786378 .gp-inline-block{display:inline-block}.gps-533922856933786378 .gp-flex{display:flex}.gps-533922856933786378 .gp-inline-flex{display:inline-flex}.gps-533922856933786378 .gp-grid{display:grid}.gps-533922856933786378 .gp-contents{display:contents}.gps-533922856933786378 .\!gp-hidden{display:none!important}.gps-533922856933786378 .gp-hidden{display:none}.gps-533922856933786378 .gp-h-auto{height:auto}.gps-533922856933786378 .gp-h-full{height:100%}.gps-533922856933786378 .gp-w-full{width:100%}.gps-533922856933786378 .gp-max-w-full{max-width:100%}.gps-533922856933786378 .gp-flex-none{flex:none}.gps-533922856933786378 .gp-shrink-0{flex-shrink:0}.gps-533922856933786378 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-533922856933786378 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-533922856933786378 .gp-flex-col{flex-direction:column}.gps-533922856933786378 .gp-items-center{align-items:center}.gps-533922856933786378 .gp-justify-center{justify-content:center}.gps-533922856933786378 .gp-overflow-hidden{overflow:hidden}.gps-533922856933786378 .gp-break-words{overflow-wrap:break-word}.gps-533922856933786378 .gp-border{border-width:1px}.gps-533922856933786378 .gp-border-transparent{border-color:transparent}.gps-533922856933786378 .gp-text-left{text-align:left}.gps-533922856933786378 .gp-text-center{text-align:center}.gps-533922856933786378 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-533922856933786378 .gp-no-underline{text-decoration-line:none}.gps-533922856933786378 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-533922856933786378 .gp-duration-200{transition-duration:.2s}.gps-533922856933786378 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-533922856933786378 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-533922856933786378 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-533922856933786378 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-533922856933786378 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-533922856933786378 .tablet\:\!gp-hidden{display:none!important}.gps-533922856933786378 .tablet\:gp-hidden{display:none}.gps-533922856933786378 .tablet\:gp-h-auto{height:auto}.gps-533922856933786378 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-533922856933786378 .mobile\:\!gp-hidden{display:none!important}.gps-533922856933786378 .mobile\:gp-hidden{display:none}.gps-533922856933786378 .mobile\:gp-h-auto{height:auto}.gps-533922856933786378 .mobile\:gp-flex-none{flex:none}}.gps-533922856933786378 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-533922856933786378 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-533922856933786378 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-533922856933786378 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-533922856933786378 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-533922856933786378 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-533922856933786378 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-533922856933786378 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-533922856933786378 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-533922856933786378 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-533922856933786378 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-533922856933786378 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EFEFEF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gX4ffFGEb4"}' data-id="gX4ffFGEb4" id="gX4ffFGEb4" data-same-height-subgrid-container class="gX4ffFGEb4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pl:20px;--pb:16px;--pr:20px;--pt-mobile:11px;--pb-mobile:14px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EFEFEF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g4QKUZoGaZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghPMjh6-Fx"
        class="ghPMjh6-Fx"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pr:0px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194664"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghPMjh6-Fx_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWdIiwtc3g"
        class="gWdIiwtc3g"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pl:0px;--pr:0px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194665"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWdIiwtc3g_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gWdIiwtc3g">
        .gWdIiwtc3g {

}
.gWdIiwtc3g p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gJ0CBeNsli"}' data-id="gJ0CBeNsli" id="gJ0CBeNsli" data-same-height-subgrid-container class="gJ0CBeNsli gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:21px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:790px;--w-tablet:790px;--w-mobile:var(--g-ct-w, 100%);--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gR18H_AB48 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gRq-hVjH8e"}' data-id="gRq-hVjH8e" id="gRq-hVjH8e" data-same-height-subgrid-container class="gRq-hVjH8e gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:0px;--btlr:20px;--btrr:0px;--mr:auto;--pt:24px;--pl:24px;--pb:24px;--pr:24px;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:21px;--pl-mobile:10px;--pb-mobile:20px;--pr-mobile:10px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZQGqeBzfc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gfwNfswJjk"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756030194676 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gfwNfswJjk"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-915c8206-ae88-4029-bb2e-5046850bd57c_1024x.png?v=1721139729" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDg0LTI5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0idXJsKCNnLTQ4NC0yOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODQiIHRvPSI0ODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-915c8206-ae88-4029-bb2e-5046850bd57c_1024x.png?v=1721139729" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDg0LTI5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0idXJsKCNnLTQ4NC0yOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODQiIHRvPSI0ODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-915c8206-ae88-4029-bb2e-5046850bd57c.png?v=1721139729" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDg0LTI5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0idXJsKCNnLTQ4NC0yOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODQiIHRvPSI0ODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-915c8206-ae88-4029-bb2e-5046850bd57c.png?v=1721139729"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w-mobile:144px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gfwNfswJjk">
        .gfwNfswJjk {

}
.gfwNfswJjk > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCLRIt4ALG"
        class="gCLRIt4ALG"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194677"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCLRIt4ALG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gCLRIt4ALG">
        .gCLRIt4ALG {

}
.gCLRIt4ALG p {

}
      </style>
    <div gp-el-wrapper  class="gYqzECQpRi ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gYqzECQpRi"
      data-id="gYqzECQpRi"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--jc:left"
      className="gYqzECQpRi"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":16,"tablet":20}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px;--rg-mobile:14px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gYqzECQpRi"
                      style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
                        >
                          <svg data-id="522802179686269815" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<g clip-path="url(#clip0_1325_2253)">
<path d="M10 19.0508C7.67936 19.0508 5.45376 18.1289 3.81282 16.488C2.17187 14.847 1.25 12.6214 1.25 10.3008C1.25 7.98014 2.17187 5.75454 3.81282 4.1136C5.45376 2.47265 7.67936 1.55078 10 1.55078C12.3206 1.55078 14.5462 2.47265 16.1872 4.1136C17.8281 5.75454 18.75 7.98014 18.75 10.3008C18.75 12.6214 17.8281 14.847 16.1872 16.488C14.5462 18.1289 12.3206 19.0508 10 19.0508ZM10 20.3008C12.6522 20.3008 15.1957 19.2472 17.0711 17.3718C18.9464 15.4965 20 12.9529 20 10.3008C20 7.64862 18.9464 5.10508 17.0711 3.22971C15.1957 1.35435 12.6522 0.300781 10 0.300781C7.34784 0.300781 4.8043 1.35435 2.92893 3.22971C1.05357 5.10508 0 7.64862 0 10.3008C0 12.9529 1.05357 15.4965 2.92893 17.3718C4.8043 19.2472 7.34784 20.3008 10 20.3008Z" fill="#52C41A"/>
<path d="M13.7105 6.51007C13.7016 6.5187 13.6933 6.52789 13.6855 6.53757L9.3443 12.0688L6.72804 9.45132C6.55033 9.28572 6.31527 9.19557 6.07239 9.19985C5.82952 9.20414 5.59778 9.30253 5.42602 9.4743C5.25425 9.64606 5.15586 9.87779 5.15158 10.1207C5.14729 10.3635 5.23744 10.5986 5.40304 10.7763L8.71054 14.0851C8.79965 14.174 8.90575 14.2441 9.02252 14.2911C9.1393 14.3382 9.26435 14.3612 9.39023 14.3589C9.5161 14.3566 9.64021 14.3289 9.75517 14.2776C9.87012 14.2262 9.97355 14.1523 10.0593 14.0601L15.0493 7.82257C15.2192 7.64424 15.3121 7.40619 15.3079 7.15991C15.3037 6.91362 15.2028 6.67888 15.0269 6.50644C14.851 6.334 14.6143 6.23771 14.368 6.23839C14.1216 6.23907 13.8855 6.33666 13.7105 6.51007Z" fill="#52C41A"/>
</g>
<defs>
<clipPath id="clip0_1325_2253">
<rect width="20" height="20" fill="white" transform="translate(0 0.300781)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194678"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYqzECQpRi_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gYqzECQpRi"
                      style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
                        >
                          <svg data-id="522802179686269815" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<g clip-path="url(#clip0_1325_2253)">
<path d="M10 19.0508C7.67936 19.0508 5.45376 18.1289 3.81282 16.488C2.17187 14.847 1.25 12.6214 1.25 10.3008C1.25 7.98014 2.17187 5.75454 3.81282 4.1136C5.45376 2.47265 7.67936 1.55078 10 1.55078C12.3206 1.55078 14.5462 2.47265 16.1872 4.1136C17.8281 5.75454 18.75 7.98014 18.75 10.3008C18.75 12.6214 17.8281 14.847 16.1872 16.488C14.5462 18.1289 12.3206 19.0508 10 19.0508ZM10 20.3008C12.6522 20.3008 15.1957 19.2472 17.0711 17.3718C18.9464 15.4965 20 12.9529 20 10.3008C20 7.64862 18.9464 5.10508 17.0711 3.22971C15.1957 1.35435 12.6522 0.300781 10 0.300781C7.34784 0.300781 4.8043 1.35435 2.92893 3.22971C1.05357 5.10508 0 7.64862 0 10.3008C0 12.9529 1.05357 15.4965 2.92893 17.3718C4.8043 19.2472 7.34784 20.3008 10 20.3008Z" fill="#52C41A"/>
<path d="M13.7105 6.51007C13.7016 6.5187 13.6933 6.52789 13.6855 6.53757L9.3443 12.0688L6.72804 9.45132C6.55033 9.28572 6.31527 9.19557 6.07239 9.19985C5.82952 9.20414 5.59778 9.30253 5.42602 9.4743C5.25425 9.64606 5.15586 9.87779 5.15158 10.1207C5.14729 10.3635 5.23744 10.5986 5.40304 10.7763L8.71054 14.0851C8.79965 14.174 8.90575 14.2441 9.02252 14.2911C9.1393 14.3382 9.26435 14.3612 9.39023 14.3589C9.5161 14.3566 9.64021 14.3289 9.75517 14.2776C9.87012 14.2262 9.97355 14.1523 10.0593 14.0601L15.0493 7.82257C15.2192 7.64424 15.3121 7.40619 15.3079 7.15991C15.3037 6.91362 15.2028 6.67888 15.0269 6.50644C14.851 6.334 14.6143 6.23771 14.368 6.23839C14.1216 6.23907 13.8855 6.33666 13.7105 6.51007Z" fill="#52C41A"/>
</g>
<defs>
<clipPath id="clip0_1325_2253">
<rect width="20" height="20" fill="white" transform="translate(0 0.300781)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194679"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYqzECQpRi_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gYqzECQpRi"
                      style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
                        >
                          <svg data-id="522802179686269815" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<g clip-path="url(#clip0_1325_2253)">
<path d="M10 19.0508C7.67936 19.0508 5.45376 18.1289 3.81282 16.488C2.17187 14.847 1.25 12.6214 1.25 10.3008C1.25 7.98014 2.17187 5.75454 3.81282 4.1136C5.45376 2.47265 7.67936 1.55078 10 1.55078C12.3206 1.55078 14.5462 2.47265 16.1872 4.1136C17.8281 5.75454 18.75 7.98014 18.75 10.3008C18.75 12.6214 17.8281 14.847 16.1872 16.488C14.5462 18.1289 12.3206 19.0508 10 19.0508ZM10 20.3008C12.6522 20.3008 15.1957 19.2472 17.0711 17.3718C18.9464 15.4965 20 12.9529 20 10.3008C20 7.64862 18.9464 5.10508 17.0711 3.22971C15.1957 1.35435 12.6522 0.300781 10 0.300781C7.34784 0.300781 4.8043 1.35435 2.92893 3.22971C1.05357 5.10508 0 7.64862 0 10.3008C0 12.9529 1.05357 15.4965 2.92893 17.3718C4.8043 19.2472 7.34784 20.3008 10 20.3008Z" fill="#52C41A"/>
<path d="M13.7105 6.51007C13.7016 6.5187 13.6933 6.52789 13.6855 6.53757L9.3443 12.0688L6.72804 9.45132C6.55033 9.28572 6.31527 9.19557 6.07239 9.19985C5.82952 9.20414 5.59778 9.30253 5.42602 9.4743C5.25425 9.64606 5.15586 9.87779 5.15158 10.1207C5.14729 10.3635 5.23744 10.5986 5.40304 10.7763L8.71054 14.0851C8.79965 14.174 8.90575 14.2441 9.02252 14.2911C9.1393 14.3382 9.26435 14.3612 9.39023 14.3589C9.5161 14.3566 9.64021 14.3289 9.75517 14.2776C9.87012 14.2262 9.97355 14.1523 10.0593 14.0601L15.0493 7.82257C15.2192 7.64424 15.3121 7.40619 15.3079 7.15991C15.3037 6.91362 15.2028 6.67888 15.0269 6.50644C14.851 6.334 14.6143 6.23771 14.368 6.23839C14.1216 6.23907 13.8855 6.33666 13.7105 6.51007Z" fill="#52C41A"/>
</g>
<defs>
<clipPath id="clip0_1325_2253">
<rect width="20" height="20" fill="white" transform="translate(0 0.300781)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194679"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYqzECQpRi_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gYqzECQpRi"
                      style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
                        >
                          <svg data-id="522802179686269815" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<g clip-path="url(#clip0_1325_2253)">
<path d="M10 19.0508C7.67936 19.0508 5.45376 18.1289 3.81282 16.488C2.17187 14.847 1.25 12.6214 1.25 10.3008C1.25 7.98014 2.17187 5.75454 3.81282 4.1136C5.45376 2.47265 7.67936 1.55078 10 1.55078C12.3206 1.55078 14.5462 2.47265 16.1872 4.1136C17.8281 5.75454 18.75 7.98014 18.75 10.3008C18.75 12.6214 17.8281 14.847 16.1872 16.488C14.5462 18.1289 12.3206 19.0508 10 19.0508ZM10 20.3008C12.6522 20.3008 15.1957 19.2472 17.0711 17.3718C18.9464 15.4965 20 12.9529 20 10.3008C20 7.64862 18.9464 5.10508 17.0711 3.22971C15.1957 1.35435 12.6522 0.300781 10 0.300781C7.34784 0.300781 4.8043 1.35435 2.92893 3.22971C1.05357 5.10508 0 7.64862 0 10.3008C0 12.9529 1.05357 15.4965 2.92893 17.3718C4.8043 19.2472 7.34784 20.3008 10 20.3008Z" fill="#52C41A"/>
<path d="M13.7105 6.51007C13.7016 6.5187 13.6933 6.52789 13.6855 6.53757L9.3443 12.0688L6.72804 9.45132C6.55033 9.28572 6.31527 9.19557 6.07239 9.19985C5.82952 9.20414 5.59778 9.30253 5.42602 9.4743C5.25425 9.64606 5.15586 9.87779 5.15158 10.1207C5.14729 10.3635 5.23744 10.5986 5.40304 10.7763L8.71054 14.0851C8.79965 14.174 8.90575 14.2441 9.02252 14.2911C9.1393 14.3382 9.26435 14.3612 9.39023 14.3589C9.5161 14.3566 9.64021 14.3289 9.75517 14.2776C9.87012 14.2262 9.97355 14.1523 10.0593 14.0601L15.0493 7.82257C15.2192 7.64424 15.3121 7.40619 15.3079 7.15991C15.3037 6.91362 15.2028 6.67888 15.0269 6.50644C14.851 6.334 14.6143 6.23771 14.368 6.23839C14.1216 6.23907 13.8855 6.33666 13.7105 6.51007Z" fill="#52C41A"/>
</g>
<defs>
<clipPath id="clip0_1325_2253">
<rect width="20" height="20" fill="white" transform="translate(0 0.300781)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194680"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYqzECQpRi_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="4"
                      data-index="4"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gYqzECQpRi"
                      style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
                        >
                          <svg data-id="522802179686269815" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<g clip-path="url(#clip0_1325_2253)">
<path d="M10 19.0508C7.67936 19.0508 5.45376 18.1289 3.81282 16.488C2.17187 14.847 1.25 12.6214 1.25 10.3008C1.25 7.98014 2.17187 5.75454 3.81282 4.1136C5.45376 2.47265 7.67936 1.55078 10 1.55078C12.3206 1.55078 14.5462 2.47265 16.1872 4.1136C17.8281 5.75454 18.75 7.98014 18.75 10.3008C18.75 12.6214 17.8281 14.847 16.1872 16.488C14.5462 18.1289 12.3206 19.0508 10 19.0508ZM10 20.3008C12.6522 20.3008 15.1957 19.2472 17.0711 17.3718C18.9464 15.4965 20 12.9529 20 10.3008C20 7.64862 18.9464 5.10508 17.0711 3.22971C15.1957 1.35435 12.6522 0.300781 10 0.300781C7.34784 0.300781 4.8043 1.35435 2.92893 3.22971C1.05357 5.10508 0 7.64862 0 10.3008C0 12.9529 1.05357 15.4965 2.92893 17.3718C4.8043 19.2472 7.34784 20.3008 10 20.3008Z" fill="#52C41A"/>
<path d="M13.7105 6.51007C13.7016 6.5187 13.6933 6.52789 13.6855 6.53757L9.3443 12.0688L6.72804 9.45132C6.55033 9.28572 6.31527 9.19557 6.07239 9.19985C5.82952 9.20414 5.59778 9.30253 5.42602 9.4743C5.25425 9.64606 5.15586 9.87779 5.15158 10.1207C5.14729 10.3635 5.23744 10.5986 5.40304 10.7763L8.71054 14.0851C8.79965 14.174 8.90575 14.2441 9.02252 14.2911C9.1393 14.3382 9.26435 14.3612 9.39023 14.3589C9.5161 14.3566 9.64021 14.3289 9.75517 14.2776C9.87012 14.2262 9.97355 14.1523 10.0593 14.0601L15.0493 7.82257C15.2192 7.64424 15.3121 7.40619 15.3079 7.15991C15.3037 6.91362 15.2028 6.67888 15.0269 6.50644C14.851 6.334 14.6143 6.23771 14.368 6.23839C14.1216 6.23907 13.8855 6.33666 13.7105 6.51007Z" fill="#52C41A"/>
</g>
<defs>
<clipPath id="clip0_1325_2253">
<rect width="20" height="20" fill="white" transform="translate(0 0.300781)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194680"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYqzECQpRi_childItem_4 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gXlIcAEbkD gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#E6E6E6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g9K0J7-liG"}' data-id="g9K0J7-liG" id="g9K0J7-liG" data-same-height-subgrid-container class="g9K0J7-liG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 1px;--bc:#D6D6D6;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:20px;--btlr:0px;--btrr:20px;--mt:0px;--pt:24px;--pl:24px;--pb:24px;--pr:24px;--pt-mobile:21px;--pl-mobile:10px;--pb-mobile:20px;--pr-mobile:10px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#E6E6E6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gS9vs_PF2t gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gYu6dnu7Hr"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756030194684 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gYu6dnu7Hr"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-3ded8f5d-0149-414f-b7bf-d80912c56111.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDg0LTI5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0idXJsKCNnLTQ4NC0yOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODQiIHRvPSI0ODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-3ded8f5d-0149-414f-b7bf-d80912c56111.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDg0LTI5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0idXJsKCNnLTQ4NC0yOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODQiIHRvPSI0ODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_524836908077941734-3ded8f5d-0149-414f-b7bf-d80912c56111.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDg0LTI5OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDg0IiBoZWlnaHQ9IjI5OCIgZmlsbD0idXJsKCNnLTQ4NC0yOTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODQiIHRvPSI0ODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_524836908077941734-3ded8f5d-0149-414f-b7bf-d80912c56111.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w-mobile:144px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gYu6dnu7Hr">
        .gYu6dnu7Hr {

}
.gYu6dnu7Hr > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSK0PqSZOB"
        class="gSK0PqSZOB"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194686"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSK0PqSZOB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gSK0PqSZOB">
        .gSK0PqSZOB {

}
.gSK0PqSZOB p {

}
      </style>
    <div gp-el-wrapper  class="gyaUJFBdTL ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gyaUJFBdTL"
      data-id="gyaUJFBdTL"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--jc:left"
      className="gyaUJFBdTL"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":16,"tablet":20}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px;--rg-mobile:14px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gyaUJFBdTL"
                      style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#EA3335;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
                        >
                          <svg data-id="522802170257474423" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<path d="M5.8074 6.1094C5.86545 6.05119 5.93442 6.00502 6.01035 5.97351C6.08629 5.942 6.16769 5.92578 6.2499 5.92578C6.33211 5.92578 6.41351 5.942 6.48944 5.97351C6.56537 6.00502 6.63434 6.05119 6.6924 6.1094L9.9999 9.41815L13.3074 6.1094C13.3655 6.05129 13.4345 6.00519 13.5104 5.97374C13.5863 5.9423 13.6677 5.92611 13.7499 5.92611C13.8321 5.92611 13.9135 5.9423 13.9894 5.97374C14.0653 6.00519 14.1343 6.05129 14.1924 6.1094C14.2505 6.16751 14.2966 6.23649 14.3281 6.31242C14.3595 6.38834 14.3757 6.46972 14.3757 6.5519C14.3757 6.63408 14.3595 6.71545 14.3281 6.79138C14.2966 6.8673 14.2505 6.93629 14.1924 6.9944L10.8836 10.3019L14.1924 13.6094C14.2505 13.6675 14.2966 13.7365 14.3281 13.8124C14.3595 13.8883 14.3757 13.9697 14.3757 14.0519C14.3757 14.1341 14.3595 14.2155 14.3281 14.2914C14.2966 14.3673 14.2505 14.4363 14.1924 14.4944C14.1343 14.5525 14.0653 14.5986 13.9894 14.6301C13.9135 14.6615 13.8321 14.6777 13.7499 14.6777C13.6677 14.6777 13.5863 14.6615 13.5104 14.6301C13.4345 14.5986 13.3655 14.5525 13.3074 14.4944L9.9999 11.1856L6.6924 14.4944C6.63429 14.5525 6.5653 14.5986 6.48938 14.6301C6.41345 14.6615 6.33208 14.6777 6.2499 14.6777C6.16772 14.6777 6.08634 14.6615 6.01042 14.6301C5.93449 14.5986 5.86551 14.5525 5.8074 14.4944C5.74929 14.4363 5.70319 14.3673 5.67174 14.2914C5.64029 14.2155 5.62411 14.1341 5.62411 14.0519C5.62411 13.9697 5.64029 13.8883 5.67174 13.8124C5.70319 13.7365 5.74929 13.6675 5.8074 13.6094L9.11615 10.3019L5.8074 6.9944C5.74919 6.93634 5.70301 6.86737 5.67151 6.79144C5.64 6.71551 5.62378 6.63411 5.62378 6.5519C5.62378 6.46969 5.64 6.38829 5.67151 6.31236C5.70301 6.23642 5.74919 6.16746 5.8074 6.1094Z" fill="#EA3335"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194687"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyaUJFBdTL_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gyaUJFBdTL"
                      style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#EA3335;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
                        >
                          <svg data-id="522802170257474423" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<path d="M5.8074 6.1094C5.86545 6.05119 5.93442 6.00502 6.01035 5.97351C6.08629 5.942 6.16769 5.92578 6.2499 5.92578C6.33211 5.92578 6.41351 5.942 6.48944 5.97351C6.56537 6.00502 6.63434 6.05119 6.6924 6.1094L9.9999 9.41815L13.3074 6.1094C13.3655 6.05129 13.4345 6.00519 13.5104 5.97374C13.5863 5.9423 13.6677 5.92611 13.7499 5.92611C13.8321 5.92611 13.9135 5.9423 13.9894 5.97374C14.0653 6.00519 14.1343 6.05129 14.1924 6.1094C14.2505 6.16751 14.2966 6.23649 14.3281 6.31242C14.3595 6.38834 14.3757 6.46972 14.3757 6.5519C14.3757 6.63408 14.3595 6.71545 14.3281 6.79138C14.2966 6.8673 14.2505 6.93629 14.1924 6.9944L10.8836 10.3019L14.1924 13.6094C14.2505 13.6675 14.2966 13.7365 14.3281 13.8124C14.3595 13.8883 14.3757 13.9697 14.3757 14.0519C14.3757 14.1341 14.3595 14.2155 14.3281 14.2914C14.2966 14.3673 14.2505 14.4363 14.1924 14.4944C14.1343 14.5525 14.0653 14.5986 13.9894 14.6301C13.9135 14.6615 13.8321 14.6777 13.7499 14.6777C13.6677 14.6777 13.5863 14.6615 13.5104 14.6301C13.4345 14.5986 13.3655 14.5525 13.3074 14.4944L9.9999 11.1856L6.6924 14.4944C6.63429 14.5525 6.5653 14.5986 6.48938 14.6301C6.41345 14.6615 6.33208 14.6777 6.2499 14.6777C6.16772 14.6777 6.08634 14.6615 6.01042 14.6301C5.93449 14.5986 5.86551 14.5525 5.8074 14.4944C5.74929 14.4363 5.70319 14.3673 5.67174 14.2914C5.64029 14.2155 5.62411 14.1341 5.62411 14.0519C5.62411 13.9697 5.64029 13.8883 5.67174 13.8124C5.70319 13.7365 5.74929 13.6675 5.8074 13.6094L9.11615 10.3019L5.8074 6.9944C5.74919 6.93634 5.70301 6.86737 5.67151 6.79144C5.64 6.71551 5.62378 6.63411 5.62378 6.5519C5.62378 6.46969 5.64 6.38829 5.67151 6.31236C5.70301 6.23642 5.74919 6.16746 5.8074 6.1094Z" fill="#EA3335"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194687"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyaUJFBdTL_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gyaUJFBdTL"
                      style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#EA3335;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
                        >
                          <svg data-id="522802170257474423" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<path d="M5.8074 6.1094C5.86545 6.05119 5.93442 6.00502 6.01035 5.97351C6.08629 5.942 6.16769 5.92578 6.2499 5.92578C6.33211 5.92578 6.41351 5.942 6.48944 5.97351C6.56537 6.00502 6.63434 6.05119 6.6924 6.1094L9.9999 9.41815L13.3074 6.1094C13.3655 6.05129 13.4345 6.00519 13.5104 5.97374C13.5863 5.9423 13.6677 5.92611 13.7499 5.92611C13.8321 5.92611 13.9135 5.9423 13.9894 5.97374C14.0653 6.00519 14.1343 6.05129 14.1924 6.1094C14.2505 6.16751 14.2966 6.23649 14.3281 6.31242C14.3595 6.38834 14.3757 6.46972 14.3757 6.5519C14.3757 6.63408 14.3595 6.71545 14.3281 6.79138C14.2966 6.8673 14.2505 6.93629 14.1924 6.9944L10.8836 10.3019L14.1924 13.6094C14.2505 13.6675 14.2966 13.7365 14.3281 13.8124C14.3595 13.8883 14.3757 13.9697 14.3757 14.0519C14.3757 14.1341 14.3595 14.2155 14.3281 14.2914C14.2966 14.3673 14.2505 14.4363 14.1924 14.4944C14.1343 14.5525 14.0653 14.5986 13.9894 14.6301C13.9135 14.6615 13.8321 14.6777 13.7499 14.6777C13.6677 14.6777 13.5863 14.6615 13.5104 14.6301C13.4345 14.5986 13.3655 14.5525 13.3074 14.4944L9.9999 11.1856L6.6924 14.4944C6.63429 14.5525 6.5653 14.5986 6.48938 14.6301C6.41345 14.6615 6.33208 14.6777 6.2499 14.6777C6.16772 14.6777 6.08634 14.6615 6.01042 14.6301C5.93449 14.5986 5.86551 14.5525 5.8074 14.4944C5.74929 14.4363 5.70319 14.3673 5.67174 14.2914C5.64029 14.2155 5.62411 14.1341 5.62411 14.0519C5.62411 13.9697 5.64029 13.8883 5.67174 13.8124C5.70319 13.7365 5.74929 13.6675 5.8074 13.6094L9.11615 10.3019L5.8074 6.9944C5.74919 6.93634 5.70301 6.86737 5.67151 6.79144C5.64 6.71551 5.62378 6.63411 5.62378 6.5519C5.62378 6.46969 5.64 6.38829 5.67151 6.31236C5.70301 6.23642 5.74919 6.16746 5.8074 6.1094Z" fill="#EA3335"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194687"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyaUJFBdTL_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gyaUJFBdTL"
                      style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#EA3335;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
                        >
                          <svg data-id="522802170257474423" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<path d="M5.8074 6.1094C5.86545 6.05119 5.93442 6.00502 6.01035 5.97351C6.08629 5.942 6.16769 5.92578 6.2499 5.92578C6.33211 5.92578 6.41351 5.942 6.48944 5.97351C6.56537 6.00502 6.63434 6.05119 6.6924 6.1094L9.9999 9.41815L13.3074 6.1094C13.3655 6.05129 13.4345 6.00519 13.5104 5.97374C13.5863 5.9423 13.6677 5.92611 13.7499 5.92611C13.8321 5.92611 13.9135 5.9423 13.9894 5.97374C14.0653 6.00519 14.1343 6.05129 14.1924 6.1094C14.2505 6.16751 14.2966 6.23649 14.3281 6.31242C14.3595 6.38834 14.3757 6.46972 14.3757 6.5519C14.3757 6.63408 14.3595 6.71545 14.3281 6.79138C14.2966 6.8673 14.2505 6.93629 14.1924 6.9944L10.8836 10.3019L14.1924 13.6094C14.2505 13.6675 14.2966 13.7365 14.3281 13.8124C14.3595 13.8883 14.3757 13.9697 14.3757 14.0519C14.3757 14.1341 14.3595 14.2155 14.3281 14.2914C14.2966 14.3673 14.2505 14.4363 14.1924 14.4944C14.1343 14.5525 14.0653 14.5986 13.9894 14.6301C13.9135 14.6615 13.8321 14.6777 13.7499 14.6777C13.6677 14.6777 13.5863 14.6615 13.5104 14.6301C13.4345 14.5986 13.3655 14.5525 13.3074 14.4944L9.9999 11.1856L6.6924 14.4944C6.63429 14.5525 6.5653 14.5986 6.48938 14.6301C6.41345 14.6615 6.33208 14.6777 6.2499 14.6777C6.16772 14.6777 6.08634 14.6615 6.01042 14.6301C5.93449 14.5986 5.86551 14.5525 5.8074 14.4944C5.74929 14.4363 5.70319 14.3673 5.67174 14.2914C5.64029 14.2155 5.62411 14.1341 5.62411 14.0519C5.62411 13.9697 5.64029 13.8883 5.67174 13.8124C5.70319 13.7365 5.74929 13.6675 5.8074 13.6094L9.11615 10.3019L5.8074 6.9944C5.74919 6.93634 5.70301 6.86737 5.67151 6.79144C5.64 6.71551 5.62378 6.63411 5.62378 6.5519C5.62378 6.46969 5.64 6.38829 5.67151 6.31236C5.70301 6.23642 5.74919 6.16746 5.8074 6.1094Z" fill="#EA3335"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194688"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyaUJFBdTL_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="4"
                      data-index="4"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gyaUJFBdTL"
                      style="--cg:12px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#EA3335;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
                        >
                          <svg data-id="522802170257474423" xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
<path d="M5.8074 6.1094C5.86545 6.05119 5.93442 6.00502 6.01035 5.97351C6.08629 5.942 6.16769 5.92578 6.2499 5.92578C6.33211 5.92578 6.41351 5.942 6.48944 5.97351C6.56537 6.00502 6.63434 6.05119 6.6924 6.1094L9.9999 9.41815L13.3074 6.1094C13.3655 6.05129 13.4345 6.00519 13.5104 5.97374C13.5863 5.9423 13.6677 5.92611 13.7499 5.92611C13.8321 5.92611 13.9135 5.9423 13.9894 5.97374C14.0653 6.00519 14.1343 6.05129 14.1924 6.1094C14.2505 6.16751 14.2966 6.23649 14.3281 6.31242C14.3595 6.38834 14.3757 6.46972 14.3757 6.5519C14.3757 6.63408 14.3595 6.71545 14.3281 6.79138C14.2966 6.8673 14.2505 6.93629 14.1924 6.9944L10.8836 10.3019L14.1924 13.6094C14.2505 13.6675 14.2966 13.7365 14.3281 13.8124C14.3595 13.8883 14.3757 13.9697 14.3757 14.0519C14.3757 14.1341 14.3595 14.2155 14.3281 14.2914C14.2966 14.3673 14.2505 14.4363 14.1924 14.4944C14.1343 14.5525 14.0653 14.5986 13.9894 14.6301C13.9135 14.6615 13.8321 14.6777 13.7499 14.6777C13.6677 14.6777 13.5863 14.6615 13.5104 14.6301C13.4345 14.5986 13.3655 14.5525 13.3074 14.4944L9.9999 11.1856L6.6924 14.4944C6.63429 14.5525 6.5653 14.5986 6.48938 14.6301C6.41345 14.6615 6.33208 14.6777 6.2499 14.6777C6.16772 14.6777 6.08634 14.6615 6.01042 14.6301C5.93449 14.5986 5.86551 14.5525 5.8074 14.4944C5.74929 14.4363 5.70319 14.3673 5.67174 14.2914C5.64029 14.2155 5.62411 14.1341 5.62411 14.0519C5.62411 13.9697 5.64029 13.8883 5.67174 13.8124C5.70319 13.7365 5.74929 13.6675 5.8074 13.6094L9.11615 10.3019L5.8074 6.9944C5.74919 6.93634 5.70301 6.86737 5.67151 6.79144C5.64 6.71551 5.62378 6.63411 5.62378 6.5519C5.62378 6.46969 5.64 6.38829 5.67151 6.31236C5.70301 6.23642 5.74919 6.16746 5.8074 6.1094Z" fill="#EA3335"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194688"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyaUJFBdTL_childItem_4 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guN4o0U48H"
        class="guN4o0U48H"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pr:0px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030194691"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguN4o0U48H_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-guN4o0U48H">
        .guN4o0U48H {

}
.guN4o0U48H p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_blank"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pl:0px;--pr:0px;--mb-mobile:28px;--ta:center" >
        <style>[data-id="g3glbOuQ3n"].gp-button-base::before, [data-id="g3glbOuQ3n-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      
  
    }
  
      
  [data-id="g3glbOuQ3n"]:hover::before, [data-id="g3glbOuQ3n-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      border-top-left-radius: 200px;
      border-top-right-radius: 200px;
      
  }</style>
        
        <a
          data-id="g3glbOuQ3n" dataId="g3glbOuQ3n" data-state="idle" aria-label="<p>CHECK AVAILABILITY</p>"
          
          href="#" target="_blank"
          style="--w:584px;--w-tablet:584px;--w-mobile:584px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:5px;--pr:5px;--pt:14px;--pb:14px;--pl-mobile:5px;--pr-mobile:5px;--pt-mobile:12px;--pb-mobile:12px;--bblr:200px;--bbrr:200px;--btlr:200px;--btrr:200px;--hvr-bblr:200px;--hvr-bbrr:200px;--hvr-btlr:200px;--hvr-btrr:200px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#005C3C;--bg:#008D5C;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
          class="g3glbOuQ3n gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase;--ts:none;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg3glbOuQ3n_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g3glbOuQ3n">
        button.g3glbOuQ3n {

}
      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-533922856933786378 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=533922837656765413&sectionId=533922856933786378)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gghPMjh6-Fx_text","label":"gghPMjh6-Fx_text","default":"The one doctor recommends&nbsp;"},{"type":"html","id":"ggWdIiwtc3g_text","label":"ggWdIiwtc3g_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:15pt;\">I recommend my patients Nordburn Fat Burner capsules for 3-6 months. After that, I always recommend a one-month pause. Of course, pharma companies profit from non-diabetes patients using Ozempic. And yes, they can lose weight. But at what cost? Endocrinologist J.D. wonders.</span></p>"},{"type":"html","id":"ggCLRIt4ALG_text","label":"ggCLRIt4ALG_text","default":"<p>GEM Desk Lamp</p>"},{"type":"html","id":"ggYqzECQpRi_childItem_0","label":"ggYqzECQpRi_childItem_0","default":"<p>Advanced Adjustable Lighting</p>"},{"type":"html","id":"ggYqzECQpRi_childItem_1","label":"ggYqzECQpRi_childItem_1","default":"<p>Smart Dimming Capabilities</p>"},{"type":"html","id":"ggYqzECQpRi_childItem_2","label":"ggYqzECQpRi_childItem_2","default":"<p>Ergonomic Design</p>"},{"type":"html","id":"ggYqzECQpRi_childItem_3","label":"ggYqzECQpRi_childItem_3","default":"<p>Enhanced Productivity</p>"},{"type":"html","id":"ggYqzECQpRi_childItem_4","label":"ggYqzECQpRi_childItem_4","default":"<p>Long-Lasting Technology</p>"},{"type":"html","id":"ggSK0PqSZOB_text","label":"ggSK0PqSZOB_text","default":"<p>Others</p>"},{"type":"html","id":"ggyaUJFBdTL_childItem_0","label":"ggyaUJFBdTL_childItem_0","default":"<p>Advanced Adjustable Lighting</p>"},{"type":"html","id":"ggyaUJFBdTL_childItem_1","label":"ggyaUJFBdTL_childItem_1","default":"<p>Smart Dimming Capabilities</p>"},{"type":"html","id":"ggyaUJFBdTL_childItem_2","label":"ggyaUJFBdTL_childItem_2","default":"<p>Ergonomic Design</p>"},{"type":"html","id":"ggyaUJFBdTL_childItem_3","label":"ggyaUJFBdTL_childItem_3","default":"<p>Enhanced Productivity</p>"},{"type":"html","id":"ggyaUJFBdTL_childItem_4","label":"ggyaUJFBdTL_childItem_4","default":"<p>Long-Lasting Technology</p>"},{"type":"html","id":"gguN4o0U48H_text","label":"gguN4o0U48H_text","default":"<p><span style=\"font-size:17px;\">The supplement, which contains all three ingredients and many more, is Nordburn Fat Burner. A safer path for people who are struggling to lose stubborn fat, are committed to managing their weight, and reducing their cravings.</span></p><p><br><span style=\"font-size:17px;\">To start with, Nordburn contains Chromium Picolinate, an ingredient known to reduce cravings, improve overall metabolic health, and therefore, aid in weight loss and maintenance. Choline, another ingredient in Nordburn Fat Burners capsules, is associated with fat-burning mechanisms inside the human body. Garcinia Cambogia is also a key ingredient in Nordburns Fat Burner; it is associated with appetite control and lower caloric intake.</span></p><p><br><span style=\"font-size:17px;\">Additional ingredients include MCT Oil (an ingredient well-known for reductions in body weight, waist circumference, and insulin resistance); Gymnema Sylvestre (an ingredient that may reduce the ability to taste sweetness and thus make sweet foods less appealing); Inositol, Spirulina, L-Carnitine, and many more.</span></p><p><br><span style=\"font-size:17px;\">When patients come to my office and ask me to prescribe Ozempic for weight loss, I simply decline. Because no quick method is worth the risks, especially when alternatives are available, Doctor J.D. claims.</span></p><p>&nbsp;</p><p><span style=\"font-size:17px;\">The supplement is not really cheap; how could it be with 29 active ingredients? But it is definitely cheaper than Ozempic, the doctor laughs.</span></p>"},{"type":"html","id":"gg3glbOuQ3n_label","label":"gg3glbOuQ3n_label","default":"<p>CHECK AVAILABILITY</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  