

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527416086656779157.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527416086656779157.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527416086656779157.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-527416086656779157.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527416086656779157.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527416086656779157.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527416086656779157.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527416086656779157.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527416086656779157.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527416086656779157.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527416086656779157.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-527416086656779157.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-527416086656779157.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527416086656779157.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-527416086656779157.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-527416086656779157.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527416086656779157.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-527416086656779157.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-527416086656779157.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-527416086656779157.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527416086656779157.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527416086656779157.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527416086656779157.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527416086656779157.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-527416086656779157.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-527416086656779157.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-527416086656779157.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-527416086656779157.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527416086656779157.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527416086656779157.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527416086656779157.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-527416086656779157.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-527416086656779157.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527416086656779157.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527416086656779157.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-527416086656779157.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527416086656779157.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527416086656779157.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527416086656779157.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527416086656779157.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527416086656779157.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527416086656779157.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527416086656779157.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527416086656779157.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527416086656779157.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527416086656779157.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-527416086656779157.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-527416086656779157.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527416086656779157.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-527416086656779157.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-527416086656779157.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-527416086656779157.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527416086656779157.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-527416086656779157.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-527416086656779157.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-527416086656779157.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527416086656779157.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527416086656779157.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-527416086656779157.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-527416086656779157.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-527416086656779157.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527416086656779157.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-527416086656779157.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-527416086656779157.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527416086656779157.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-527416086656779157.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-527416086656779157.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527416086656779157.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527416086656779157.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527416086656779157.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527416086656779157.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-527416086656779157.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-527416086656779157.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-527416086656779157 .gp-relative{position:relative}.gps-527416086656779157 .gp-z-1{z-index:1}.gps-527416086656779157 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527416086656779157 .gp-mb-0{margin-bottom:0}.gps-527416086656779157 .\!gp-inline{display:inline!important}.gps-527416086656779157 .gp-flex{display:flex}.gps-527416086656779157 .gp-inline-flex{display:inline-flex}.gps-527416086656779157 .gp-grid{display:grid}.gps-527416086656779157 .\!gp-hidden{display:none!important}.gps-527416086656779157 .gp-hidden{display:none}.gps-527416086656779157 .gp-h-full{height:100%}.gps-527416086656779157 .gp-w-full{width:100%}.gps-527416086656779157 .gp-max-w-full{max-width:100%}.gps-527416086656779157 .gp-flex-col{flex-direction:column}.gps-527416086656779157 .gp-items-center{align-items:center}.gps-527416086656779157 .gp-justify-center{justify-content:center}.gps-527416086656779157 .gp-gap-y-0{row-gap:0}.gps-527416086656779157 .gp-overflow-hidden{overflow:hidden}.gps-527416086656779157 .gp-break-words{overflow-wrap:break-word}.gps-527416086656779157 .gp-rounded-none{border-radius:0}.gps-527416086656779157 .gp-text-center{text-align:center}.gps-527416086656779157 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-527416086656779157 .gp-no-underline{text-decoration-line:none}.gps-527416086656779157 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527416086656779157 .gp-duration-200{transition-duration:.2s}.gps-527416086656779157 .gp-duration-300{transition-duration:.3s}.gps-527416086656779157 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527416086656779157 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-527416086656779157 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-527416086656779157 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-527416086656779157 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-527416086656779157 .tablet\:\!gp-hidden{display:none!important}.gps-527416086656779157 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-527416086656779157 .mobile\:\!gp-hidden{display:none!important}.gps-527416086656779157 .mobile\:gp-hidden{display:none}}.gps-527416086656779157 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-527416086656779157 .\[\&_p\]\:gp-inline p{display:inline}.gps-527416086656779157 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-527416086656779157 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-527416086656779157 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gI8BKSJneU"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:0px;--pt:40px;--pl:20px;--pb:40px;--pr:20px;--mb-mobile:0px;--pt-mobile:21px;--pl-mobile:20px;--pb-mobile:21px;--pr-mobile:20px;--mb-tablet:0px;--pt-tablet:40px;--pl-tablet:20px;--pb-tablet:40px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gI8BKSJneU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFQr4QsRaG gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gAxwkcZ9Q3"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAxwkcZ9Q3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWHh0yp_Ez gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gpJY8EIs9P "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:48px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpJY8EIs9P_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gT6MsszOsB"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:72px;--mb-mobile:21px;--cg:36px;--cg-tablet:28px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gT6MsszOsB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZnOn6jFu5 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gz_Z4xUmr_"
    style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-2a0e0743-375d-4b7f-8ed7-7fc5fcbc5417.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:390/326;--aspect-tablet:390/326;--aspect-mobile:1422/1030;--objf:cover;--w:390px;--w-tablet:390px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-2a0e0743-375d-4b7f-8ed7-7fc5fcbc5417.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:390/326;--aspect-tablet:390/326;--aspect-mobile:1422/1030;--objf:cover;--w:390px;--w-tablet:390px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gz_Z4xUmr_">
        .gz_Z4xUmr_ {

}
.gz_Z4xUmr_ > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVNZuu4k59 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gUpaW5gd-v"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:374px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUpaW5gd-v gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g60joxVnEA gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gdAr-ovgiA "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:16px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdAr-ovgiA_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gOJee8wAB6 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOJee8wAB6_text }}</div>
      </div>
    </div>
      <style id="custom-css-gOJee8wAB6">
        .gOJee8wAB6 {

}
.gOJee8wAB6 p {

}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gA0Bx3d_Xw"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:72px;--mb-mobile:21px;--cg:36px;--cg-tablet:28px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:800px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gA0Bx3d_Xw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaPh12nuRa gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image grAAFyAAnj"
    style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-624d4ad7-bdcb-47a2-a54c-ef414d91c8fa.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:390/326;--aspect-tablet:390/326;--aspect-mobile:1190/906;--objf:cover;--w:390px;--w-tablet:390px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-624d4ad7-bdcb-47a2-a54c-ef414d91c8fa.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:390/326;--aspect-tablet:390/326;--aspect-mobile:1190/906;--objf:cover;--w:390px;--w-tablet:390px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-grAAFyAAnj">
        .grAAFyAAnj {

}
.grAAFyAAnj > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4BDw-p_y4 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gqlmTGaJQl"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:374px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqlmTGaJQl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjyFvP6HNS gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJcl-osLbi "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:16px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJcl-osLbi_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gGg2LI5bNn "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGg2LI5bNn_text }}</div>
      </div>
    </div>
      <style id="custom-css-gGg2LI5bNn">
        .gGg2LI5bNn {

}
.gGg2LI5bNn p {

}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gDKdmpc3vw"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:72px;--mb-mobile:21px;--cg:36px;--cg-tablet:28px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:800px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDKdmpc3vw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVNUVSm4Ym gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g3Kv6cDDtw"
    style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-1de440e2-f5ed-48c8-ab8d-c8a112722931.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:390/326;--aspect-tablet:390/326;--aspect-mobile:2250/1500;--objf:cover;--w:390px;--w-tablet:390px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-1de440e2-f5ed-48c8-ab8d-c8a112722931.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:390/326;--aspect-tablet:390/326;--aspect-mobile:2250/1500;--objf:cover;--w:390px;--w-tablet:390px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-g3Kv6cDDtw">
        .g3Kv6cDDtw {

}
.g3Kv6cDDtw > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTOumImKLr gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gkiLvlzGsk"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:374px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkiLvlzGsk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8VtwI0575 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gvxBCqWXYi "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:16px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggvxBCqWXYi_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gEptXuZQbd "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEptXuZQbd_text }}</div>
      </div>
    </div>
      <style id="custom-css-gEptXuZQbd">
        .gEptXuZQbd {

}
.gEptXuZQbd p {

}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="godKRZ7GHN"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:72px;--mb-mobile:42px;--cg:36px;--cg-tablet:28px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="godKRZ7GHN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyy45aD5Wj gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gMcw7fwDRC"
    style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-31eef00f-f575-4fe4-9cb3-300b7199e4d8.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:390/326;--aspect-tablet:390/326;--aspect-mobile:1124/750;--objf:cover;--w:390px;--w-tablet:390px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-31eef00f-f575-4fe4-9cb3-300b7199e4d8.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:390/326;--aspect-tablet:390/326;--aspect-mobile:1124/750;--objf:cover;--w:390px;--w-tablet:390px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gMcw7fwDRC">
        .gMcw7fwDRC {

}
.gMcw7fwDRC > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghkOFXdEt5 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gWFMGsAn5q"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:374px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWFMGsAn5q gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gST10ppREo gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gcUrpsSglI "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:16px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcUrpsSglI_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gydKz9PQYd "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggydKz9PQYd_text }}</div>
      </div>
    </div>
      <style id="custom-css-gydKz9PQYd">
        .gydKz9PQYd {

}
.gydKz9PQYd p {

}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gaWgS9oqdM"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:24px;--mb-mobile:42px;--cg:36px;--cg-tablet:28px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaWgS9oqdM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_jUc3TQrj gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g0c-DOfo3s"
    style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-b86f1e95-af6b-41bf-8a10-1723304982bf.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:390/326;--aspect-tablet:390/326;--aspect-mobile:2250/1500;--objf:cover;--w:390px;--w-tablet:390px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-b86f1e95-af6b-41bf-8a10-1723304982bf.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:390/326;--aspect-tablet:390/326;--aspect-mobile:2250/1500;--objf:cover;--w:390px;--w-tablet:390px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-g0c-DOfo3s">
        .g0c-DOfo3s {

}
.g0c-DOfo3s > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gl6cmC29I6 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gjegSfEa5N"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:374px;--w-tablet:374px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjegSfEa5N gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gS0Kilc899 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gKtDr_11jD "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:16px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKtDr_11jD_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g8TA_yFUMR "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8TA_yFUMR_text }}</div>
      </div>
    </div>
      <style id="custom-css-g8TA_yFUMR">
        .g8TA_yFUMR {

}
.g8TA_yFUMR p {

}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gymJ7MwxKq "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:32px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggymJ7MwxKq_text }}</div>
      </div>
    </div>
      <style id="custom-css-gymJ7MwxKq">
        .gymJ7MwxKq {

}
.gymJ7MwxKq p {

}
      </style>
    
  <gp-button >
  <div
    
    style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--pl:102px;--pr:102px;--pl-mobile:0px;--pr-mobile:0px;--ta:left"
    
  >
    <style>
    .gqQxhRL04_.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gqQxhRL04_:hover::before {
      
      
    }

    .gqQxhRL04_:hover .gp-button-icon {
      color: undefined;
    }

     .gqQxhRL04_ .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gqQxhRL04_:hover .gp-button-price {
      color: undefined;
    }

    .gqQxhRL04_ .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gqQxhRL04_ .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gqQxhRL04_:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/fat-burner-with-mct" target="_self" data-id="gqQxhRL04_" aria-label="CHECK AVAILABILITY"
      
      data-state="idle"
      class="gqQxhRL04_ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00763D;--bg:#349F6C;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggqQxhRL04__label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gqQxhRL04_">
        button.gqQxhRL04_ {

}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-527416086656779157 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=527416037214258200&sectionId=527416086656779157)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggpJY8EIs9P_text","label":"ggpJY8EIs9P_text","default":"Discover the power of NordBurn Fat Burner and why it should be an essential part of your daily routine:"},{"type":"html","id":"ggdAr-ovgiA_text","label":"ggdAr-ovgiA_text","default":"1. Over 22,500 women see and feel the difference in 18 days or less"},{"type":"html","id":"ggOJee8wAB6_text","label":"ggOJee8wAB6_text","default":"<p>Our natural fat-burning capsules have been scientifically proven to be effective for individuals of all ages and body types, targeting stubborn fat and promoting overall weight loss. Users have reported noticeable results, including a reduction in body fat and increased energy levels, all within just 15 days. You could experience the same transformative effects!</p>"},{"type":"html","id":"ggJcl-osLbi_text","label":"ggJcl-osLbi_text","default":"2. Helps you lose weight (Sammy lost 27 pounds without dieting)"},{"type":"html","id":"ggGg2LI5bNn_text","label":"ggGg2LI5bNn_text","default":"<p>Looking to support your weight goals? NordBurn sets the bar for quality.&nbsp;</p><p>&nbsp;</p><p>A special mix of Vitamin C, Vitamin B6, Choline, Chromium, L-Carnitine, and MCTs supports your body in staying healthy. Take four capsules daily, two before breakfast and two before dinner to support weight management, promote liver health, support heart health.</p>"},{"type":"html","id":"ggvxBCqWXYi_text","label":"ggvxBCqWXYi_text","default":"3. NordBurn Fat Burner helps control blood sugar levels, preventing cravings and crashes in between meals"},{"type":"html","id":"ggEptXuZQbd_text","label":"ggEptXuZQbd_text","default":"<p>Fat burners assist in weight loss by suppressing hunger and cravings and controlling blood sugar levels. An increase in blood sugar happens when too much sugar is in your diet, and you live a sedentary lifestyle.</p><p>&nbsp;</p><p>Unfortunately, many people suffer from binge eating or overeating problems, which leads to weight gain. Fat burners are useful in this situation. They can help you lose weight easily by controlling blood sugar levels and reducing appetite.</p><p>&nbsp;</p>"},{"type":"html","id":"ggcUrpsSglI_text","label":"ggcUrpsSglI_text","default":"4. Facts Backed by science"},{"type":"html","id":"ggydKz9PQYd_text","label":"ggydKz9PQYd_text","default":"<p><strong>Spirulina for Blood Sugar.</strong> The present study suggests spirulina supplementation can benefit fasting blood glucose and lipid profiles.&nbsp;</p><p>&nbsp;</p><p><strong>Spirulina Against Obesity. </strong>Spirulina supplementation significantly reduces body weight, especially in obese individuals.<strong>&nbsp;</strong></p><p>&nbsp;</p><p><strong>L-carnitine For Weight Loss. </strong>L-carnitine supplementation significantly reduces body weight, BMI, and fat mass, especially among adults with overweight/obesity.</p>"},{"type":"html","id":"ggKtDr_11jD_text","label":"ggKtDr_11jD_text","default":"5. Fat Burner helps decrease the risk of heart problems"},{"type":"html","id":"gg8TA_yFUMR_text","label":"gg8TA_yFUMR_text","default":"<p>Heart conditions can lead to various problems, including chest pain, fainting, irregular heartbeats, and even death.</p><p>Lack of exercise or having excessive fat in one's diet is a major reason for heart problems.&nbsp;</p><p>&nbsp;</p><p>People who use fat burners during weight loss can get many benefits associated with losing weight, such as lower blood pressure and cholesterol levels.</p><p>&nbsp;</p>"},{"type":"html","id":"ggymJ7MwxKq_text","label":"ggymJ7MwxKq_text","default":"<p>When taking fat burners, we recommend using a healthy diet and exercise routine to help control your weight.</p>"},{"type":"html","id":"ggqQxhRL04__label","label":"ggqQxhRL04__label","default":"CHECK AVAILABILITY"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
