

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-525396708847256631.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-525396708847256631.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-525396708847256631.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-525396708847256631.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-525396708847256631.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-525396708847256631.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-525396708847256631.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-525396708847256631.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-525396708847256631.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-525396708847256631.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-525396708847256631.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-525396708847256631.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-525396708847256631.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-525396708847256631.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-525396708847256631.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-525396708847256631.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-525396708847256631.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-525396708847256631.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-525396708847256631.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-525396708847256631.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-525396708847256631.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-525396708847256631.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-525396708847256631.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-525396708847256631.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-525396708847256631.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-525396708847256631.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-525396708847256631.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-525396708847256631.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-525396708847256631.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-525396708847256631.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-525396708847256631.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-525396708847256631.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-525396708847256631.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-525396708847256631.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-525396708847256631.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-525396708847256631.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-525396708847256631.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-525396708847256631.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-525396708847256631.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-525396708847256631.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-525396708847256631.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-525396708847256631.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-525396708847256631.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-525396708847256631.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-525396708847256631.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-525396708847256631.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-525396708847256631.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-525396708847256631.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-525396708847256631.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-525396708847256631.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-525396708847256631.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-525396708847256631.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-525396708847256631.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-525396708847256631.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-525396708847256631.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-525396708847256631.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-525396708847256631.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-525396708847256631.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-525396708847256631.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-525396708847256631.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-525396708847256631.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-525396708847256631.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-525396708847256631.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-525396708847256631.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-525396708847256631.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-525396708847256631.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-525396708847256631.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-525396708847256631.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-525396708847256631.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-525396708847256631.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-525396708847256631.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-525396708847256631.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-525396708847256631.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-525396708847256631.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-525396708847256631.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-525396708847256631.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-525396708847256631.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-525396708847256631.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-525396708847256631.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-525396708847256631.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-525396708847256631.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-525396708847256631.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-525396708847256631.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-525396708847256631.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-525396708847256631.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-525396708847256631.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-525396708847256631.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-525396708847256631.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-525396708847256631.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-525396708847256631.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-525396708847256631.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-525396708847256631.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-525396708847256631.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-525396708847256631.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-525396708847256631.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-525396708847256631.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-525396708847256631.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-525396708847256631.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-525396708847256631.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-525396708847256631.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-525396708847256631.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-525396708847256631.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-525396708847256631 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-525396708847256631 .gp-relative{position:relative}.gps-525396708847256631 .gp-z-1{z-index:1}.gps-525396708847256631 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-525396708847256631 .gp-mb-0{margin-bottom:0}.gps-525396708847256631 .\!gp-inline{display:inline!important}.gps-525396708847256631 .gp-flex{display:flex}.gps-525396708847256631 .gp-inline-flex{display:inline-flex}.gps-525396708847256631 .gp-grid{display:grid}.gps-525396708847256631 .\!gp-hidden{display:none!important}.gps-525396708847256631 .gp-hidden{display:none}.gps-525396708847256631 .gp-h-full{height:100%}.gps-525396708847256631 .gp-w-full{width:100%}.gps-525396708847256631 .gp-max-w-full{max-width:100%}.gps-525396708847256631 .gp-shrink-0{flex-shrink:0}.gps-525396708847256631 .gp-flex-col{flex-direction:column}.gps-525396708847256631 .gp-flex-wrap{flex-wrap:wrap}.gps-525396708847256631 .gp-items-center{align-items:center}.gps-525396708847256631 .gp-justify-center{justify-content:center}.gps-525396708847256631 .gp-gap-y-0{row-gap:0}.gps-525396708847256631 .gp-overflow-hidden{overflow:hidden}.gps-525396708847256631 .gp-break-words{overflow-wrap:break-word}.gps-525396708847256631 .gp-rounded-none{border-radius:0}.gps-525396708847256631 .gp-text-left{text-align:left}.gps-525396708847256631 .gp-text-center{text-align:center}.gps-525396708847256631 .gp-leading-\[0\]{line-height:0}.gps-525396708847256631 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-525396708847256631 .gp-no-underline{text-decoration-line:none}.gps-525396708847256631 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-525396708847256631 .gp-duration-200{transition-duration:.2s}.gps-525396708847256631 .gp-duration-300{transition-duration:.3s}.gps-525396708847256631 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-525396708847256631 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-525396708847256631 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-525396708847256631 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-525396708847256631 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-525396708847256631 .tablet\:\!gp-hidden{display:none!important}.gps-525396708847256631 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-525396708847256631 .mobile\:\!gp-hidden{display:none!important}.gps-525396708847256631 .mobile\:gp-hidden{display:none}}.gps-525396708847256631 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-525396708847256631 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-525396708847256631 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-525396708847256631 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-525396708847256631 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-525396708847256631 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-525396708847256631 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-525396708847256631 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-525396708847256631 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-525396708847256631 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-525396708847256631 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-525396708847256631 .\[\&_p\]\:gp-inline p{display:inline}.gps-525396708847256631 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-525396708847256631 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-525396708847256631 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gsDyVItnXc" data-id="gsDyVItnXc"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:0px;--pl:20px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFCF4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsDyVItnXc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="g-fFjy5WZS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gqwXqxNQKM" data-id="gqwXqxNQKM"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--ml:auto;--mr:32px;--pt:20px;--pb:20px;--pr:0px;--pt-mobile:21px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:553px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:#FFF9F0;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gqwXqxNQKM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8dfSRs0Pg gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g5SqFqlj2n" data-id="g5SqFqlj2n"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:12px;--mt-mobile:0px;--mb-mobile:7px;--cg:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5SqFqlj2n gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g75Jpv06ms gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
    data-id="gDCnZSb0wT"
      
      data-id="gDCnZSb0wT"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:2px;--jc:left">
            <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gJ63INJlxa ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gRmxHsXoXE"
    >
      <div 
      data-id="gRmxHsXoXE"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#26B78C;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gZwWXPyfLu ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] grqRjrlbwt"
    >
      <div 
      data-id="grqRjrlbwt"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#26B78C;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gcA1TgvZ85 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gsa1mjhY5c"
    >
      <div 
      data-id="gsa1mjhY5c"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#26B78C;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gwe95-mI1W ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gfY8eukS2E"
    >
      <div 
      data-id="gfY8eukS2E"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#26B78C;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="g10IQ-VAUt ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gHqsG53AyM"
    >
      <div 
      data-id="gHqsG53AyM"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#26B78C;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gWNzSRUDo6 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gr13lEAd8l">
    <div
      parentTag="Col"
        class="gr13lEAd8l "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Harmonia-Sans, 'Harmonia Sans'), var(--g-font-body, body);--weight:400;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggr13lEAd8l_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gr13lEAd8l">
        .gr13lEAd8l {

}
.gr13lEAd8l p {

}
      </style>
    
    </div>
    </div>
   
    
  <gp-text data-id="gR-kvW4jIu">
    <div
      parentTag="Col"
        class="gR-kvW4jIu "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:12px;--mb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--size:40px;--size-tablet:25px;--size-mobile:30px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggR-kvW4jIu_text }}</h1>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gcTv2NaxMd">
    <div
      parentTag="Col"
        class="gcTv2NaxMd "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:32px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:553px;--w-tablet:553px;--w-mobile:553px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcTv2NaxMd_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gcTv2NaxMd">
        .gcTv2NaxMd {

}
.gcTv2NaxMd p {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:16px;--ta:left"
    
  >
    <style>
    .gvCi_GaZOM.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
    }

    .gvCi_GaZOM:hover::before {
      
      
    }

    .gvCi_GaZOM:hover .gp-button-icon {
      color: undefined;
    }

     .gvCi_GaZOM .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gvCi_GaZOM:hover .gp-button-price {
      color: undefined;
    }

    .gvCi_GaZOM .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gvCi_GaZOM .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gvCi_GaZOM:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/fat-burner-with-mct" target="_self" data-id="gvCi_GaZOM" aria-label="<p>START TODAY</p>"
      
      data-state="idle"
      class="gvCi_GaZOM gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#8A00AD;--bg:#A769D0;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--shadow:none;--w:270px;--w-tablet:270px;--w-mobile:270px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggvCi_GaZOM_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gvCi_GaZOM">
        button.gvCi_GaZOM {

}
      </style>
    <div gp-el-wrapper  class="gY4N9JNA61 ">
      
    <gp-icon-list
      uid="gY4N9JNA61"
      data-id="gY4N9JNA61"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":14,"mobile":24,"tablet":16}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:21px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:12px;--rg-mobile:10px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gY4N9JNA61"
            style="--cg:9px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00A324;--w:100%;--h:100%;--size-desktop:14px;--size-tablet:16px;--size-mobile:24px"
              >
               <svg data-id="516049843882296470" xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none">
<path d="M2.23655 3.75054C1.75388 4.58677 1.49986 5.53532 1.50001 6.50084C1.50001 7.95953 2.07947 9.35848 3.11092 10.3899C4.14237 11.4214 5.54132 12.0008 7.00001 12.0008C8.4587 12.0008 9.85765 11.4214 10.8891 10.3899C11.9205 9.35848 12.5 7.95953 12.5 6.50084C12.5 6.36824 12.5527 6.24106 12.6465 6.14729C12.7402 6.05352 12.8674 6.00084 13 6.00084C13.1326 6.00084 13.2598 6.05352 13.3536 6.14729C13.4473 6.24106 13.5 6.36824 13.5 6.50084C13.4998 7.93168 13.0275 9.32248 12.1564 10.4575C11.2852 11.5926 10.0638 12.4085 8.68173 12.7787C7.29961 13.1489 5.83396 13.0527 4.51208 12.505C3.19021 11.9574 2.08597 10.9888 1.37064 9.74965C0.655297 8.51046 0.368828 7.06987 0.555658 5.65128C0.742488 4.23269 1.39218 2.91539 2.40396 1.90367C3.41575 0.891946 4.73309 0.242343 6.15169 0.055604C7.57029 -0.131135 9.01087 0.155426 10.25 0.870844C10.3639 0.937619 10.4468 1.04674 10.4805 1.17438C10.5143 1.30203 10.4962 1.43785 10.4301 1.55219C10.3641 1.66653 10.2556 1.75012 10.1281 1.78472C10.0007 1.81931 9.86479 1.8021 9.75001 1.73684C8.91384 1.25408 7.96532 0.999946 6.99979 0.999984C6.03427 1.00002 5.08577 1.25423 4.24964 1.73706C3.41351 2.21989 2.71921 2.91432 2.23655 3.75054Z" fill="#00A324"/>
<path d="M14.4632 1.69221C14.438 1.75295 14.4011 1.80814 14.3546 1.85463L7.35463 8.85463C7.30819 8.90119 7.25301 8.93814 7.19227 8.96334C7.13152 8.98855 7.0664 9.00152 7.00063 9.00152C6.93486 9.00152 6.86974 8.98855 6.809 8.96334C6.74825 8.93814 6.69308 8.90119 6.64663 8.85463L3.64663 5.85463C3.60014 5.80814 3.56327 5.75295 3.53811 5.69221C3.51295 5.63148 3.5 5.56638 3.5 5.50063C3.5 5.43489 3.51295 5.36979 3.53811 5.30905C3.56327 5.24831 3.60014 5.19312 3.64663 5.14663C3.69312 5.10014 3.74831 5.06327 3.80905 5.03811C3.86979 5.01295 3.93489 5 4.00063 5C4.06638 5 4.13148 5.01295 4.19222 5.03811C4.25295 5.06327 4.30814 5.10014 4.35463 5.14663L7.00063 7.79363L13.6466 1.14663C13.6931 1.10014 13.7483 1.06327 13.809 1.03811C13.8698 1.01295 13.9349 1 14.0006 1C14.0664 1 14.1315 1.01295 14.1922 1.03811C14.253 1.06327 14.3081 1.10014 14.3546 1.14663C14.4011 1.19312 14.438 1.24831 14.4632 1.30905C14.4883 1.36979 14.5013 1.43489 14.5013 1.50063C14.5013 1.56638 14.4883 1.63148 14.4632 1.69221Z" fill="#00A324"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757">
                {{ section.settings.ggY4N9JNA61_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gY4N9JNA61"
            style="--cg:9px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00A324;--w:100%;--h:100%;--size-desktop:14px;--size-tablet:16px;--size-mobile:24px"
              >
               <svg data-id="516049843882296470" xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none">
<path d="M2.23655 3.75054C1.75388 4.58677 1.49986 5.53532 1.50001 6.50084C1.50001 7.95953 2.07947 9.35848 3.11092 10.3899C4.14237 11.4214 5.54132 12.0008 7.00001 12.0008C8.4587 12.0008 9.85765 11.4214 10.8891 10.3899C11.9205 9.35848 12.5 7.95953 12.5 6.50084C12.5 6.36824 12.5527 6.24106 12.6465 6.14729C12.7402 6.05352 12.8674 6.00084 13 6.00084C13.1326 6.00084 13.2598 6.05352 13.3536 6.14729C13.4473 6.24106 13.5 6.36824 13.5 6.50084C13.4998 7.93168 13.0275 9.32248 12.1564 10.4575C11.2852 11.5926 10.0638 12.4085 8.68173 12.7787C7.29961 13.1489 5.83396 13.0527 4.51208 12.505C3.19021 11.9574 2.08597 10.9888 1.37064 9.74965C0.655297 8.51046 0.368828 7.06987 0.555658 5.65128C0.742488 4.23269 1.39218 2.91539 2.40396 1.90367C3.41575 0.891946 4.73309 0.242343 6.15169 0.055604C7.57029 -0.131135 9.01087 0.155426 10.25 0.870844C10.3639 0.937619 10.4468 1.04674 10.4805 1.17438C10.5143 1.30203 10.4962 1.43785 10.4301 1.55219C10.3641 1.66653 10.2556 1.75012 10.1281 1.78472C10.0007 1.81931 9.86479 1.8021 9.75001 1.73684C8.91384 1.25408 7.96532 0.999946 6.99979 0.999984C6.03427 1.00002 5.08577 1.25423 4.24964 1.73706C3.41351 2.21989 2.71921 2.91432 2.23655 3.75054Z" fill="#00A324"/>
<path d="M14.4632 1.69221C14.438 1.75295 14.4011 1.80814 14.3546 1.85463L7.35463 8.85463C7.30819 8.90119 7.25301 8.93814 7.19227 8.96334C7.13152 8.98855 7.0664 9.00152 7.00063 9.00152C6.93486 9.00152 6.86974 8.98855 6.809 8.96334C6.74825 8.93814 6.69308 8.90119 6.64663 8.85463L3.64663 5.85463C3.60014 5.80814 3.56327 5.75295 3.53811 5.69221C3.51295 5.63148 3.5 5.56638 3.5 5.50063C3.5 5.43489 3.51295 5.36979 3.53811 5.30905C3.56327 5.24831 3.60014 5.19312 3.64663 5.14663C3.69312 5.10014 3.74831 5.06327 3.80905 5.03811C3.86979 5.01295 3.93489 5 4.00063 5C4.06638 5 4.13148 5.01295 4.19222 5.03811C4.25295 5.06327 4.30814 5.10014 4.35463 5.14663L7.00063 7.79363L13.6466 1.14663C13.6931 1.10014 13.7483 1.06327 13.809 1.03811C13.8698 1.01295 13.9349 1 14.0006 1C14.0664 1 14.1315 1.01295 14.1922 1.03811C14.253 1.06327 14.3081 1.10014 14.3546 1.14663C14.4011 1.19312 14.438 1.24831 14.4632 1.30905C14.4883 1.36979 14.5013 1.43489 14.5013 1.50063C14.5013 1.56638 14.4883 1.63148 14.4632 1.69221Z" fill="#00A324"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757">
                {{ section.settings.ggY4N9JNA61_childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gY4N9JNA61"
            style="--cg:9px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00A324;--w:100%;--h:100%;--size-desktop:14px;--size-tablet:16px;--size-mobile:24px"
              >
               <svg data-id="516049843882296470" xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none">
<path d="M2.23655 3.75054C1.75388 4.58677 1.49986 5.53532 1.50001 6.50084C1.50001 7.95953 2.07947 9.35848 3.11092 10.3899C4.14237 11.4214 5.54132 12.0008 7.00001 12.0008C8.4587 12.0008 9.85765 11.4214 10.8891 10.3899C11.9205 9.35848 12.5 7.95953 12.5 6.50084C12.5 6.36824 12.5527 6.24106 12.6465 6.14729C12.7402 6.05352 12.8674 6.00084 13 6.00084C13.1326 6.00084 13.2598 6.05352 13.3536 6.14729C13.4473 6.24106 13.5 6.36824 13.5 6.50084C13.4998 7.93168 13.0275 9.32248 12.1564 10.4575C11.2852 11.5926 10.0638 12.4085 8.68173 12.7787C7.29961 13.1489 5.83396 13.0527 4.51208 12.505C3.19021 11.9574 2.08597 10.9888 1.37064 9.74965C0.655297 8.51046 0.368828 7.06987 0.555658 5.65128C0.742488 4.23269 1.39218 2.91539 2.40396 1.90367C3.41575 0.891946 4.73309 0.242343 6.15169 0.055604C7.57029 -0.131135 9.01087 0.155426 10.25 0.870844C10.3639 0.937619 10.4468 1.04674 10.4805 1.17438C10.5143 1.30203 10.4962 1.43785 10.4301 1.55219C10.3641 1.66653 10.2556 1.75012 10.1281 1.78472C10.0007 1.81931 9.86479 1.8021 9.75001 1.73684C8.91384 1.25408 7.96532 0.999946 6.99979 0.999984C6.03427 1.00002 5.08577 1.25423 4.24964 1.73706C3.41351 2.21989 2.71921 2.91432 2.23655 3.75054Z" fill="#00A324"/>
<path d="M14.4632 1.69221C14.438 1.75295 14.4011 1.80814 14.3546 1.85463L7.35463 8.85463C7.30819 8.90119 7.25301 8.93814 7.19227 8.96334C7.13152 8.98855 7.0664 9.00152 7.00063 9.00152C6.93486 9.00152 6.86974 8.98855 6.809 8.96334C6.74825 8.93814 6.69308 8.90119 6.64663 8.85463L3.64663 5.85463C3.60014 5.80814 3.56327 5.75295 3.53811 5.69221C3.51295 5.63148 3.5 5.56638 3.5 5.50063C3.5 5.43489 3.51295 5.36979 3.53811 5.30905C3.56327 5.24831 3.60014 5.19312 3.64663 5.14663C3.69312 5.10014 3.74831 5.06327 3.80905 5.03811C3.86979 5.01295 3.93489 5 4.00063 5C4.06638 5 4.13148 5.01295 4.19222 5.03811C4.25295 5.06327 4.30814 5.10014 4.35463 5.14663L7.00063 7.79363L13.6466 1.14663C13.6931 1.10014 13.7483 1.06327 13.809 1.03811C13.8698 1.01295 13.9349 1 14.0006 1C14.0664 1 14.1315 1.01295 14.1922 1.03811C14.253 1.06327 14.3081 1.10014 14.3546 1.14663C14.4011 1.19312 14.438 1.24831 14.4632 1.30905C14.4883 1.36979 14.5013 1.43489 14.5013 1.50063C14.5013 1.56638 14.4883 1.63148 14.4632 1.69221Z" fill="#00A324"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757">
                {{ section.settings.ggY4N9JNA61_childItem_2 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gY4N9JNA61"
            style="--cg:9px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00A324;--w:100%;--h:100%;--size-desktop:14px;--size-tablet:16px;--size-mobile:24px"
              >
               <svg data-id="516049843882296470" xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none">
<path d="M2.23655 3.75054C1.75388 4.58677 1.49986 5.53532 1.50001 6.50084C1.50001 7.95953 2.07947 9.35848 3.11092 10.3899C4.14237 11.4214 5.54132 12.0008 7.00001 12.0008C8.4587 12.0008 9.85765 11.4214 10.8891 10.3899C11.9205 9.35848 12.5 7.95953 12.5 6.50084C12.5 6.36824 12.5527 6.24106 12.6465 6.14729C12.7402 6.05352 12.8674 6.00084 13 6.00084C13.1326 6.00084 13.2598 6.05352 13.3536 6.14729C13.4473 6.24106 13.5 6.36824 13.5 6.50084C13.4998 7.93168 13.0275 9.32248 12.1564 10.4575C11.2852 11.5926 10.0638 12.4085 8.68173 12.7787C7.29961 13.1489 5.83396 13.0527 4.51208 12.505C3.19021 11.9574 2.08597 10.9888 1.37064 9.74965C0.655297 8.51046 0.368828 7.06987 0.555658 5.65128C0.742488 4.23269 1.39218 2.91539 2.40396 1.90367C3.41575 0.891946 4.73309 0.242343 6.15169 0.055604C7.57029 -0.131135 9.01087 0.155426 10.25 0.870844C10.3639 0.937619 10.4468 1.04674 10.4805 1.17438C10.5143 1.30203 10.4962 1.43785 10.4301 1.55219C10.3641 1.66653 10.2556 1.75012 10.1281 1.78472C10.0007 1.81931 9.86479 1.8021 9.75001 1.73684C8.91384 1.25408 7.96532 0.999946 6.99979 0.999984C6.03427 1.00002 5.08577 1.25423 4.24964 1.73706C3.41351 2.21989 2.71921 2.91432 2.23655 3.75054Z" fill="#00A324"/>
<path d="M14.4632 1.69221C14.438 1.75295 14.4011 1.80814 14.3546 1.85463L7.35463 8.85463C7.30819 8.90119 7.25301 8.93814 7.19227 8.96334C7.13152 8.98855 7.0664 9.00152 7.00063 9.00152C6.93486 9.00152 6.86974 8.98855 6.809 8.96334C6.74825 8.93814 6.69308 8.90119 6.64663 8.85463L3.64663 5.85463C3.60014 5.80814 3.56327 5.75295 3.53811 5.69221C3.51295 5.63148 3.5 5.56638 3.5 5.50063C3.5 5.43489 3.51295 5.36979 3.53811 5.30905C3.56327 5.24831 3.60014 5.19312 3.64663 5.14663C3.69312 5.10014 3.74831 5.06327 3.80905 5.03811C3.86979 5.01295 3.93489 5 4.00063 5C4.06638 5 4.13148 5.01295 4.19222 5.03811C4.25295 5.06327 4.30814 5.10014 4.35463 5.14663L7.00063 7.79363L13.6466 1.14663C13.6931 1.10014 13.7483 1.06327 13.809 1.03811C13.8698 1.01295 13.9349 1 14.0006 1C14.0664 1 14.1315 1.01295 14.1922 1.03811C14.253 1.06327 14.3081 1.10014 14.3546 1.14663C14.4011 1.19312 14.438 1.24831 14.4632 1.30905C14.4883 1.36979 14.5013 1.43489 14.5013 1.50063C14.5013 1.56638 14.4883 1.63148 14.4632 1.69221Z" fill="#00A324"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757">
                {{ section.settings.ggY4N9JNA61_childItem_3 }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--ta:left"
    
  >
    <style>
    .g-dPciXa0E.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
    }

    .g-dPciXa0E:hover::before {
      
      
    }

    .g-dPciXa0E:hover .gp-button-icon {
      color: undefined;
    }

     .g-dPciXa0E .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g-dPciXa0E:hover .gp-button-price {
      color: undefined;
    }

    .g-dPciXa0E .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g-dPciXa0E .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g-dPciXa0E:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://nordburn.com/products/fat-burner-with-mct" target="_self" data-id="g-dPciXa0E" aria-label="<p>START TODAY</p>"
      
      data-state="idle"
      class="g-dPciXa0E gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#8A00AD;--bg:#C564DD;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--shadow:none;--w:270px;--w-tablet:270px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:10px;--pb-mobile:10px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:19px;--size-mobile:18px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:18px"
      >
        {{ section.settings.gg-dPciXa0E_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-g-dPciXa0E">
        button.g-dPciXa0E {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gMsseBjkt_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gRkDvSxXLq"
    role="presentation"
    class="gp-group/image gRkDvSxXLq"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:0px;--op:100%;--op-mobile:100%;--pos:relative;--mt-mobile:auto;--ml-mobile:auto;--mb-mobile:auto;--mr-mobile:auto;--pt-mobile:auto;--pl-mobile:auto;--pb-mobile:auto;--pr-mobile:auto;--ta:left;--ta-mobile:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:left;--ta-mobile:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_524836908077941734-1aef001f-e124-4265-b8c8-b03fad24d0a6_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_524836908077941734-1aef001f-e124-4265-b8c8-b03fad24d0a6_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_524836908077941734-1aef001f-e124-4265-b8c8-b03fad24d0a6.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:3431/3431;--aspect-tablet:3431/3431;--aspect-mobile:3431/3431;--objf:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-1aef001f-e124-4265-b8c8-b03fad24d0a6_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_524836908077941734-1aef001f-e124-4265-b8c8-b03fad24d0a6_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_524836908077941734-1aef001f-e124-4265-b8c8-b03fad24d0a6.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:3431/3431;--aspect-tablet:3431/3431;--aspect-mobile:3431/3431;--objf:cover;--objf-mobile:cover;--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gRkDvSxXLq">
        .gRkDvSxXLq {

}
.gRkDvSxXLq > figure > img {

}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-525396708847256631 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=524836910225491006&sectionId=525396708847256631)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggr13lEAd8l_text","label":"ggr13lEAd8l_text","default":"<p>22,500+ Happy Customers</p>"},{"type":"html","id":"ggR-kvW4jIu_text","label":"ggR-kvW4jIu_text","default":"<strong>Accelerate your body transformation</strong>"},{"type":"html","id":"ggcTv2NaxMd_text","label":"ggcTv2NaxMd_text","default":"<p>Join 22,500+ who trust Nordburn to boost fat burning, manage weight, and curb sugar cravings.</p>"},{"type":"html","id":"ggvCi_GaZOM_label","label":"ggvCi_GaZOM_label","default":"<p>START TODAY</p>"},{"type":"html","id":"ggY4N9JNA61_childItem_0","label":"ggY4N9JNA61_childItem_0","default":"<p>Weight Management*</p>"},{"type":"html","id":"ggY4N9JNA61_childItem_1","label":"ggY4N9JNA61_childItem_1","default":"<p>Appetite Reduction*</p>"},{"type":"html","id":"ggY4N9JNA61_childItem_2","label":"ggY4N9JNA61_childItem_2","default":"<p>Blood Sugar Control*</p>"},{"type":"html","id":"ggY4N9JNA61_childItem_3","label":"ggY4N9JNA61_childItem_3","default":"<p>Suppressed Sugar Cravings*</p>"},{"type":"html","id":"gg-dPciXa0E_label","label":"gg-dPciXa0E_label","default":"<p>START TODAY</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
