
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-585880883639091907.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-585880883639091907.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-585880883639091907.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-585880883639091907.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-585880883639091907.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-585880883639091907.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-585880883639091907.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-585880883639091907.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-585880883639091907.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-585880883639091907.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-585880883639091907.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-585880883639091907.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-585880883639091907.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-585880883639091907.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-585880883639091907.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-585880883639091907.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-585880883639091907.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-585880883639091907.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-585880883639091907.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-585880883639091907.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-585880883639091907.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-585880883639091907.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-585880883639091907.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-585880883639091907.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-585880883639091907.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-585880883639091907.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-585880883639091907.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-585880883639091907.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-585880883639091907.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-585880883639091907.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-585880883639091907.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-585880883639091907.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-585880883639091907.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-585880883639091907.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-585880883639091907.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-585880883639091907.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-585880883639091907.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-585880883639091907.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-585880883639091907.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-585880883639091907.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-585880883639091907.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-585880883639091907.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-585880883639091907.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-585880883639091907.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-585880883639091907.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-585880883639091907.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-585880883639091907.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-585880883639091907.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-585880883639091907.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-585880883639091907.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-585880883639091907.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-585880883639091907.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-585880883639091907.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-585880883639091907.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-585880883639091907.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-585880883639091907.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-585880883639091907.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-585880883639091907.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-585880883639091907.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-585880883639091907.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-585880883639091907.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-585880883639091907.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-585880883639091907.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-585880883639091907.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-585880883639091907.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-585880883639091907.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-585880883639091907.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-585880883639091907.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-585880883639091907.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-585880883639091907.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-585880883639091907.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-585880883639091907.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-585880883639091907.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-585880883639091907 .gp-relative{position:relative}.gps-585880883639091907 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-585880883639091907 .gp-mb-0{margin-bottom:0}.gps-585880883639091907 .gp-inline-block{display:inline-block}.gps-585880883639091907 .gp-flex{display:flex}.gps-585880883639091907 .gp-grid{display:grid}.gps-585880883639091907 .gp-contents{display:contents}.gps-585880883639091907 .\!gp-hidden{display:none!important}.gps-585880883639091907 .gp-hidden{display:none}.gps-585880883639091907 .gp-h-auto{height:auto}.gps-585880883639091907 .gp-h-full{height:100%}.gps-585880883639091907 .gp-w-full{width:100%}.gps-585880883639091907 .gp-max-w-full{max-width:100%}.gps-585880883639091907 .gp-flex-none{flex:none}.gps-585880883639091907 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-585880883639091907 .gp-flex-col{flex-direction:column}.gps-585880883639091907 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585880883639091907 .gp-duration-200{transition-duration:.2s}.gps-585880883639091907 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-585880883639091907 .tablet\:\!gp-hidden{display:none!important}.gps-585880883639091907 .tablet\:gp-hidden{display:none}.gps-585880883639091907 .tablet\:gp-h-auto{height:auto}.gps-585880883639091907 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-585880883639091907 .mobile\:\!gp-hidden{display:none!important}.gps-585880883639091907 .mobile\:gp-hidden{display:none}.gps-585880883639091907 .mobile\:gp-h-auto{height:auto}.gps-585880883639091907 .mobile\:gp-flex-none{flex:none}}.gps-585880883639091907 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g7pT0X94dp"}' data-id="g7pT0X94dp" id="g7pT0X94dp" data-same-height-subgrid-container class="g7pT0X94dp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:16px;--pt-mobile:0px;--pb-mobile:14px;--pt-tablet:0px;--pb-tablet:16px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxnfp2SVYS gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#186A64","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g2bnA-txzv"}' data-id="g2bnA-txzv" id="g2bnA-txzv" data-same-height-subgrid-container class="g2bnA-txzv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:9px;--pb:9px;--pt-mobile:7px;--pb-mobile:7px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--bgc:#186A64;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--d:none;--d-tablet:none;--d-mobile:none"
      class="gRkJgbSr3i gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center;--d:none;--d-tablet:none;--d-mobile:none"
      class="gP4ZdmiCs- gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gA3H86onC0"
        class="gA3H86onC0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:0px;--pb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490361"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:#F9F9F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:8px;--pb:8px;--pt-mobile:7px;--pb-mobile:7px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA3H86onC0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gA3H86onC0">
        .gA3H86onC0 {

}
.gA3H86onC0 p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gyFwAbBm4S"}' data-id="gyFwAbBm4S" id="gyFwAbBm4S" data-same-height-subgrid-container class="gyFwAbBm4S gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:48px;--pb:0px;--pt-mobile:20px;--pl-mobile:20px;--pr-mobile:20px;--pt-tablet:48px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:580px;--w-tablet:580px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJeLDyNujM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmlBkKhYKP"
        class="gmlBkKhYKP"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pb:0px;--mb-mobile:14px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490365"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:45px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmlBkKhYKP_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP9z40G4xn"
        class="gP9z40G4xn"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pb:0px;--mb-mobile:14px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490366"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:25px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggP9z40G4xn_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtBMjjJL2m"
        class="gtBMjjJL2m"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490367"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtBMjjJL2m_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gtBMjjJL2m">
        .gtBMjjJL2m {

}
.gtBMjjJL2m p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_iSpR_OGG"
        class="g_iSpR_OGG"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490368"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_iSpR_OGG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g_iSpR_OGG">
        .g_iSpR_OGG {

}
.g_iSpR_OGG p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gPAd26czHX"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758743490368 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gPAd26czHX"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-63d55005-7785-4ce9-b769-14905fc3a05b.png" | file_url }}" srcset="{{ "gempages_524836908077941734-63d55005-7785-4ce9-b769-14905fc3a05b.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-63d55005-7785-4ce9-b769-14905fc3a05b.png" | file_url }}" srcset="{{ "gempages_524836908077941734-63d55005-7785-4ce9-b769-14905fc3a05b.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_524836908077941734-63d55005-7785-4ce9-b769-14905fc3a05b.png" | file_url }}" data-src="{{ "gempages_524836908077941734-63d55005-7785-4ce9-b769-14905fc3a05b.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gPAd26czHX">
        .gPAd26czHX {

}
.gPAd26czHX > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ge_rGNAalX"
        class="ge_rGNAalX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:16px;--mt-mobile:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490370"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#03030A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gge_rGNAalX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ge_rGNAalX">
        .ge_rGNAalX {

}
.ge_rGNAalX p {

}
      </style>
    
    <div
      role="presentation"
      data-id="glEPQCA96l"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758743490370 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto glEPQCA96l"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9IjYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIGZpbGw9InVybCgjZy0xMTYwLTYwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9IjYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIGZpbGw9InVybCgjZy0xMTYwLTYwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9IjYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIGZpbGw9InVybCgjZy0xMTYwLTYwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-glEPQCA96l">
        .glEPQCA96l {

}
.glEPQCA96l > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTj7K7BzjJ"
        class="gTj7K7BzjJ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:16px;--mt-mobile:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490372"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#03030A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTj7K7BzjJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gTj7K7BzjJ">
        .gTj7K7BzjJ {

}
.gTj7K7BzjJ p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8gAW4-BZo"
        class="g8gAW4-BZo"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:16px;--mt-mobile:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490374"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8gAW4-BZo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g8gAW4-BZo">
        .g8gAW4-BZo {

}
.g8gAW4-BZo p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggNgbNCm-P"
        class="ggNgbNCm-P"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:16px;--mt-mobile:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490381"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#03030A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggNgbNCm-P_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ggNgbNCm-P">
        .ggNgbNCm-P {

}
.ggNgbNCm-P p {

}
      </style>
    
    <div
      role="presentation"
      data-id="grcv4C8uCw"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758743490382 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto grcv4C8uCw"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9IjYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIGZpbGw9InVybCgjZy0xMTYwLTYwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9IjYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIGZpbGw9InVybCgjZy0xMTYwLTYwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9IjYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIGZpbGw9InVybCgjZy0xMTYwLTYwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-grcv4C8uCw">
        .grcv4C8uCw {

}
.grcv4C8uCw > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goYciSQt0p"
        class="goYciSQt0p"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:16px;--mt-mobile:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490384"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#03030A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoYciSQt0p_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-goYciSQt0p">
        .goYciSQt0p {

}
.goYciSQt0p p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gI9vaNLqv_"
        class="gI9vaNLqv_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:16px;--mt-mobile:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490385"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggI9vaNLqv__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gI9vaNLqv_">
        .gI9vaNLqv_ {

}
.gI9vaNLqv_ p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqrFvrTppY"
        class="gqrFvrTppY"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:16px;--mt-mobile:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490414"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#03030A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqrFvrTppY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gqrFvrTppY">
        .gqrFvrTppY {

}
.gqrFvrTppY p {

}
      </style>
    
    <div
      role="presentation"
      data-id="g4F7_HYgAS"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758743490415 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g4F7_HYgAS"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9IjYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIGZpbGw9InVybCgjZy0xMTYwLTYwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9IjYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIGZpbGw9InVybCgjZy0xMTYwLTYwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExNjAtNjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTYwIiBoZWlnaHQ9IjYwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE2MCIgaGVpZ2h0PSI2MDEiIGZpbGw9InVybCgjZy0xMTYwLTYwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExNjAiIHRvPSIxMTYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_524836908077941734-ed62923f-6f21-4953-a1bb-deca66178d9c.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g4F7_HYgAS">
        .g4F7_HYgAS {

}
.g4F7_HYgAS > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5OWSjpbbd"
        class="g5OWSjpbbd"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:16px;--mt-mobile:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490416"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#03030A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5OWSjpbbd_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g5OWSjpbbd">
        .g5OWSjpbbd {

}
.g5OWSjpbbd p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnRUBEZzzZ"
        class="gnRUBEZzzZ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:16px;--mt-mobile:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490417"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnRUBEZzzZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gnRUBEZzzZ">
        .gnRUBEZzzZ {

}
.gnRUBEZzzZ p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_ot1fiOKB"
        class="g_ot1fiOKB"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-mobile:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743490418"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#03030A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_ot1fiOKB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g_ot1fiOKB">
        .g_ot1fiOKB {

}
.g_ot1fiOKB p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-585880883639091907 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=585880880350757571&sectionId=585880883639091907)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggA3H86onC0_text","label":"ggA3H86onC0_text","default":"<p>Advertorial</p>"},{"type":"html","id":"ggmlBkKhYKP_text","label":"ggmlBkKhYKP_text","default":"Pharmacist Announces: The End of the Ozempic Era Has Come – Natural GLP-1 Enhancer Takes Its Place"},{"type":"html","id":"ggP9z40G4xn_text","label":"ggP9z40G4xn_text","default":"But... the surprising truth about what hinders your hair's growth potential will leave you amazed!"},{"type":"html","id":"ggtBMjjJL2m_text","label":"ggtBMjjJL2m_text","default":"<p>By Victoria Miller</p>"},{"type":"html","id":"gg_iSpR_OGG_text","label":"gg_iSpR_OGG_text","default":"<p>November 6, 2023</p>"},{"type":"html","id":"gge_rGNAalX_text","label":"gge_rGNAalX_text","default":"<p>\"GLP-1 injectables, such as Ozempic, rapidly gained recognition as a breakthrough in weight loss, offering hope to millions seeking fast solutions.</p><p>&nbsp;</p><p>Yet, studies show that their effectiveness is often overestimated.</p><p>&nbsp;</p><p>Research shows that after stopping GLP-1 injectables, <strong>patients usually regain 67% of their initial weight within one year</strong>.</p><p>&nbsp;</p><p>We also can't ignore the common side effects, which include <strong>nausea, fatigue, and severe digestive issues</strong> affecting up to 85% of users.</p><p>&nbsp;</p><p>Moreover, recent studies have revealed concerning long-term risks, including <strong>gastroparesis and potential gallbladder complications</strong>.</p><p>&nbsp;</p><p>Despite these concerns, the use continues to skyrocket,\" says <strong>Dr. Sarah Mitchell</strong>, a clinical pharmacist with over 15 years of experience in metabolic health and natural therapeutics.</p><p>&nbsp;</p><p>\"But here's what no one is talking about.</p>"},{"type":"html","id":"ggTj7K7BzjJ_text","label":"ggTj7K7BzjJ_text","default":"<p><strong>GLP-1 support doesn't have to come from risky drugs</strong> that disrupt health and cause dependency.</p><p>&nbsp;</p><p>A new, safer way to support weight loss through <strong>natural hormonal enhancement</strong> is finally emerging,\" she announces.</p><p>&nbsp;</p><p>\"Research confirms that <strong>select plant-based compounds can trigger the same pathway</strong>.</p><p>&nbsp;</p><p>For the first time, a complete, <strong>non-injectable GLP-1 enhancer</strong> is set to revolutionize the market.\"</p>"},{"type":"html","id":"gg8gAW4-BZo_text","label":"gg8gAW4-BZo_text","default":"<p><strong>But First, What Is GLP-1, and Why Is Enhancing It Essential for Sustainable Weight Loss?</strong></p>"},{"type":"html","id":"gggNgbNCm-P_text","label":"gggNgbNCm-P_text","default":"<p>\"<strong>GLP-1 is a hormone responsible for regulating metabolism, appetite, and fat storage</strong>,\" Dr. Mitchell continues.</p><p>&nbsp;</p><p>\"It stands out as <strong>one of the most critical hormones</strong> for achieving sustainable weight loss.</p><p>&nbsp;</p><p>By enhancing its activity naturally, we can:</p><p>&nbsp;</p><p><strong>Improve insulin sensitivity</strong>, enabling the body to use energy more effectively and reduce fat storage, making weight loss significantly easier.</p><p>&nbsp;</p><p><strong>Help control cravings and emotional eating</strong>, making it far more manageable to maintain healthy eating habits and achieve your weight goals.</p>"},{"type":"html","id":"ggoYciSQt0p_text","label":"ggoYciSQt0p_text","default":"<p>Recent studies confirm that <strong>specific plants, such as CQR-300® and Akkermansia muciniphila, are rich in active compounds that boost GLP-1</strong> by up to 56%.</p><p>&nbsp;</p><p>These ingredients have been used in traditional medicine for centuries, with modern research validating their efficacy.</p><p>&nbsp;</p><p>However, harnessing these benefits isn't as simple as taking random supplements.</p><p>&nbsp;</p><p>The compounds need to be <strong>extracted in precise amounts and combined at the correct dosage</strong> to trigger optimal GLP-1 production.</p><p>&nbsp;</p><p>That's why <strong>Nordburn's breakthrough formula</strong> is so promising.</p><p>&nbsp;</p><p>It concentrates and preserves <strong>the most powerful components for enhancing GLP-1 naturally</strong>,\" concludes Dr. Mitchell.</p>"},{"type":"html","id":"ggI9vaNLqv__text","label":"ggI9vaNLqv__text","default":"<p><strong>Why Then Has the Industry Overlooked Safer Solutions While Pushing Risky Drugs? I Call It \"Medicine's Blind Spot\"</strong></p>"},{"type":"html","id":"ggqrFvrTppY_text","label":"ggqrFvrTppY_text","default":"<p>\"GLP-1 injectables were originally developed for diabetes, not weight loss,\" says Dr. Mitchell.</p><p>&nbsp;</p><p>\"But no one stopped to ask if they were the best solution.</p><p>&nbsp;</p><p><strong>The industry doubled down, fueled by profits and momentum.</strong></p><p>&nbsp;</p><p>Patients have often had no choice but to accept risky, outdated treatments.</p><p>&nbsp;</p><p>This oversight is what I call <strong>\"medicine's blind spot.\"</strong></p><p>&nbsp;</p><p>The \"blind spot\" is the healthcare industry's obsession with quick-fix treatments.</p>"},{"type":"html","id":"gg5OWSjpbbd_text","label":"gg5OWSjpbbd_text","default":"<p>Like injectables, that promise rapid results but <strong>fail to address the root causes</strong> of weight issues.</p><p>&nbsp;</p><p>These treatments prioritize symptom management over <strong>holistic, sustainable health solutions</strong>.</p><p>&nbsp;</p><p>For years, this blind spot has gone unchallenged.</p><p>&nbsp;</p><p>But now, an innovative natural solution is stepping into the spotlight to address this overlooked issue,\" she concludes.</p>"},{"type":"html","id":"ggnRUBEZzzZ_text","label":"ggnRUBEZzzZ_text","default":"<p><strong>At Last, Nordburn's Natural GLP-1 Formula for Sustainable Weight Loss Is Here</strong></p>"},{"type":"html","id":"gg_ot1fiOKB_text","label":"gg_ot1fiOKB_text","default":"<p>\"As a pharmacist specializing in metabolic health science, I see <strong>immense potential in this new natural GLP-1 enhancer</strong>,\" says Dr. Mitchell.</p><p>&nbsp;</p><p>\"<strong>Nordburn GLP-1 Booster</strong> brings together years of research and proven ingredients.</p><p>&nbsp;</p><p>With <strong>over 50,000 bottles sold</strong> and a remarkable <strong>4.9/5 star rating</strong>, Nordburn continues to earn trust as a leader in natural weight management solutions.</p><p>&nbsp;</p><p>Now, this <strong>advanced GLP-1 Booster</strong> is finally available for those seeking a smarter, more sustainable approach to achieving their health goals.</p><p>&nbsp;</p><p>But how does this formula stack up against injectables like Ozempic?</p><p>&nbsp;</p><p>A side-by-side comparison reveals why <strong>Nordburn GLP-1 Booster stands out</strong>,\" Dr. Mitchell says.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  