

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-525248295346438956.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-525248295346438956.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-525248295346438956.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-525248295346438956.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-525248295346438956.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-525248295346438956.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-525248295346438956.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-525248295346438956.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-525248295346438956.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-525248295346438956.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-525248295346438956.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-525248295346438956.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-525248295346438956.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-525248295346438956.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-525248295346438956.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-525248295346438956.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-525248295346438956.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-525248295346438956.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-525248295346438956.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-525248295346438956.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-525248295346438956.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-525248295346438956.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-525248295346438956.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-525248295346438956.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-525248295346438956.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-525248295346438956.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-525248295346438956.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-525248295346438956.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-525248295346438956.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-525248295346438956.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-525248295346438956.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-525248295346438956.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-525248295346438956.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-525248295346438956.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-525248295346438956.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-525248295346438956.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-525248295346438956.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-525248295346438956.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-525248295346438956.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-525248295346438956.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-525248295346438956.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-525248295346438956.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-525248295346438956.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-525248295346438956.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-525248295346438956.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-525248295346438956.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-525248295346438956.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-525248295346438956.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-525248295346438956.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-525248295346438956.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-525248295346438956.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-525248295346438956.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-525248295346438956.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-525248295346438956.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-525248295346438956.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-525248295346438956.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-525248295346438956.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-525248295346438956.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-525248295346438956.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-525248295346438956.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-525248295346438956.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-525248295346438956.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-525248295346438956.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-525248295346438956.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-525248295346438956.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-525248295346438956.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-525248295346438956.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-525248295346438956.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-525248295346438956.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-525248295346438956.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-525248295346438956.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-525248295346438956.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-525248295346438956.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-525248295346438956.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-525248295346438956.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-525248295346438956.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-525248295346438956.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-525248295346438956.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-525248295346438956.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-525248295346438956.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-525248295346438956.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-525248295346438956.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-525248295346438956.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-525248295346438956.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-525248295346438956.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-525248295346438956.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-525248295346438956.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-525248295346438956.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-525248295346438956.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-525248295346438956.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-525248295346438956.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-525248295346438956.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-525248295346438956.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-525248295346438956.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-525248295346438956.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-525248295346438956.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-525248295346438956.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-525248295346438956.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-525248295346438956.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-525248295346438956.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-525248295346438956.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-525248295346438956.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-525248295346438956.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-525248295346438956.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-525248295346438956.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-525248295346438956.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-525248295346438956.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-525248295346438956.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-525248295346438956.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-525248295346438956 .gp-absolute{position:absolute}.gps-525248295346438956 .gp-relative{position:relative}.gps-525248295346438956 .gp-z-1{z-index:1}.gps-525248295346438956 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-525248295346438956 .gp-mb-0{margin-bottom:0}.gps-525248295346438956 .\!gp-inline{display:inline!important}.gps-525248295346438956 .gp-flex{display:flex}.gps-525248295346438956 .gp-inline-flex{display:inline-flex}.gps-525248295346438956 .gp-grid{display:grid}.gps-525248295346438956 .\!gp-hidden{display:none!important}.gps-525248295346438956 .gp-hidden{display:none}.gps-525248295346438956 .gp-h-full{height:100%}.gps-525248295346438956 .gp-w-full{width:100%}.gps-525248295346438956 .gp-max-w-full{max-width:100%}.gps-525248295346438956 .gp-flex-col{flex-direction:column}.gps-525248295346438956 .gp-items-center{align-items:center}.gps-525248295346438956 .\!gp-justify-start{justify-content:flex-start!important}.gps-525248295346438956 .\!gp-justify-center{justify-content:center!important}.gps-525248295346438956 .gp-justify-center{justify-content:center}.gps-525248295346438956 .gp-gap-y-0{row-gap:0}.gps-525248295346438956 .gp-overflow-hidden{overflow:hidden}.gps-525248295346438956 .gp-break-words{overflow-wrap:break-word}.gps-525248295346438956 .gp-rounded-none{border-radius:0}.gps-525248295346438956 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-525248295346438956 .gp-no-underline{text-decoration-line:none}.gps-525248295346438956 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-525248295346438956 .gp-duration-200{transition-duration:.2s}.gps-525248295346438956 .gp-duration-300{transition-duration:.3s}.gps-525248295346438956 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-525248295346438956 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-525248295346438956 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-525248295346438956 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-525248295346438956 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-525248295346438956 .tablet\:gp-relative{position:relative}.gps-525248295346438956 .tablet\:\!gp-hidden{display:none!important}.gps-525248295346438956 .tablet\:gp-hidden{display:none}.gps-525248295346438956 .tablet\:\!gp-justify-start{justify-content:flex-start!important}.gps-525248295346438956 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-525248295346438956 .mobile\:gp-relative{position:relative}.gps-525248295346438956 .mobile\:\!gp-hidden{display:none!important}.gps-525248295346438956 .mobile\:gp-hidden{display:none}.gps-525248295346438956 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-525248295346438956 .mobile\:\!gp-justify-start{justify-content:flex-start!important}.gps-525248295346438956 .mobile\:\!gp-justify-center{justify-content:center!important}.gps-525248295346438956 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-525248295346438956 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-525248295346438956 .\[\&_p\]\:gp-inline p{display:inline}.gps-525248295346438956 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-525248295346438956 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-525248295346438956 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="grXwAlZUgp"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt:80px;--pb:0px;--mt-mobile:0px;--pt-mobile:80px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:80px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F1F0EC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grXwAlZUgp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5IUlmP21r gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gp55SlfP-q"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:0px;--op:100%;--op-mobile:100%;--pos:absolute;--right:0px;--radius:var(--g-radius-none);--mt:0px;--mb:0px;--top:-122px;--top-mobile:-110px;--z:1;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-ad6daf0b-e858-41ce-94e5-41c8f5c0d239.svg?v=1721009527"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:85px;--w-tablet:85px;--w-mobile:63px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-ad6daf0b-e858-41ce-94e5-41c8f5c0d239.svg?v=1721009527"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:85px;--w-tablet:85px;--w-mobile:63px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gp55SlfP-q">
        .gp55SlfP-q {

}
.gp55SlfP-q > figure > img {

}
      </style>
    <div
    
    role="presentation"
    class="gp-group/image gMDHStRHkO"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:0px;--op:100%;--op-mobile:100%;--op-tablet:100%;--pos:absolute;--right:Auto;--radius:var(--g-radius-none);--mt:0px;--mb:0px;--top:-175px;--top-mobile:-140px;--top-tablet:-150px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-50842ec0-2f04-422e-a610-7a27316f5698.png?v=1721009538"
          alt=""
          fetchpriority="high"
          style="--aspect:508/614;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:260px;--w-tablet:200px;--w-mobile:120px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-50842ec0-2f04-422e-a610-7a27316f5698.png?v=1721009538"
        alt=""
        style="--aspect:508/614;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:260px;--w-tablet:200px;--w-mobile:120px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gMDHStRHkO">
        .gMDHStRHkO {

}
.gMDHStRHkO > figure > img {

}
      </style>
    
      
      
    <div
      parentTag="Col" id="gjVzGgYdN4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mt:0px;--mb:62px;--pl:25px;--pr:25px;--mt-tablet:0px;--mb-tablet:62px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:1220px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjVzGgYdN4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gB6hsB0742 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gM5imbqVi0 "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pl:0px;--pr:0px;--mb-mobile:18px;--pl-mobile:25px;--pr-mobile:25px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pl-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:716px;--w-tablet:716px;--w-mobile:716px;--ts:none;--ta:center;--weight:400;--ls:0px;--size:44px;--size-tablet:43px;--size-mobile:26px;--lh:54px;--lh-tablet:130%;--lh-mobile:31px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggM5imbqVi0_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F1F0EC","image":{"backupFileKey":"","height":942,"src":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-00c42a61-0cf1-4551-9bbf-6be0a5c1ad00.webp?v=1721720461","storage":"FILE_CONTENT","width":810},"lazyLoad":false,"loop":true,"position":{"x":100,"y":100},"repeat":"no-repeat","size":"contain","type":"color","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"#F1F0EC","image":{"backupFileKey":"","height":942,"src":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-00c42a61-0cf1-4551-9bbf-6be0a5c1ad00.webp?v=1721720461","storage":"FILE_CONTENT","width":810},"lazyLoad":false,"loop":true,"position":{"x":100,"y":100},"repeat":"no-repeat","size":"contain","type":"color","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"#F1F0EC","image":{"backupFileKey":"","height":389,"src":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-c77afaf8-efdf-463c-b2d0-a8dda1c304e6.webp?v=1721727441","storage":"FILE_CONTENT","width":583},"lazyLoad":false,"loop":true,"position":{"x":50,"y":100},"repeat":"no-repeat","size":"contain","type":"color","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"gCiHn17Fmh","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"top"},"contentPosition2Col":{"desktop":"top"},"aspectRatio":{"desktop":"16/9","mobile":"16/9"}}'
        
        class="gCiHn17Fmh gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt-mobile:0px;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-start tablet:!gp-justify-start mobile:!gp-justify-start"
          style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-c77afaf8-efdf-463c-b2d0-a8dda1c304e6.webp?v=1721727441" />
        <source media="(max-width: 1023px)" srcset="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-00c42a61-0cf1-4551-9bbf-6be0a5c1ad00.webp?v=1721720461" />
        <img
          title
          class="adaptive-hero-banner"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-00c42a61-0cf1-4551-9bbf-6be0a5c1ad00.webp?v=1721720461"
          alt=""
          fetchpriority="high"
          style="--aspect:810/942;--aspect-tablet:810/942;--aspect-mobile:583/389;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-c77afaf8-efdf-463c-b2d0-a8dda1c304e6.webp?v=1721727441" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-00c42a61-0cf1-4551-9bbf-6be0a5c1ad00.webp?v=1721720461" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-00c42a61-0cf1-4551-9bbf-6be0a5c1ad00.webp?v=1721720461"
        alt=""
        style="--aspect:810/942;--aspect-tablet:810/942;--aspect-mobile:583/389;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
             style="--bgc:#F1F0EC;--bgc-tablet:#F1F0EC;--bgc-mobile:#F1F0EC;--bgi:url(https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-00c42a61-0cf1-4551-9bbf-6be0a5c1ad00.webp?v=1721720461);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-00c42a61-0cf1-4551-9bbf-6be0a5c1ad00.webp?v=1721720461);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-c77afaf8-efdf-463c-b2d0-a8dda1c304e6.webp?v=1721727441);--bgp:100% 100%;--bgp-tablet:100% 100%;--bgp-mobile:50% 100%;--bgs:contain;--bgs-tablet:contain;--bgs-mobile:contain;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:25px;--pr:25px;--pt:0px;--pb:61px;--pl-tablet:25px;--pr-tablet:25px;--pt-tablet:25px;--pb-tablet:61px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:300px;--cg:32px;--pc:start;--pc-tablet:start;--pc-mobile:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1220px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o:0"
      class="gCTiTDVgUT gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gXd4quPsJt"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mt:0px;--ml:-1px;--pl:1px;--mt-mobile:0px;--ml-mobile:auto;--pl-mobile:25px;--pb-mobile:0px;--pr-mobile:25px;--mt-tablet:0px;--ml-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:566px;--w-tablet:566px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXd4quPsJt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gL1jtfybXs gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="grjjVU1jrg"
        style="--b:solid;--bc:#4B6D13;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:20px;--pb:0px;--mr-tablet:auto;--pr-tablet:0px;--cg:28px;--cg-mobile:20px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grjjVU1jrg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwPk6o--Xu gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g3SOOBjsuU"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--ml:0px;--ml-mobile:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-420b5a41-9192-41df-883b-0013d0f424e3.svg?v=1721009549"
          alt=""
          fetchpriority="high"
          style="--aspect:65/65;--aspect-tablet:undefined/undefined;--aspect-mobile:44/44;--objf:cover;--w-mobile:44px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-420b5a41-9192-41df-883b-0013d0f424e3.svg?v=1721009549"
        alt=""
        style="--aspect:65/65;--aspect-tablet:undefined/undefined;--aspect-mobile:44/44;--objf:cover;--w-mobile:44px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gI9V0eU8YG gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gSVsKG37J_ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--weight:400;--ls:0px;--size:28px;--size-tablet:30px;--size-mobile:19px;--lh:54px;--lh-tablet:130%;--lh-mobile:37px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSVsKG37J__text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gGrDGfofvu "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:11px;--lh:27px;--lh-tablet:27px;--lh-mobile:18px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGrDGfofvu_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="genUgJzJ1W"
        style="--b:solid;--bc:#4B6D13;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:25px;--pt:25px;--pb:0px;--ml-mobile:auto;--pt-mobile:25px;--cg:28px;--cg-mobile:20px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="genUgJzJ1W gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4Rb9RrU2G gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gYcecUEgXl"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--ml:0px;--ml-mobile:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-6faaef8c-41aa-49fd-9849-4044236f94f8.svg?v=1721009560"
          alt=""
          fetchpriority="high"
          style="--aspect:75/75;--aspect-tablet:undefined/undefined;--aspect-mobile:44/44;--objf:cover;--w-mobile:44px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-6faaef8c-41aa-49fd-9849-4044236f94f8.svg?v=1721009560"
        alt=""
        style="--aspect:75/75;--aspect-tablet:undefined/undefined;--aspect-mobile:44/44;--objf:cover;--w-mobile:44px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7eucJtZgW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g7e_qbaGgO "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--weight:400;--ls:0px;--size:28px;--size-tablet:30px;--size-mobile:19px;--lh:54px;--lh-tablet:130%;--lh-mobile:37px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7e_qbaGgO_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gN8QspgKhH "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:11px;--lh:27px;--lh-tablet:27px;--lh-mobile:18px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggN8QspgKhH_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gbhGhX-sBH"
        style="--b:solid;--bc:#4B6D13;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mt:0px;--mb:45px;--pt:25px;--mb-mobile:56px;--pt-mobile:25px;--cg:28px;--cg-mobile:20px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbhGhX-sBH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gM5cYwDaIP gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g1Tw4sqatq"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--ml:0px;--ml-mobile:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-fc3d5d5d-6b78-4e13-acc4-fd720211b2c2.svg?v=1721009574"
          alt=""
          fetchpriority="high"
          style="--aspect:78/77;--aspect-tablet:undefined/undefined;--aspect-mobile:44/44;--objf:cover;--w-mobile:44px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-fc3d5d5d-6b78-4e13-acc4-fd720211b2c2.svg?v=1721009574"
        alt=""
        style="--aspect:78/77;--aspect-tablet:undefined/undefined;--aspect-mobile:44/44;--objf:cover;--w-mobile:44px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ4Rj0FePE gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g6YlZB2dXG "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--weight:400;--ls:0px;--size:28px;--size-tablet:30px;--size-mobile:19px;--lh:54px;--lh-tablet:130%;--lh-mobile:37px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg6YlZB2dXG_text }}</h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g-MDSrNJ7U "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:11px;--lh:27px;--lh-tablet:27px;--lh-mobile:18px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-MDSrNJ7U_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--ml:0px;--mb:0px;--ml-mobile:0px;--mb-mobile:0px;--ml-tablet:0px;--mb-tablet:0px;--ta:left"
    class=""
  >
    <style>
    .gvIeKPQ2Ux.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .gvIeKPQ2Ux:hover::before {
      
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .gvIeKPQ2Ux:hover .gp-button-icon {
      color: undefined;
    }

     .gvIeKPQ2Ux .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gvIeKPQ2Ux:hover .gp-button-price {
      color: undefined;
    }

    .gvIeKPQ2Ux .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gvIeKPQ2Ux .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gvIeKPQ2Ux:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#ggD3GPKBM1" target="_self" data-id="gvIeKPQ2Ux" aria-label="<p>Try Gem<sup>15</sup></p>"
      
      data-state="idle"
      class="gvIeKPQ2Ux gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#4B6D13;--bg:#4B6D13;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:41px;--pr:40px;--pt:14px;--pb:14px;--pl-mobile:31px;--pr-mobile:31px;--pt-mobile:12px;--pb-mobile:11px;--c:var(--g-c-text-3, text-3);--size:23px;--size-tablet:16px;--size-mobile:16px;--weight:400;--ls:0px;--lh:35px;--lh-tablet:180%;--lh-mobile:150%"
    >
      
    <div 
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style=""
      >
        {{ section.settings.ggvIeKPQ2Ux_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gvIeKPQ2Ux">
        button.gvIeKPQ2Ux {

}
      </style>
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o:1;--d-mobile:none"
      class="g8BuUPGxqr gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-525248295346438956 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=524836910225491006&sectionId=525248295346438956)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggM5imbqVi0_text","label":"ggM5imbqVi0_text","default":"Why Choose Our Essential Fatty Acid Capsules?"},{"type":"html","id":"ggSVsKG37J__text","label":"ggSVsKG37J__text","default":"High-Quality Ingredients"},{"type":"html","id":"ggGrDGfofvu_text","label":"ggGrDGfofvu_text","default":"<p>We source only the finest ingredients to ensure purity and potency.</p>"},{"type":"html","id":"gg7e_qbaGgO_text","label":"gg7e_qbaGgO_text","default":"Balanced Formulation"},{"type":"html","id":"ggN8QspgKhH_text","label":"ggN8QspgKhH_text","default":"<p>Our capsules are expertly formulated to provide a balanced ratio of omega-3, omega-6, and omega-9 fatty acids, essential for various bodily functions.</p>"},{"type":"html","id":"gg6YlZB2dXG_text","label":"gg6YlZB2dXG_text","default":"Bioavailable"},{"type":"html","id":"gg-MDSrNJ7U_text","label":"gg-MDSrNJ7U_text","default":"<p>Each capsule is designed for maximum absorption, ensuring that you get the most out of every dose.</p>"},{"type":"html","id":"ggvIeKPQ2Ux_label","label":"ggvIeKPQ2Ux_label","default":"<p>Try Gem<sup>15</sup></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
