
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-585880883790086859.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-585880883790086859.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-585880883790086859.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-585880883790086859.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-585880883790086859.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-585880883790086859.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-585880883790086859.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-585880883790086859.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-585880883790086859.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-585880883790086859.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-585880883790086859.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-585880883790086859.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-585880883790086859.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-585880883790086859.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-585880883790086859.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-585880883790086859.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-585880883790086859.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-585880883790086859.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-585880883790086859.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-585880883790086859.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-585880883790086859.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-585880883790086859.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-585880883790086859.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-585880883790086859.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-585880883790086859.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-585880883790086859.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-585880883790086859.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-585880883790086859.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-585880883790086859.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-585880883790086859.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-585880883790086859.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-585880883790086859.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-585880883790086859.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-585880883790086859.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-585880883790086859.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-585880883790086859.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-585880883790086859.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-585880883790086859.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-585880883790086859.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-585880883790086859.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-585880883790086859.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-585880883790086859.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-585880883790086859.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-585880883790086859.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-585880883790086859.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-585880883790086859.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-585880883790086859.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-585880883790086859.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-585880883790086859.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-585880883790086859.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-585880883790086859.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-585880883790086859.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-585880883790086859.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-585880883790086859.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-585880883790086859.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-585880883790086859.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-585880883790086859.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-585880883790086859.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-585880883790086859.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-585880883790086859.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-585880883790086859.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-585880883790086859.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-585880883790086859.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-585880883790086859.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-585880883790086859.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-585880883790086859.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-585880883790086859.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-585880883790086859.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-585880883790086859.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-585880883790086859.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-585880883790086859.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-585880883790086859.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-585880883790086859.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-585880883790086859.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-585880883790086859.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-585880883790086859.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-585880883790086859.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-585880883790086859.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-585880883790086859.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-585880883790086859.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-585880883790086859.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-585880883790086859.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-585880883790086859.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-585880883790086859.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-585880883790086859.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-585880883790086859.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-585880883790086859.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-585880883790086859.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-585880883790086859.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-585880883790086859.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-585880883790086859.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-585880883790086859.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-585880883790086859.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-585880883790086859.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-585880883790086859.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-585880883790086859.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-585880883790086859.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-585880883790086859.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-585880883790086859 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-585880883790086859 .gp-relative{position:relative}.gps-585880883790086859 .gp-z-1{z-index:1}.gps-585880883790086859 .\!gp-m-0{margin:0!important}.gps-585880883790086859 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-585880883790086859 .gp-mb-0{margin-bottom:0}.gps-585880883790086859 .gp-block{display:block}.gps-585880883790086859 .gp-flex{display:flex}.gps-585880883790086859 .gp-inline-flex{display:inline-flex}.gps-585880883790086859 .gp-grid{display:grid}.gps-585880883790086859 .\!gp-hidden{display:none!important}.gps-585880883790086859 .gp-hidden{display:none}.gps-585880883790086859 .gp-h-full{height:100%}.gps-585880883790086859 .gp-max-w-full{max-width:100%}.gps-585880883790086859 .gp-flex-none{flex:none}.gps-585880883790086859 .gp-shrink-0{flex-shrink:0}.gps-585880883790086859 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-585880883790086859 .gp-flex-col{flex-direction:column}.gps-585880883790086859 .gp-items-center{align-items:center}.gps-585880883790086859 .gp-justify-start{justify-content:flex-start}.gps-585880883790086859 .gp-justify-center{justify-content:center}.gps-585880883790086859 .gp-overflow-hidden{overflow:hidden}.gps-585880883790086859 .gp-break-words{overflow-wrap:break-word}.gps-585880883790086859 .gp-text-center{text-align:center}.gps-585880883790086859 .gp-no-underline{text-decoration-line:none}.gps-585880883790086859 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585880883790086859 .gp-duration-200{transition-duration:.2s}.gps-585880883790086859 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585880883790086859 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-585880883790086859 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-585880883790086859 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-585880883790086859 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-585880883790086859 .tablet\:gp-block{display:block}.gps-585880883790086859 .tablet\:\!gp-hidden{display:none!important}.gps-585880883790086859 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-585880883790086859 .mobile\:gp-block{display:block}.gps-585880883790086859 .mobile\:\!gp-hidden{display:none!important}.gps-585880883790086859 .mobile\:gp-hidden{display:none}}.gps-585880883790086859 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-585880883790086859 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-585880883790086859 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-585880883790086859 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-585880883790086859 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-585880883790086859 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g_rkJ0Ne2J"}' data-id="g_rkJ0Ne2J" id="g_rkJ0Ne2J" data-same-height-subgrid-container class="g_rkJ0Ne2J gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pt:0px;--pb:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaJbPUtz6X gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F6F6F6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"tablet":{"color":"#F6F6F6"}},"uid":"gfP-HZ2AEg"}' data-id="gfP-HZ2AEg" id="gfP-HZ2AEg" data-same-height-subgrid-container class="gfP-HZ2AEg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:48px;--pl:0px;--pb:48px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:48px;--pl-tablet:0px;--pb-tablet:48px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, auto);--w:100%;--bgc:#F6F6F6;--bgc-tablet:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkzgBMEB0- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4bmcsHLdR"}' data-id="g4bmcsHLdR" id="g4bmcsHLdR" data-same-height-subgrid-container class="g4bmcsHLdR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:20px;--pr:20px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gb0360wiL8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8eD6LOK9o"
        class="g8eD6LOK9o"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743491170"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8eD6LOK9o_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g8eD6LOK9o">
        .g8eD6LOK9o {

}
.g8eD6LOK9o p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZ7T1qoS03"}' data-id="gZ7T1qoS03" id="gZ7T1qoS03" data-same-height-subgrid-container class="gZ7T1qoS03 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:26px;--pl:20px;--pb:26px;--pr:20px;--mb-mobile:0px;--pt-mobile:21px;--pl-mobile:20px;--pb-mobile:21px;--pr-mobile:20px;--mb-tablet:0px;--pt-tablet:26px;--pl-tablet:20px;--pb-tablet:26px;--pr-tablet:20px;--cg:32px;--cg-tablet:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:1200px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center;--o-mobile:1"
      class="gssW82n2Mp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsKgUgEnZF"
        class="gsKgUgEnZF"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:23px;--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758743491174"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsKgUgEnZF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gsKgUgEnZF">
        .gsKgUgEnZF {

}
.gsKgUgEnZF p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center;--o-mobile:0"
      class="gJGxwnKKKm gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKNbZboeE6"}' data-id="gKNbZboeE6" id="gKNbZboeE6" data-same-height-subgrid-container class="gKNbZboeE6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--mb:0px;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:var(--g-s-2xl);--cg-tablet:10px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gO7RE3rknG gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:12px;--pl-mobile:0px;--pb-mobile:0px;--pl-tablet:0px;--ta:left" >
        <style>[data-id="ggZeQlbN8S"].gp-button-base::before, [data-id="ggZeQlbN8S-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="ggZeQlbN8S"]:hover::before, [data-id="ggZeQlbN8S-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  }</style>
        
        <button
          data-id="ggZeQlbN8S" dataId="ggZeQlbN8S" data-state="idle" aria-label="Refund policy"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:2px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:2px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00000000;--bg:#00000000;--hvr-c:#575757;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="ggZeQlbN8S gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042106216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gggZeQlbN8S_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-ggZeQlbN8S">
        button.ggZeQlbN8S {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gGX2-1lQZE gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:12px;--pl-mobile:0px;--pl-tablet:0px;--ta:left" >
        <style>[data-id="gshkdAXGqi"].gp-button-base::before, [data-id="gshkdAXGqi-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gshkdAXGqi"]:hover::before, [data-id="gshkdAXGqi-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  }</style>
        
        <button
          data-id="gshkdAXGqi" dataId="gshkdAXGqi" data-state="idle" aria-label="Terms of service"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:2px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:2px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00000000;--bg:#00000000;--hvr-c:#575757;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gshkdAXGqi gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042106216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggshkdAXGqi_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gshkdAXGqi">
        button.gshkdAXGqi {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gTXEdTeHH5 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-tablet:0px;--ta:left" >
        <style>[data-id="gFqM0g1W8Z"].gp-button-base::before, [data-id="gFqM0g1W8Z-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gFqM0g1W8Z"]:hover::before, [data-id="gFqM0g1W8Z-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  }</style>
        
        <button
          data-id="gFqM0g1W8Z" dataId="gFqM0g1W8Z" data-state="idle" aria-label="Privacy policy"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:2px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:2px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00000000;--bg:#00000000;--hvr-c:#575757;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gFqM0g1W8Z gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042106216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggFqM0g1W8Z_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gFqM0g1W8Z">
        button.gFqM0g1W8Z {

}
      </style>
    
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--pt-mobile:21px;--pb-mobile:21px" class="gffDGvxveV ">
      
    <div data-id="gffDGvxveV" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#EEEEEE" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#EEEEEE;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#EEEEEE;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#EEEEEE;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gSjXm2daS5"}' data-id="gSjXm2daS5" id="gSjXm2daS5" data-same-height-subgrid-container class="gSjXm2daS5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFxOKsf78O gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gTRWOUht4k","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      style="--bottom:12px;--bottom-mobile:21px;--pos:fixed;--right:24px;--right-mobile:15px;--z:2"
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:right" >
        <style>[data-id="g3mgZLieYE"].gp-button-base::before, [data-id="g3mgZLieYE-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="g3mgZLieYE"]:hover::before, [data-id="g3mgZLieYE-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gTRWOUht4k
            target=_self
          ></a>
        <a
          data-id="g3mgZLieYE" dataId="g3mgZLieYE" data-state="idle" aria-label
          
          href="#gTRWOUht4k" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:13px;--pr-mobile:13px;--pt-mobile:13px;--pb-mobile:13px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#FFFFFF;--bg:#FFFFFF;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="g3mgZLieYE gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="!gp-m-0 gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817554946326888">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208.49,120.49a12,12,0,0,1-17,0L140,69V216a12,12,0,0,1-24,0V69L64.49,120.49a12,12,0,0,1-17-17l72-72a12,12,0,0,1,17,0l72,72A12,12,0,0,1,208.49,120.49Z" /></svg>
    </span>
  
          
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g3mgZLieYE">
        button.g3mgZLieYE {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-585880883790086859 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=585880880350757571&sectionId=585880883790086859)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8eD6LOK9o_text","label":"gg8eD6LOK9o_text","default":"<p>Privacy &amp; GDPR Disclosure: We sometimes collect personal information for marketing purposes, but will always let users know why we are collecting that information. This site uses cookies for marketing purposes.<br>THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE. THE OWNERS OF THIS WEBSITE RECEIVE COMPENSATION FOR THE SALE OF SOCKSCOMPRESSION.<br>Marketing Disclosure: This website is a market place. As such you should know that the owner has a monetary connection to the product and services advertised on the site. The owner receives payment whenever a qualified lead is referred but that is the extent of the relationship.<br>Advertising Disclosure: This website and its owners are compensated for promoting and recommending the products and services mentioned. This website is an advertisement and not a news publication. Any photographs of persons used on this site are models. The owner of this site and the owner of the products and services referred to only provide a service where consumers can obtain and compare products and services.</p>"},{"type":"html","id":"ggsKgUgEnZF_text","label":"ggsKgUgEnZF_text","default":"<p>Copyright © 2024. All Rights Reserved.</p>"},{"type":"html","id":"gggZeQlbN8S_label","label":"gggZeQlbN8S_label","default":"Refund policy"},{"type":"html","id":"ggshkdAXGqi_label","label":"ggshkdAXGqi_label","default":"Terms of service"},{"type":"html","id":"ggFqM0g1W8Z_label","label":"ggFqM0g1W8Z_label","default":"Privacy policy"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  