
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-533922856766014234.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-533922856766014234.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-533922856766014234.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-533922856766014234.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-533922856766014234.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-533922856766014234.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-533922856766014234.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-533922856766014234.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-533922856766014234.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-533922856766014234.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-533922856766014234.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-533922856766014234.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-533922856766014234.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-533922856766014234.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-533922856766014234.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-533922856766014234.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-533922856766014234.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-533922856766014234.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-533922856766014234.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-533922856766014234.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-533922856766014234.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-533922856766014234.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-533922856766014234.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-533922856766014234.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-533922856766014234.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-533922856766014234.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-533922856766014234.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-533922856766014234.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-533922856766014234.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-533922856766014234.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-533922856766014234.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-533922856766014234.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-533922856766014234.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-533922856766014234.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-533922856766014234.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-533922856766014234.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-533922856766014234.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-533922856766014234.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-533922856766014234.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-533922856766014234.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-533922856766014234.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-533922856766014234.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-533922856766014234.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-533922856766014234.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-533922856766014234.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-533922856766014234.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-533922856766014234.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-533922856766014234.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-533922856766014234.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-533922856766014234.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-533922856766014234.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-533922856766014234.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-533922856766014234.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-533922856766014234.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-533922856766014234.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-533922856766014234.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-533922856766014234.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-533922856766014234.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-533922856766014234.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-533922856766014234.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-533922856766014234.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-533922856766014234.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-533922856766014234.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-533922856766014234.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-533922856766014234.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-533922856766014234.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-533922856766014234.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-533922856766014234.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-533922856766014234.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-533922856766014234.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-533922856766014234.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-533922856766014234.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-533922856766014234.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-533922856766014234.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-533922856766014234.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-533922856766014234.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-533922856766014234.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-533922856766014234.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-533922856766014234 .gp-relative{position:relative}.gps-533922856766014234 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-533922856766014234 .gp-mb-0{margin-bottom:0}.gps-533922856766014234 .gp-inline-block{display:inline-block}.gps-533922856766014234 .gp-flex{display:flex}.gps-533922856766014234 .gp-grid{display:grid}.gps-533922856766014234 .gp-contents{display:contents}.gps-533922856766014234 .\!gp-hidden{display:none!important}.gps-533922856766014234 .gp-hidden{display:none}.gps-533922856766014234 .gp-h-auto{height:auto}.gps-533922856766014234 .gp-h-full{height:100%}.gps-533922856766014234 .gp-w-full{width:100%}.gps-533922856766014234 .gp-max-w-full{max-width:100%}.gps-533922856766014234 .gp-flex-none{flex:none}.gps-533922856766014234 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-533922856766014234 .gp-flex-col{flex-direction:column}.gps-533922856766014234 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-533922856766014234 .gp-duration-200{transition-duration:.2s}.gps-533922856766014234 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-533922856766014234 .tablet\:\!gp-hidden{display:none!important}.gps-533922856766014234 .tablet\:gp-hidden{display:none}.gps-533922856766014234 .tablet\:gp-h-auto{height:auto}.gps-533922856766014234 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-533922856766014234 .mobile\:\!gp-hidden{display:none!important}.gps-533922856766014234 .mobile\:gp-hidden{display:none}.gps-533922856766014234 .mobile\:gp-h-auto{height:auto}.gps-533922856766014234 .mobile\:gp-flex-none{flex:none}}.gps-533922856766014234 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EFEFEF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpw250Z3K7"}' data-id="gpw250Z3K7" id="gpw250Z3K7" data-same-height-subgrid-container class="gpw250Z3K7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:12px;--pt-mobile:0px;--pb-mobile:10px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EFEFEF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gcBh3pMmQk gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FCF7EA","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g0jCWyKUxk"}' data-id="g0jCWyKUxk" id="g0jCWyKUxk" data-same-height-subgrid-container class="g0jCWyKUxk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#B4B4B4;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pl:20px;--pr:20px;--mb-mobile:21px;--pl-mobile:35px;--pr-mobile:35px;--cg:8px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FCF7EA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gy1kFnASPl gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g31pkh0zH4"
        class="g31pkh0zH4"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:20px;--pr:20px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030193946"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg31pkh0zH4_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyFvVn1J3V"
        class="gyFvVn1J3V"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:20px;--pr:20px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030193947"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:17px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyFvVn1J3V_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gyFvVn1J3V">
        .gyFvVn1J3V {

}
.gyFvVn1J3V p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZior2feV7"}' data-id="gZior2feV7" id="gZior2feV7" data-same-height-subgrid-container class="gZior2feV7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pl:20px;--pr:20px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--cg:8px;--gtc:minmax(0, 12fr);--w:830px;--w-tablet:830px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdxQrGqicL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gyE3dXgHzN"}' data-id="gyE3dXgHzN" id="gyE3dXgHzN" data-same-height-subgrid-container class="gyE3dXgHzN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#D1D1D1;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--mb:0px;--mr:auto;--pt:11px;--pl:15px;--pb:11px;--pr:15px;--mb-mobile:21px;--mr-mobile:auto;--pt-mobile:8px;--pl-mobile:13px;--pb-mobile:8px;--pr-mobile:13px;--cg:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:790px;--w-tablet:790px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="giKu7cDLYh gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gt_fuE3-cu"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756030193953 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gt_fuE3-cu"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-1ad8d873-77fa-4db5-8014-ec2b0d985769.png" | file_url }}" srcset="{{ "gempages_524836908077941734-1ad8d873-77fa-4db5-8014-ec2b0d985769.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-1ad8d873-77fa-4db5-8014-ec2b0d985769.png" | file_url }}" srcset="{{ "gempages_524836908077941734-1ad8d873-77fa-4db5-8014-ec2b0d985769.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_524836908077941734-1ad8d873-77fa-4db5-8014-ec2b0d985769.png" | file_url }}" data-src="{{ "gempages_524836908077941734-1ad8d873-77fa-4db5-8014-ec2b0d985769.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gt_fuE3-cu">
        .gt_fuE3-cu {

}
.gt_fuE3-cu > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gfJKvdcVCB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBARqAc5zV"
        class="gBARqAc5zV"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030193955"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBARqAc5zV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gBARqAc5zV">
        .gBARqAc5zV {

}
.gBARqAc5zV p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbeBLtSbG5"}' data-id="gbeBLtSbG5" id="gbeBLtSbG5" data-same-height-subgrid-container class="gbeBLtSbG5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pl:20px;--pr:20px;--mb-mobile:21px;--cg:4px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:830px;--w-tablet:830px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gkofQr9ixe gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gAUQLXeGiJ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:0px;--btlr:20px;--btrr:0px;--ta:center;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1756030193958 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gAUQLXeGiJ"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-587aab4c-81ef-4650-b618-63d3e31740f0.png" | file_url }}" srcset="{{ "gempages_524836908077941734-587aab4c-81ef-4650-b618-63d3e31740f0.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-587aab4c-81ef-4650-b618-63d3e31740f0.png" | file_url }}" srcset="{{ "gempages_524836908077941734-587aab4c-81ef-4650-b618-63d3e31740f0.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_524836908077941734-587aab4c-81ef-4650-b618-63d3e31740f0.png" | file_url }}" data-src="{{ "gempages_524836908077941734-587aab4c-81ef-4650-b618-63d3e31740f0.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:393/400;--aspect-tablet:393/400;--aspect-mobile:166/214;--objf:contain;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gAUQLXeGiJ">
        .gAUQLXeGiJ {

}
.gAUQLXeGiJ > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="ghotfjhQHl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gCuhk0xYX1"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:20px;--btlr:0px;--btrr:20px;--mb-mobile:0px;--ta:center;--ta-mobile:left"
      class="gp-group/image gp-relative force-publish-1756030193959 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gCuhk0xYX1"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-b5e38e1a-ebe9-41e9-b90b-0eff5985874f_1024x.png?v=1721092199" srcset="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-b5e38e1a-ebe9-41e9-b90b-0eff5985874f_1024x.png?v=1721092199" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-b5e38e1a-ebe9-41e9-b90b-0eff5985874f_1024x.png?v=1721092199" srcset="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-b5e38e1a-ebe9-41e9-b90b-0eff5985874f_1024x.png?v=1721092199" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-b5e38e1a-ebe9-41e9-b90b-0eff5985874f.png?v=1721092199" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-b5e38e1a-ebe9-41e9-b90b-0eff5985874f.png?v=1721092199"
        alt=""
        width="100%"
        style="--aspect:393/400;--aspect-tablet:393/400;--aspect-mobile:166/214;--objf:contain;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gCuhk0xYX1">
        .gCuhk0xYX1 {

}
.gCuhk0xYX1 > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwiiFl0b4J"
        class="gwiiFl0b4J"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pl:20px;--pr:20px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030193961"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwiiFl0b4J_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gwiiFl0b4J">
        .gwiiFl0b4J {

}
.gwiiFl0b4J p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQnNWmwBBP"
        class="gQnNWmwBBP"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pl:20px;--pr:20px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030193962"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQnNWmwBBP_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gz2tJ8kV9Z"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:24px;--pl:20px;--pr:20px;--mb-mobile:21px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756030193962 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gz2tJ8kV9Z"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-5e1585b1-2bb1-440f-a733-f20d0c45566c_1024x.png?v=1721092209" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1ODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xNTgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1ODAiIHRvPSIxNTgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-5e1585b1-2bb1-440f-a733-f20d0c45566c_1024x.png?v=1721092209" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1ODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xNTgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1ODAiIHRvPSIxNTgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-5e1585b1-2bb1-440f-a733-f20d0c45566c.png?v=1721092209" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1ODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xNTgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1ODAiIHRvPSIxNTgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-5e1585b1-2bb1-440f-a733-f20d0c45566c.png?v=1721092209"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:790px;--w-mobile:790px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gz2tJ8kV9Z">
        .gz2tJ8kV9Z {

}
.gz2tJ8kV9Z > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gESd3UZDPR"
        class="gESd3UZDPR"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pl:20px;--pr:20px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030193963"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggESd3UZDPR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gESd3UZDPR">
        .gESd3UZDPR {

}
.gESd3UZDPR p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0wi6G6Rex"
        class="g0wi6G6Rex"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pl:20px;--pr:20px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030193970"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0wi6G6Rex_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gHnSyEXA5C"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:24px;--pl:20px;--pr:20px;--mb-mobile:21px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756030193971 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gHnSyEXA5C"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-fc14a086-93dd-49b5-8c03-3e099da75f87_1024x.png?v=1721092224" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1ODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xNTgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1ODAiIHRvPSIxNTgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-fc14a086-93dd-49b5-8c03-3e099da75f87_1024x.png?v=1721092224" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1ODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xNTgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1ODAiIHRvPSIxNTgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-fc14a086-93dd-49b5-8c03-3e099da75f87.png?v=1721092224" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1ODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xNTgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1ODAiIHRvPSIxNTgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-fc14a086-93dd-49b5-8c03-3e099da75f87.png?v=1721092224"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:790px;--w-mobile:790px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gHnSyEXA5C">
        .gHnSyEXA5C {

}
.gHnSyEXA5C > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzP8fIl5pi"
        class="gzP8fIl5pi"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pl:20px;--pr:20px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030193972"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzP8fIl5pi_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gzP8fIl5pi">
        .gzP8fIl5pi {

}
.gzP8fIl5pi p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghKbY6kW4Z"
        class="ghKbY6kW4Z"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pl:20px;--pr:20px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030193973"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghKbY6kW4Z_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPmMuLxFPv"
        class="gPmMuLxFPv"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:20px;--pr:20px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756030193974"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPmMuLxFPv_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gPmMuLxFPv">
        .gPmMuLxFPv {

}
.gPmMuLxFPv p {

}
      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-533922856766014234 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=533922837656765413&sectionId=533922856766014234)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg31pkh0zH4_text","label":"gg31pkh0zH4_text","default":"Think Twice Before Taking Ozempic: An MD and NHS President Shares Insights on Recent Findings and Potential Side Effects"},{"type":"html","id":"ggyFvVn1J3V_text","label":"ggyFvVn1J3V_text","default":"<p>Is this so-called miracle drug as harmless as it appears?</p>"},{"type":"html","id":"ggBARqAc5zV_text","label":"ggBARqAc5zV_text","default":"<p>October 2, 2024 By Maria Smith</p>"},{"type":"html","id":"ggwiiFl0b4J_text","label":"ggwiiFl0b4J_text","default":"<p>\"It doesn’t surprise me that Ozempic is so popular right now, but I'm taken aback by how many people are willing to use it off-label, especially for aesthetic reasons,\" said a prominent endocrinology professor, J.D., who wished to remain anonymous due to concerns about pharmaceutical companies.</p><p><br>More than half of the U.S. population (55%) is concerned about their weight, and one in three Americans is overweight.&nbsp;</p><p><br>Some people are making a concerted effort to improve their health through consistent exercise and proper nutrition.&nbsp;</p><p><br>However, many still hope to lose weight without changing their lifestyle or eating habits, which is where Ozempic comes into play. Given these factors, it’s understandable why Ozempic is drawing significant attention from those seeking simpler weight loss solutions.</p><p><br>But is this so-called miracle drug as harmless as it appears?</p><p><br>A recent interview with Professor Steve Powis, Director of the NHS in the UK, raises serious concerns about the use of Ozempic and its potential side effects.&nbsp;<br><br>&nbsp;</p>"},{"type":"html","id":"ggQnNWmwBBP_text","label":"ggQnNWmwBBP_text","default":"\"Those using weight-loss medications like Wegovy and Ozempic for 'quick-fix' aesthetic reasons risk complications and dangerous consequences,\" Prof. Powis said.&nbsp;"},{"type":"html","id":"ggESd3UZDPR_text","label":"ggESd3UZDPR_text","default":"<p><span style=\"font-size:17px;\">“These drugs should only be prescribed and used by individuals with severe obesity or type 2 diabetes.”</span></p><p>&nbsp;</p><p><span style=\"font-size:17px;\"><strong>How Does Ozempic Work?</strong></span></p><p><br><span style=\"font-size:17px;\">Ozempic was originally developed for treating type 2 diabetes. It helps your pancreas produce more insulin when blood sugar levels are high, prevents the liver from producing excess sugar, and slows the rate at which food leaves your stomach. While not specifically labeled as a weight-loss drug, studies sponsored by Novo Nordisk, the manufacturer of Ozempic, suggest that semaglutide—the active compound in Ozempic—may lead to weight loss.</span></p><p><br><span style=\"font-size:17px;\">As a GLP-1 receptor agonist, semaglutide enhances the effects of the naturally occurring hormone GLP-1. According to Dr. McGowan, GLP-1 not only affects blood glucose and diabetes but also impacts weight through two primary mechanisms:</span></p><ul><li><span style=\"font-size:17px;\">It affects hunger centers in the brain (specifically the hypothalamus), reducing hunger, appetite, and cravings.</span></li><li><span style=\"font-size:17px;\">It slows the rate of stomach emptying, prolonging feelings of fullness and satiety after meals.</span></li></ul><p><span style=\"font-size:17px;\">There is no secret—many have heard stories about people losing weight on Ozempic. But is this so-called miracle drug as harmless as it seems?</span><br>&nbsp;</p>"},{"type":"html","id":"gg0wi6G6Rex_text","label":"gg0wi6G6Rex_text","default":"The growing amount of reports on side effects"},{"type":"html","id":"ggzP8fIl5pi_text","label":"ggzP8fIl5pi_text","default":"<p><span style=\"font-size:17px;\">“The doctor [Prof. Powis] said that, in the past couple of months “every time [I had] done a shift, [I] pretty much had some patient who, to a lesser or greater degree, was having a complication from getting these weight-loss drugs”, often from online pharmacies or private beauty clinics.</span></p><p><br><span style=\"font-size:17px;\">“Without fail, none of them would fit the criteria at all [to obtain the drugs legitimately].” Another such patient ended up in intensive care as a result of taking weight-loss drugs.”</span></p><p><br><span style=\"font-size:17px;\">First of all, Ozempic is not approved by the FDA specifically for weight loss. There are other, safer alternatives available on the market for managing weight, and some doctors are already recommending them for this purpose.</span></p><p><br><span style=\"font-size:17px;\">Second of all, despite trending online and among celebrities, a significant number of people are experiencing serious side effects. Here are just a few of them—a quick browse on an open platform like Reddit:</span></p><p><br><span style=\"font-size:17px;\"><i>“Then I was taking my shot 2 Sundays ago and I had a severe allergic reaction. Swelling of my eyes and mouth. My body felt like it was on fire from my head to my toes. I was anxious, and my anxiety was high. I felt like I was gonna go crazy for 2 days. It was crazy. So I will no longer be using this. It does work, but I don't want to risk my life for it.”</i></span></p><p><br><span style=\"font-size:17px;\"><i>“Great appetite suppressant BUT I suffered from chronic constipation and I could barely muster up the energy to do anything but change the channel. My eyesight worsened and I needed new glasses. I craved sweets at times and felt starved some days. I was absolutely exhausted. I thought I was dying. Worst part was, I felt suicidal for the first time in my life!”</i></span></p><p><br><span style=\"font-size:17px;\"><i>“I was on Ozempic... Guess till am... Sudden loss of vision.”</i></span></p><p><br><span style=\"font-size:17px;\"><i>“My intestines have been killing me since last night. Woke up in the middle of the night in pain; this has been happening on and off all week, pretty much since upping to 1 last week. Thinking about dropping to .75 and doing it tomorrow instead of tonight since I’m already in pain.”</i></span></p><p><br><span style=\"font-size:17px;\">All of the side effects mentioned above are serious and uncomfortable. However, even more severe—potentially life-threatening—side effects are listed off-label and even on the Ozempic website. These include:</span></p><ul><li><span style=\"font-size:17px;\">Inflammation of the pancreas (pancreatitis)</span></li><li><span style=\"font-size:17px;\">Changes in vision</span></li><li><span style=\"font-size:17px;\">Hypoglycemia</span></li><li><span style=\"font-size:17px;\">Kidney problems (kidney failure)</span></li><li><span style=\"font-size:17px;\">Gallbladder problems</span></li></ul><p>&nbsp;</p><p><span style=\"font-size:17px;\">If you stop taking Ozempic, the weight often returns quickly. Since Ozempic is designed to treat type 2 diabetes, it needs to be taken continuously, posing ongoing health risks.</span><br><br>&nbsp;</p>"},{"type":"html","id":"gghKbY6kW4Z_text","label":"gghKbY6kW4Z_text","default":"Safer Alternatives"},{"type":"html","id":"ggPmMuLxFPv_text","label":"ggPmMuLxFPv_text","default":"<p><span style=\"font-size:17px;\">Safer weight management alternatives are nowhere near the mentioned side effects, which are, to be honest, not only health but life-threatening conditions.</span></p><p><br><span style=\"font-size:17px;\">The alternatives:</span></p><p><br><span style=\"font-size:17px;\">Firstly, Ozempic is known to remove the pleasure derived from food, resulting in reduced cravings. Studies have shown that an alternative method for cravings suppression can be achieved by taking a supplement called Chromium Picolinate. The supplement is for oral use, no shots needed. Also, there are no studies with any of the life-threatening Ozempic side effects. And those who doubt it would be surprised by the number of scientific studies that have researched it.</span></p><p><br><span style=\"font-size:17px;\">Secondly, another mechanism for weight loss in Ozempic is the prolonged feeling of fullness, an important factor in weight management, as it naturally results in lower hunger, fewer caloric intakes, and, as a result, appetite reduction. From alternatives, the leader in this topic is Choline. Multiple studies have proven significant improvements in body composition, including reductions in body fat and overall weight. The studies concluded that choline supplementation is effective in enhancing fat loss and improving body composition in overweight individuals. For exercising individuals, one study has shown even greater impacts: Choline supplementation improved physical performance and contributed to fat loss. The study found that choline enhances exercise efficiency and recovery, which can lead to increased fat burning and more effective weight management.</span></p><p><br><span style=\"font-size:17px;\">Thirdly, the lesser-known but increasingly popular ingredient is Garcinia Cambogia. A few studies have shown that Garcinia Cambogia supplementation may reduce appetite and contribute to weight loss. The studies concluded that Garcinia Cambogia can be an effective supplement for appetite control and weight management.</span><br>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  