

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-564697536808486053.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-564697536808486053.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-564697536808486053.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-564697536808486053.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-564697536808486053.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-564697536808486053.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-564697536808486053.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-564697536808486053.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-564697536808486053.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-564697536808486053.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-564697536808486053.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-564697536808486053.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-564697536808486053.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-564697536808486053.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-564697536808486053.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-564697536808486053.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-564697536808486053.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-564697536808486053.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-564697536808486053.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-564697536808486053.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-564697536808486053.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-564697536808486053.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-564697536808486053.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-564697536808486053.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-564697536808486053.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-564697536808486053.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-564697536808486053.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-564697536808486053.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-564697536808486053.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-564697536808486053.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-564697536808486053.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-564697536808486053.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-564697536808486053.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-564697536808486053.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-564697536808486053.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-564697536808486053.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-564697536808486053.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-564697536808486053.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-564697536808486053.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-564697536808486053.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-564697536808486053.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-564697536808486053.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-564697536808486053.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-564697536808486053.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-564697536808486053.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-564697536808486053.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-564697536808486053.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-564697536808486053.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-564697536808486053.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-564697536808486053.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-564697536808486053.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-564697536808486053.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-564697536808486053.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-564697536808486053.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-564697536808486053.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-564697536808486053.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-564697536808486053.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-564697536808486053.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-564697536808486053.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-564697536808486053.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-564697536808486053.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-564697536808486053.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-564697536808486053.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-564697536808486053.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-564697536808486053.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-564697536808486053.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-564697536808486053.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-564697536808486053.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-564697536808486053.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-564697536808486053.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-564697536808486053.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-564697536808486053.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-564697536808486053.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-564697536808486053.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-564697536808486053.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-564697536808486053.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-564697536808486053.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-564697536808486053.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-564697536808486053.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-564697536808486053.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-564697536808486053.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-564697536808486053.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-564697536808486053.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-564697536808486053.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-564697536808486053.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-564697536808486053.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-564697536808486053.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-564697536808486053 .gp-g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-564697536808486053 .gp-relative{position:relative}.gps-564697536808486053 .gp-z-1{z-index:1}.gps-564697536808486053 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-564697536808486053 .gp-mb-0{margin-bottom:0}.gps-564697536808486053 .gp-flex{display:flex}.gps-564697536808486053 .gp-inline-flex{display:inline-flex}.gps-564697536808486053 .gp-grid{display:grid}.gps-564697536808486053 .gp-contents{display:contents}.gps-564697536808486053 .\!gp-hidden{display:none!important}.gps-564697536808486053 .gp-hidden{display:none}.gps-564697536808486053 .gp-h-auto{height:auto}.gps-564697536808486053 .gp-h-full{height:100%}.gps-564697536808486053 .gp-w-full{width:100%}.gps-564697536808486053 .gp-max-w-full{max-width:100%}.gps-564697536808486053 .gp-flex-none{flex:none}.gps-564697536808486053 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-564697536808486053 .gp-flex-col{flex-direction:column}.gps-564697536808486053 .gp-items-center{align-items:center}.gps-564697536808486053 .gp-justify-center{justify-content:center}.gps-564697536808486053 .gp-gap-y-0{row-gap:0}.gps-564697536808486053 .gp-overflow-hidden{overflow:hidden}.gps-564697536808486053 .gp-break-words{overflow-wrap:break-word}.gps-564697536808486053 .gp-rounded-none{border-radius:0}.gps-564697536808486053 .gp-text-center{text-align:center}.gps-564697536808486053 .gp-leading-\[0\]{line-height:0}.gps-564697536808486053 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-564697536808486053 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-564697536808486053 .gp-no-underline{text-decoration-line:none}.gps-564697536808486053 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564697536808486053 .gp-duration-200{transition-duration:.2s}.gps-564697536808486053 .gp-duration-300{transition-duration:.3s}.gps-564697536808486053 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564697536808486053 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-564697536808486053 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-564697536808486053 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-564697536808486053 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-564697536808486053 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-564697536808486053 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-564697536808486053 .tablet\:\!gp-hidden{display:none!important}.gps-564697536808486053 .tablet\:gp-hidden{display:none}.gps-564697536808486053 .tablet\:gp-h-auto{height:auto}.gps-564697536808486053 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-564697536808486053 .mobile\:\!gp-hidden{display:none!important}.gps-564697536808486053 .mobile\:gp-hidden{display:none}.gps-564697536808486053 .mobile\:gp-h-auto{height:auto}.gps-564697536808486053 .mobile\:gp-flex-none{flex:none}}.gps-564697536808486053 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-564697536808486053 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-564697536808486053 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-564697536808486053 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-564697536808486053 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-564697536808486053 .\[\&_p\]\:gp-inline p{display:inline}.gps-564697536808486053 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-564697536808486053 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-564697536808486053 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gwt3IXzc8V" data-id="gwt3IXzc8V"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:16px;--pb:16px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwt3IXzc8V gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXiEvm29OJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g_Yof6XNDi" data-id="g_Yof6XNDi"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--pt-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--pt-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:580px;--w-tablet:580px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_Yof6XNDi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXKRcvMLkP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gvb47S4yH2" data-id="gvb47S4yH2"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:23px;--mb-mobile:21px;--cg:8px;--cg-mobile:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvb47S4yH2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-RJcykuns gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gNKF1sPUWX"
    role="presentation"
    class="gp-group/image gNKF1sPUWX gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-5d3a5ab2-d945-41a5-b7d8-506d9b7cea52.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNiIgaGVpZ2h0PSIxMzQ0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI2LTEzNDQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjYiIGhlaWdodD0iMTM0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNiIgaGVpZ2h0PSIxMzQ0IiBmaWxsPSJ1cmwoI2ctMTAyNi0xMzQ0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNiIgdG89IjEwMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-5d3a5ab2-d945-41a5-b7d8-506d9b7cea52.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNiIgaGVpZ2h0PSIxMzQ0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI2LTEzNDQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjYiIGhlaWdodD0iMTM0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNiIgaGVpZ2h0PSIxMzQ0IiBmaWxsPSJ1cmwoI2ctMTAyNi0xMzQ0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNiIgdG89IjEwMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNiIgaGVpZ2h0PSIxMzQ0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI2LTEzNDQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjYiIGhlaWdodD0iMTM0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNiIgaGVpZ2h0PSIxMzQ0IiBmaWxsPSJ1cmwoI2ctMTAyNi0xMzQ0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNiIgdG89IjEwMjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_524836908077941734-5d3a5ab2-d945-41a5-b7d8-506d9b7cea52.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:36px;--w-tablet:36px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gNKF1sPUWX">
        .gNKF1sPUWX {

}
.gNKF1sPUWX > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJb4jC7zGy gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g7xgFdNqfS" data-id="g7xgFdNqfS"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:10px;--pl:16px;--pb:10px;--pr:16px;--pt-mobile:10px;--pl-mobile:14px;--pb-mobile:10px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F2F4F5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7xgFdNqfS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyJDEPNQi1 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggobr3zIra">
    <div
      parentTag="Col"
        class="ggobr3zIra "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:4px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >{{ section.settings.gggobr3zIra_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-ggobr3zIra">
        .ggobr3zIra {

}
.ggobr3zIra p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gra7Xmuv04">
    <div
      parentTag="Col"
        class="gra7Xmuv04 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggra7Xmuv04_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gra7Xmuv04">
        .gra7Xmuv04 {

}
.gra7Xmuv04 p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gQrLyJKvNG" data-id="gQrLyJKvNG"
        style="--bs:solid;--bw:0px;--bc:#121212;--bottom:-20px;--bottom-mobile:-20px;--shadow:0.7px 0.7px 1px 0px rgba(0, 0, 0, 0.25);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:absolute;--right:-16px;--right-mobile:-14px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mt:0px;--ml:auto;--pt:2px;--pl:0px;--pb:2px;--pr:2px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:2px;--pl-mobile:2px;--pb-mobile:2px;--pr-mobile:2px;--cg:0px;--pc:end;--pc-mobile:end;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:58px;--w-tablet:58px;--w-mobile:60px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQrLyJKvNG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g8_jwNuR2x gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pos:relative;--right:-3px;--mb:0px;--ta:left"
      class="gp-leading-[0] g9ZZBC4fUt"
    >
      <div 
      data-id="g9ZZBC4fUt"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:15px;--h:15px;--minw:15px;--height-desktop:15px;--height-tablet:15px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="515071280597173218" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
<g clip-path="url(#clip0_192_2878)">
<path d="M14.75 7.95313C14.75 11.9569 11.5038 15.2031 7.50004 15.2031C3.49624 15.2031 0.25 11.9569 0.25 7.95313C0.25 3.94932 3.4962 0.703125 7.5 0.703125C11.5038 0.703125 14.75 3.94932 14.75 7.95313Z" fill="url(#paint0_radial_192_2878)" stroke="white" stroke-width="0.5"/>
<path d="M5.29096 10.6558C5.14001 12.3873 5.97159 13.5742 7.4988 13.5742C9.02601 13.5742 9.85755 12.3873 9.70663 10.6558C9.56038 8.92701 8.66317 7.94922 7.4988 7.94922C6.33442 7.94922 5.43721 8.92705 5.29096 10.6558Z" fill="url(#paint1_linear_192_2878)"/>
<path d="M3.2793 5.60551C3.2793 4.82926 3.80334 4.19922 4.45113 4.19922C5.09892 4.19922 5.62305 4.82926 5.62305 5.60551C5.62305 6.38176 5.09896 7.01176 4.45113 7.01176C3.8033 7.01176 3.2793 6.38176 3.2793 5.60551Z" fill="url(#paint2_linear_192_2878)"/>
<path d="M9.375 5.60551C9.375 4.82926 9.89908 4.19922 10.5469 4.19922C11.1947 4.19922 11.7188 4.82926 11.7188 5.60551C11.7188 6.38176 11.1947 7.01176 10.5469 7.01176C9.89912 7.01176 9.375 6.38176 9.375 5.60551Z" fill="url(#paint3_linear_192_2878)"/>
<path d="M8.56732 3.79883C9.59607 2.34525 11.9566 2.58346 12.5624 4.29138C12.6517 4.54958 12.2814 4.70446 12.1604 4.4605C11.9072 3.91583 11.335 3.50196 10.7237 3.49879C10.1469 3.47129 9.59915 3.76692 9.3169 4.25092C9.00719 4.73733 8.28136 4.30088 8.56732 3.79883Z" fill="#DE8009"/>
<path d="M6.42871 3.79883C5.39992 2.34525 3.03946 2.58346 2.43367 4.29138C2.34438 4.54963 2.71459 4.70446 2.83567 4.4605C3.08884 3.91583 3.66105 3.50196 4.27238 3.49879C4.84913 3.47129 5.39688 3.76692 5.67913 4.25092C5.98884 4.73733 6.71467 4.30088 6.42871 3.79883Z" fill="#DE8009"/>
</g>
<defs>
<radialGradient id="paint0_radial_192_2878" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(7.53 3.51938) scale(10.5971)">
<stop offset="0.0056" stop-color="#FEEB72"/>
<stop offset="0.3156" stop-color="#FDE86F"/>
<stop offset="0.5153" stop-color="#FCDF68"/>
<stop offset="0.6839" stop-color="#FBD05C"/>
<stop offset="0.8352" stop-color="#F9BB4B"/>
<stop offset="0.9737" stop-color="#F6A134"/>
<stop offset="1" stop-color="#F69B30"/>
</radialGradient>
<linearGradient id="paint1_linear_192_2878" x1="7.4988" y1="13.5742" x2="7.4988" y2="7.94922" gradientUnits="userSpaceOnUse">
<stop stop-color="#8B3A0E"/>
<stop offset="1" stop-color="#472315"/>
</linearGradient>
<linearGradient id="paint2_linear_192_2878" x1="4.45138" y1="4.17176" x2="4.45138" y2="7.08468" gradientUnits="userSpaceOnUse">
<stop offset="0.0056" stop-color="#3C466E"/>
<stop offset="1" stop-color="#252949"/>
</linearGradient>
<linearGradient id="paint3_linear_192_2878" x1="10.5471" y1="4.22676" x2="10.5471" y2="6.83843" gradientUnits="userSpaceOnUse">
<stop offset="0.0056" stop-color="#3C466E"/>
<stop offset="1" stop-color="#252949"/>
</linearGradient>
<clipPath id="clip0_192_2878">
<rect width="15" height="15" fill="white" transform="translate(0 0.453125)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gGFh2i_kD0 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:Auto;--op:100%;--pos:static;--right:-3px;--mb:0px;--ta:left"
      class="gp-leading-[0] gq-6JDYiYc"
    >
      <div 
      data-id="gq-6JDYiYc"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:15px;--h:15px;--minw:15px;--height-desktop:15px;--height-tablet:15px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="515071293129753570" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
<g clip-path="url(#clip0_192_2886)">
<path d="M14.75 7.95313C14.75 11.9572 11.5041 15.2031 7.5 15.2031C3.49594 15.2031 0.25 11.9572 0.25 7.95313C0.25 3.94906 3.49594 0.703125 7.5 0.703125C11.5041 0.703125 14.75 3.94906 14.75 7.95313Z" fill="url(#paint0_linear_192_2886)" stroke="white" stroke-width="0.5"/>
<path d="M10.9809 8.69138C8.83379 11.1988 7.74237 11.9371 7.696 11.9656C7.63891 12.0084 7.56762 12.0263 7.49987 12.0263C7.43208 12.0263 7.3607 12.0084 7.30012 11.9656C7.25733 11.9371 6.16595 11.1988 4.01883 8.69138C2.9702 7.46805 3.32329 5.995 4.21495 5.17113C4.99608 4.44709 6.32287 4.15817 7.49987 5.12471C8.67683 4.15817 10.0036 4.44709 10.7847 5.17113C11.6764 5.995 12.0295 7.46805 10.9809 8.69138Z" fill="white"/>
</g>
<defs>
<linearGradient id="paint0_linear_192_2886" x1="7.5" y1="15.4531" x2="7.5" y2="0.453125" gradientUnits="userSpaceOnUse">
<stop stop-color="#DD142E"/>
<stop offset="1" stop-color="#F75E7A"/>
</linearGradient>
<clipPath id="clip0_192_2886">
<rect width="15" height="15" fill="white" transform="translate(0 0.453125)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gsQiiBQOQh gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:-3px;--op:100%;--pos:relative;--right:undefined;--mb:0px;--ta:left"
      class="gp-leading-[0] ghMAAJNZvT"
    >
      <div 
      data-id="ghMAAJNZvT"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:15px;--h:15px;--minw:15px;--height-desktop:15px;--height-tablet:15px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="515071268551132130" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
<g clip-path="url(#clip0_192_2890)">
<path d="M14.75 7.95313C14.75 11.9572 11.5041 15.2031 7.5 15.2031C3.49594 15.2031 0.25 11.9572 0.25 7.95313C0.25 3.94906 3.49594 0.703125 7.5 0.703125C11.5041 0.703125 14.75 3.94906 14.75 7.95313Z" fill="url(#paint0_linear_192_2890)" stroke="white" stroke-width="0.5"/>
<path d="M4.65227 7.25H3.77602C3.35283 7.25 3.00977 7.59306 3.00977 8.01625V11.3367C3.00977 11.7599 3.35283 12.1029 3.77602 12.1029H4.65227C5.07545 12.1029 5.41852 11.7599 5.41852 11.3367V8.01625C5.41852 7.59306 5.07545 7.25 4.65227 7.25Z" fill="white"/>
<path d="M12.0848 8.17815C12.0848 7.86636 11.9465 7.5902 11.7334 7.40261C11.8939 7.2409 11.9935 7.01861 11.9935 6.77332C11.9935 6.28044 11.5924 5.87936 11.0995 5.87936H9.56702V4.85769C9.56702 4.38353 9.43506 3.9889 9.1749 3.68499C8.92148 3.38915 8.51965 3.28615 8.14948 3.42294C7.76935 3.56349 7.52365 3.91407 7.52365 4.3159V5.62394C7.52365 6.32999 6.51919 6.98911 6.13206 7.18353C6.0061 7.24678 5.92789 7.54132 5.99114 7.66732V10.2215L6.78848 11.1246C7.02969 11.3658 7.35031 11.4987 7.69144 11.4987H10.5887C11.0816 11.4987 11.4827 11.0976 11.4827 10.6047C11.4827 10.5352 11.4721 10.4677 11.4567 10.4014C11.7721 10.2632 11.9936 9.94882 11.9936 9.58299C11.9936 9.33774 11.894 9.1154 11.7335 8.95369C11.9466 8.76615 12.0848 8.48999 12.0848 8.17815Z" fill="white"/>
</g>
<defs>
<linearGradient id="paint0_linear_192_2890" x1="7.5" y1="15.4531" x2="7.5" y2="0.453125" gradientUnits="userSpaceOnUse">
<stop stop-color="#0064E1"/>
<stop offset="0.9944" stop-color="#26B7FF"/>
</linearGradient>
<clipPath id="clip0_192_2890">
<rect width="15" height="15" fill="white" transform="translate(0 0.453125)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gjevw62R48 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNnfNNV67p">
    <div
      parentTag="Col"
        class="gNnfNNV67p "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:Auto;--op:100%;--pos:static;--mt:0px;--ml:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:2px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:2px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:10px;--size-tablet:10px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        >{{ section.settings.ggNnfNNV67p_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gNnfNNV67p">
        .gNnfNNV67p {

}
.gNnfNNV67p p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gqyKkrpgC-" data-id="gqyKkrpgC-"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:23px;--mb-mobile:21px;--cg:8px;--cg-mobile:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqyKkrpgC- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0OS_e13_4 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gGxC10_GEL"
    role="presentation"
    class="gp-group/image gGxC10_GEL gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-9ac7a372-2b88-490b-b959-d382ab04567f.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMiIgaGVpZ2h0PSIxMjc2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAyLTEyNzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDIiIGhlaWdodD0iMTI3NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMiIgaGVpZ2h0PSIxMjc2IiBmaWxsPSJ1cmwoI2ctMTIwMi0xMjc2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMiIgdG89IjEyMDIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-9ac7a372-2b88-490b-b959-d382ab04567f.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMiIgaGVpZ2h0PSIxMjc2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAyLTEyNzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDIiIGhlaWdodD0iMTI3NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMiIgaGVpZ2h0PSIxMjc2IiBmaWxsPSJ1cmwoI2ctMTIwMi0xMjc2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMiIgdG89IjEyMDIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMiIgaGVpZ2h0PSIxMjc2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAyLTEyNzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDIiIGhlaWdodD0iMTI3NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMiIgaGVpZ2h0PSIxMjc2IiBmaWxsPSJ1cmwoI2ctMTIwMi0xMjc2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMiIgdG89IjEyMDIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_524836908077941734-9ac7a372-2b88-490b-b959-d382ab04567f.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:36px;--w-tablet:36px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gGxC10_GEL">
        .gGxC10_GEL {

}
.gGxC10_GEL > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6eeZL8-pl gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gi8KHxNjWH" data-id="gi8KHxNjWH"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:10px;--pl:16px;--pb:10px;--pr:16px;--pt-mobile:10px;--pl-mobile:14px;--pb-mobile:10px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:403px;--w-tablet:403px;--w-mobile:227px;--bgc:#F2F4F5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gi8KHxNjWH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0Y-36VigU gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTJ0ICGM7c">
    <div
      parentTag="Col"
        class="gTJ0ICGM7c "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:4px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >{{ section.settings.ggTJ0ICGM7c_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gTJ0ICGM7c">
        .gTJ0ICGM7c {

}
.gTJ0ICGM7c p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2SDUAHRsL">
    <div
      parentTag="Col"
        class="g2SDUAHRsL "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2SDUAHRsL_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g2SDUAHRsL">
        .g2SDUAHRsL {

}
.g2SDUAHRsL p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="g_lZtuJhgp" data-id="g_lZtuJhgp"
        style="--bs:solid;--bw:0px;--bc:#121212;--bottom:-20px;--bottom-mobile:-20px;--shadow:0.7px 0.7px 1px 0px rgba(0, 0, 0, 0.25);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:absolute;--right:-16px;--right-mobile:-14px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mt:0px;--mb:0px;--pt:2px;--pl:2px;--pb:2px;--pr:2px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:2px;--pl-mobile:2px;--pb-mobile:2px;--pr-mobile:2px;--cg:0px;--pc:end;--pc-mobile:end;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:28px;--w-tablet:28px;--w-mobile:28px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_lZtuJhgp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g4u68EO4-6 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:undefined;--op:100%;--pos:relative;--right:undefined;--ta:left;--ta-mobile:right"
      class="gp-leading-[0] gG64nWfWOC"
    >
      <div 
      data-id="gG64nWfWOC"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:15px;--h:15px;--minw:15px;--height-desktop:15px;--height-tablet:15px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="515071268551132130" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
<g clip-path="url(#clip0_192_2890)">
<path d="M14.75 7.95313C14.75 11.9572 11.5041 15.2031 7.5 15.2031C3.49594 15.2031 0.25 11.9572 0.25 7.95313C0.25 3.94906 3.49594 0.703125 7.5 0.703125C11.5041 0.703125 14.75 3.94906 14.75 7.95313Z" fill="url(#paint0_linear_192_2890)" stroke="white" stroke-width="0.5"/>
<path d="M4.65227 7.25H3.77602C3.35283 7.25 3.00977 7.59306 3.00977 8.01625V11.3367C3.00977 11.7599 3.35283 12.1029 3.77602 12.1029H4.65227C5.07545 12.1029 5.41852 11.7599 5.41852 11.3367V8.01625C5.41852 7.59306 5.07545 7.25 4.65227 7.25Z" fill="white"/>
<path d="M12.0848 8.17815C12.0848 7.86636 11.9465 7.5902 11.7334 7.40261C11.8939 7.2409 11.9935 7.01861 11.9935 6.77332C11.9935 6.28044 11.5924 5.87936 11.0995 5.87936H9.56702V4.85769C9.56702 4.38353 9.43506 3.9889 9.1749 3.68499C8.92148 3.38915 8.51965 3.28615 8.14948 3.42294C7.76935 3.56349 7.52365 3.91407 7.52365 4.3159V5.62394C7.52365 6.32999 6.51919 6.98911 6.13206 7.18353C6.0061 7.24678 5.92789 7.54132 5.99114 7.66732V10.2215L6.78848 11.1246C7.02969 11.3658 7.35031 11.4987 7.69144 11.4987H10.5887C11.0816 11.4987 11.4827 11.0976 11.4827 10.6047C11.4827 10.5352 11.4721 10.4677 11.4567 10.4014C11.7721 10.2632 11.9936 9.94882 11.9936 9.58299C11.9936 9.33774 11.894 9.1154 11.7335 8.95369C11.9466 8.76615 12.0848 8.48999 12.0848 8.17815Z" fill="white"/>
</g>
<defs>
<linearGradient id="paint0_linear_192_2890" x1="7.5" y1="15.4531" x2="7.5" y2="0.453125" gradientUnits="userSpaceOnUse">
<stop stop-color="#0064E1"/>
<stop offset="0.9944" stop-color="#26B7FF"/>
</linearGradient>
<clipPath id="clip0_192_2890">
<rect width="15" height="15" fill="white" transform="translate(0 0.453125)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gBh8FAJMgp gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4vIV7xlan">
    <div
      parentTag="Col"
        class="g4vIV7xlan "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px;--ml:2px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:2px;--mt-mobile:0px;--ml-mobile:2px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:2px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:10px;--size-tablet:10px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        >{{ section.settings.gg4vIV7xlan_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g4vIV7xlan">
        .g4vIV7xlan {

}
.g4vIV7xlan p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gZQO7cCcUw" data-id="gZQO7cCcUw"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:23px;--mb-mobile:21px;--cg:8px;--cg-mobile:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZQO7cCcUw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gESRKBPaq2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ggtATMkoG-"
    role="presentation"
    class="gp-group/image ggtATMkoG- gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-3e642aa6-041e-4389-9486-a0c5a85f3531.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4IiBoZWlnaHQ9IjEwOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTA4LTEwOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTA4IiBoZWlnaHQ9IjEwOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4IiBoZWlnaHQ9IjEwOSIgZmlsbD0idXJsKCNnLTEwOC0xMDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xMDgiIHRvPSIxMDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-3e642aa6-041e-4389-9486-a0c5a85f3531.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4IiBoZWlnaHQ9IjEwOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTA4LTEwOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTA4IiBoZWlnaHQ9IjEwOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4IiBoZWlnaHQ9IjEwOSIgZmlsbD0idXJsKCNnLTEwOC0xMDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xMDgiIHRvPSIxMDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4IiBoZWlnaHQ9IjEwOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTA4LTEwOSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTA4IiBoZWlnaHQ9IjEwOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4IiBoZWlnaHQ9IjEwOSIgZmlsbD0idXJsKCNnLTEwOC0xMDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xMDgiIHRvPSIxMDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_524836908077941734-3e642aa6-041e-4389-9486-a0c5a85f3531.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:36px;--w-tablet:36px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-ggtATMkoG-">
        .ggtATMkoG- {

}
.ggtATMkoG- > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIEEOclXbt gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g1un-lz7g_" data-id="g1un-lz7g_"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:10px;--pl:16px;--pb:10px;--pr:16px;--pt-mobile:10px;--pl-mobile:14px;--pb-mobile:10px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:475px;--w-tablet:475px;--w-mobile:256px;--bgc:#F2F4F5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1un-lz7g_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gx6JH9T5wD gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRuqsFO9ao">
    <div
      parentTag="Col"
        class="gRuqsFO9ao "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:4px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >{{ section.settings.ggRuqsFO9ao_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gRuqsFO9ao">
        .gRuqsFO9ao {

}
.gRuqsFO9ao p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqHJPZ9x4F">
    <div
      parentTag="Col"
        class="gqHJPZ9x4F "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqHJPZ9x4F_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gqHJPZ9x4F">
        .gqHJPZ9x4F {

}
.gqHJPZ9x4F p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gOTCRwcCu4" data-id="gOTCRwcCu4"
        style="--bs:solid;--bw:0px;--bc:#121212;--bottom:-20px;--bottom-mobile:-20px;--shadow:0.7px 0.7px 1px 0px rgba(0, 0, 0, 0.25);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:absolute;--right:-16px;--right-mobile:-14px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mt:0px;--mb:0px;--pt:2px;--pl:2px;--pb:2px;--pr:2px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:2px;--pl-mobile:2px;--pb-mobile:2px;--pr-mobile:2px;--cg:0px;--pc:end;--pc-mobile:end;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:50px;--w-tablet:43px;--w-mobile:50px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOTCRwcCu4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g6fZuXxsEZ gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:Auto;--op:100%;--pos:relative;--right:-3px;--ta:left"
      class="gp-leading-[0] gcLxihxq8k"
    >
      <div 
      data-id="gcLxihxq8k"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:15px;--h:15px;--minw:15px;--height-desktop:15px;--height-tablet:15px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="515071293129753570" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
<g clip-path="url(#clip0_192_2886)">
<path d="M14.75 7.95313C14.75 11.9572 11.5041 15.2031 7.5 15.2031C3.49594 15.2031 0.25 11.9572 0.25 7.95313C0.25 3.94906 3.49594 0.703125 7.5 0.703125C11.5041 0.703125 14.75 3.94906 14.75 7.95313Z" fill="url(#paint0_linear_192_2886)" stroke="white" stroke-width="0.5"/>
<path d="M10.9809 8.69138C8.83379 11.1988 7.74237 11.9371 7.696 11.9656C7.63891 12.0084 7.56762 12.0263 7.49987 12.0263C7.43208 12.0263 7.3607 12.0084 7.30012 11.9656C7.25733 11.9371 6.16595 11.1988 4.01883 8.69138C2.9702 7.46805 3.32329 5.995 4.21495 5.17113C4.99608 4.44709 6.32287 4.15817 7.49987 5.12471C8.67683 4.15817 10.0036 4.44709 10.7847 5.17113C11.6764 5.995 12.0295 7.46805 10.9809 8.69138Z" fill="white"/>
</g>
<defs>
<linearGradient id="paint0_linear_192_2886" x1="7.5" y1="15.4531" x2="7.5" y2="0.453125" gradientUnits="userSpaceOnUse">
<stop stop-color="#DD142E"/>
<stop offset="1" stop-color="#F75E7A"/>
</linearGradient>
<clipPath id="clip0_192_2886">
<rect width="15" height="15" fill="white" transform="translate(0 0.453125)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gHUqO-nCME gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:undefined;--op:100%;--pos:relative;--right:undefined;--ta:left"
      class="gp-leading-[0] gNU7htsIBs"
    >
      <div 
      data-id="gNU7htsIBs"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:15px;--h:15px;--minw:15px;--height-desktop:15px;--height-tablet:15px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="515071268551132130" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
<g clip-path="url(#clip0_192_2890)">
<path d="M14.75 7.95313C14.75 11.9572 11.5041 15.2031 7.5 15.2031C3.49594 15.2031 0.25 11.9572 0.25 7.95313C0.25 3.94906 3.49594 0.703125 7.5 0.703125C11.5041 0.703125 14.75 3.94906 14.75 7.95313Z" fill="url(#paint0_linear_192_2890)" stroke="white" stroke-width="0.5"/>
<path d="M4.65227 7.25H3.77602C3.35283 7.25 3.00977 7.59306 3.00977 8.01625V11.3367C3.00977 11.7599 3.35283 12.1029 3.77602 12.1029H4.65227C5.07545 12.1029 5.41852 11.7599 5.41852 11.3367V8.01625C5.41852 7.59306 5.07545 7.25 4.65227 7.25Z" fill="white"/>
<path d="M12.0848 8.17815C12.0848 7.86636 11.9465 7.5902 11.7334 7.40261C11.8939 7.2409 11.9935 7.01861 11.9935 6.77332C11.9935 6.28044 11.5924 5.87936 11.0995 5.87936H9.56702V4.85769C9.56702 4.38353 9.43506 3.9889 9.1749 3.68499C8.92148 3.38915 8.51965 3.28615 8.14948 3.42294C7.76935 3.56349 7.52365 3.91407 7.52365 4.3159V5.62394C7.52365 6.32999 6.51919 6.98911 6.13206 7.18353C6.0061 7.24678 5.92789 7.54132 5.99114 7.66732V10.2215L6.78848 11.1246C7.02969 11.3658 7.35031 11.4987 7.69144 11.4987H10.5887C11.0816 11.4987 11.4827 11.0976 11.4827 10.6047C11.4827 10.5352 11.4721 10.4677 11.4567 10.4014C11.7721 10.2632 11.9936 9.94882 11.9936 9.58299C11.9936 9.33774 11.894 9.1154 11.7335 8.95369C11.9466 8.76615 12.0848 8.48999 12.0848 8.17815Z" fill="white"/>
</g>
<defs>
<linearGradient id="paint0_linear_192_2890" x1="7.5" y1="15.4531" x2="7.5" y2="0.453125" gradientUnits="userSpaceOnUse">
<stop stop-color="#0064E1"/>
<stop offset="0.9944" stop-color="#26B7FF"/>
</linearGradient>
<clipPath id="clip0_192_2890">
<rect width="15" height="15" fill="white" transform="translate(0 0.453125)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gQExAtAaM- gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gR1BPwU9OD">
    <div
      parentTag="Col"
        class="gR1BPwU9OD "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px;--ml:2px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:2px;--mt-mobile:0px;--ml-mobile:2px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:2px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:10px;--size-tablet:10px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        >{{ section.settings.ggR1BPwU9OD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gR1BPwU9OD">
        .gR1BPwU9OD {

}
.gR1BPwU9OD p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g51mmz1ozi" data-id="g51mmz1ozi"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:23px;--mb-mobile:21px;--cg:8px;--cg-mobile:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g51mmz1ozi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5Ze8C10vN gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gQy2FyC1DR"
    role="presentation"
    class="gp-group/image gQy2FyC1DR gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_524836908077941734-00e9f47d-63b5-44ac-b526-6e03d142d238.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMTUzNi0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_524836908077941734-00e9f47d-63b5-44ac-b526-6e03d142d238.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMTUzNi0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMTUzNi0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_524836908077941734-00e9f47d-63b5-44ac-b526-6e03d142d238.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:36px;--w-tablet:36px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gQy2FyC1DR">
        .gQy2FyC1DR {

}
.gQy2FyC1DR > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5xgjZQ3fN gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="geJx73qnMa" data-id="geJx73qnMa"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:10px;--pl:16px;--pb:10px;--pr:16px;--pt-mobile:10px;--pl-mobile:14px;--pb-mobile:10px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:326px;--w-tablet:326px;--w-mobile:199px;--bgc:#F2F4F5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geJx73qnMa gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKhOfMzWaK gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gupsBglbtI">
    <div
      parentTag="Col"
        class="gupsBglbtI "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:4px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >{{ section.settings.ggupsBglbtI_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gupsBglbtI">
        .gupsBglbtI {

}
.gupsBglbtI p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glYgr_q74q">
    <div
      parentTag="Col"
        class="glYgr_q74q "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglYgr_q74q_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-glYgr_q74q">
        .glYgr_q74q {

}
.glYgr_q74q p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gHuEli05Zf" data-id="gHuEli05Zf"
        style="--bs:solid;--bw:0px;--bc:#121212;--bottom:-20px;--bottom-mobile:-20px;--shadow:0.7px 0.7px 1px 0px rgba(0, 0, 0, 0.25);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:absolute;--right:-16px;--right-mobile:-14px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mt:0px;--ml:auto;--mb:0px;--pt:2px;--pl:0px;--pb:2px;--pr:2px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:2px;--pl-mobile:2px;--pb-mobile:2px;--pr-mobile:2px;--cg:0px;--pc:end;--pc-mobile:end;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:46px;--w-tablet:46px;--w-mobile:46px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHuEli05Zf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gHpGYFYXNw gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pos:relative;--right:0px;--mb:0px;--ta:left"
      class="gp-leading-[0] g4-D8tp2eF"
    >
      <div 
      data-id="g4-D8tp2eF"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:15px;--h:15px;--minw:15px;--height-desktop:15px;--height-tablet:15px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="515071280597173218" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
<g clip-path="url(#clip0_192_2878)">
<path d="M14.75 7.95313C14.75 11.9569 11.5038 15.2031 7.50004 15.2031C3.49624 15.2031 0.25 11.9569 0.25 7.95313C0.25 3.94932 3.4962 0.703125 7.5 0.703125C11.5038 0.703125 14.75 3.94932 14.75 7.95313Z" fill="url(#paint0_radial_192_2878)" stroke="white" stroke-width="0.5"/>
<path d="M5.29096 10.6558C5.14001 12.3873 5.97159 13.5742 7.4988 13.5742C9.02601 13.5742 9.85755 12.3873 9.70663 10.6558C9.56038 8.92701 8.66317 7.94922 7.4988 7.94922C6.33442 7.94922 5.43721 8.92705 5.29096 10.6558Z" fill="url(#paint1_linear_192_2878)"/>
<path d="M3.2793 5.60551C3.2793 4.82926 3.80334 4.19922 4.45113 4.19922C5.09892 4.19922 5.62305 4.82926 5.62305 5.60551C5.62305 6.38176 5.09896 7.01176 4.45113 7.01176C3.8033 7.01176 3.2793 6.38176 3.2793 5.60551Z" fill="url(#paint2_linear_192_2878)"/>
<path d="M9.375 5.60551C9.375 4.82926 9.89908 4.19922 10.5469 4.19922C11.1947 4.19922 11.7188 4.82926 11.7188 5.60551C11.7188 6.38176 11.1947 7.01176 10.5469 7.01176C9.89912 7.01176 9.375 6.38176 9.375 5.60551Z" fill="url(#paint3_linear_192_2878)"/>
<path d="M8.56732 3.79883C9.59607 2.34525 11.9566 2.58346 12.5624 4.29138C12.6517 4.54958 12.2814 4.70446 12.1604 4.4605C11.9072 3.91583 11.335 3.50196 10.7237 3.49879C10.1469 3.47129 9.59915 3.76692 9.3169 4.25092C9.00719 4.73733 8.28136 4.30088 8.56732 3.79883Z" fill="#DE8009"/>
<path d="M6.42871 3.79883C5.39992 2.34525 3.03946 2.58346 2.43367 4.29138C2.34438 4.54963 2.71459 4.70446 2.83567 4.4605C3.08884 3.91583 3.66105 3.50196 4.27238 3.49879C4.84913 3.47129 5.39688 3.76692 5.67913 4.25092C5.98884 4.73733 6.71467 4.30088 6.42871 3.79883Z" fill="#DE8009"/>
</g>
<defs>
<radialGradient id="paint0_radial_192_2878" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(7.53 3.51938) scale(10.5971)">
<stop offset="0.0056" stop-color="#FEEB72"/>
<stop offset="0.3156" stop-color="#FDE86F"/>
<stop offset="0.5153" stop-color="#FCDF68"/>
<stop offset="0.6839" stop-color="#FBD05C"/>
<stop offset="0.8352" stop-color="#F9BB4B"/>
<stop offset="0.9737" stop-color="#F6A134"/>
<stop offset="1" stop-color="#F69B30"/>
</radialGradient>
<linearGradient id="paint1_linear_192_2878" x1="7.4988" y1="13.5742" x2="7.4988" y2="7.94922" gradientUnits="userSpaceOnUse">
<stop stop-color="#8B3A0E"/>
<stop offset="1" stop-color="#472315"/>
</linearGradient>
<linearGradient id="paint2_linear_192_2878" x1="4.45138" y1="4.17176" x2="4.45138" y2="7.08468" gradientUnits="userSpaceOnUse">
<stop offset="0.0056" stop-color="#3C466E"/>
<stop offset="1" stop-color="#252949"/>
</linearGradient>
<linearGradient id="paint3_linear_192_2878" x1="10.5471" y1="4.22676" x2="10.5471" y2="6.83843" gradientUnits="userSpaceOnUse">
<stop offset="0.0056" stop-color="#3C466E"/>
<stop offset="1" stop-color="#252949"/>
</linearGradient>
<clipPath id="clip0_192_2878">
<rect width="15" height="15" fill="white" transform="translate(0 0.453125)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g1YrvGh2sC gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:-3px;--op:100%;--pos:relative;--right:Auto;--mb:0px;--ta:left"
      class="gp-leading-[0] gYGDDMazyK"
    >
      <div 
      data-id="gYGDDMazyK"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:15px;--h:15px;--minw:15px;--height-desktop:15px;--height-tablet:15px;--height-mobile:15px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="515071293129753570" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
<g clip-path="url(#clip0_192_2886)">
<path d="M14.75 7.95313C14.75 11.9572 11.5041 15.2031 7.5 15.2031C3.49594 15.2031 0.25 11.9572 0.25 7.95313C0.25 3.94906 3.49594 0.703125 7.5 0.703125C11.5041 0.703125 14.75 3.94906 14.75 7.95313Z" fill="url(#paint0_linear_192_2886)" stroke="white" stroke-width="0.5"/>
<path d="M10.9809 8.69138C8.83379 11.1988 7.74237 11.9371 7.696 11.9656C7.63891 12.0084 7.56762 12.0263 7.49987 12.0263C7.43208 12.0263 7.3607 12.0084 7.30012 11.9656C7.25733 11.9371 6.16595 11.1988 4.01883 8.69138C2.9702 7.46805 3.32329 5.995 4.21495 5.17113C4.99608 4.44709 6.32287 4.15817 7.49987 5.12471C8.67683 4.15817 10.0036 4.44709 10.7847 5.17113C11.6764 5.995 12.0295 7.46805 10.9809 8.69138Z" fill="white"/>
</g>
<defs>
<linearGradient id="paint0_linear_192_2886" x1="7.5" y1="15.4531" x2="7.5" y2="0.453125" gradientUnits="userSpaceOnUse">
<stop stop-color="#DD142E"/>
<stop offset="1" stop-color="#F75E7A"/>
</linearGradient>
<clipPath id="clip0_192_2886">
<rect width="15" height="15" fill="white" transform="translate(0 0.453125)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gVgHHcaJIu gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-jej2pgDu">
    <div
      parentTag="Col"
        class="g-jej2pgDu "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:Auto;--op:100%;--pos:static;--mt:0px;--ml:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:2px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:2px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-tablet:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:10px;--size-tablet:10px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        >{{ section.settings.gg-jej2pgDu_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g-jej2pgDu">
        .g-jej2pgDu {

}
.g-jej2pgDu p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:32px;--ta:left"
    
  >
    <style>
    .gkJPDLrt9Y.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gkJPDLrt9Y:hover::before {
      
      
    }

    .gkJPDLrt9Y:hover .gp-button-icon {
      color: undefined;
    }

     .gkJPDLrt9Y .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gkJPDLrt9Y:hover .gp-button-price {
      color: undefined;
    }

    .gkJPDLrt9Y .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gkJPDLrt9Y .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gkJPDLrt9Y:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://nordburn.com/products/glp-1-booster" target="_self" data-id="gkJPDLrt9Y" aria-label="<p>ShOP NOW</p>"
      
      data-state="idle"
      class="gkJPDLrt9Y gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-heading-2"
      style="--hvr-bg:#00ADA1;--bg:#A769D0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:auto;--pr:auto;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggkJPDLrt9Y_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gkJPDLrt9Y">
        button.gkJPDLrt9Y {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-564697536808486053 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c733b1-43/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=564697536741246117&sectionId=564697536808486053)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gggobr3zIra_text","label":"gggobr3zIra_text","default":"<p>Cindy Allen&nbsp;</p>"},{"type":"html","id":"ggra7Xmuv04_text","label":"ggra7Xmuv04_text","default":"<p>Coincidence or not, Ive been using nordburn for a while and since I started, I actually feel way less hungry. I had no idea it could target the same hormone as Ozempic, but without these nasty side effects. Good to know that!</p>"},{"type":"html","id":"ggNnfNNV67p_text","label":"ggNnfNNV67p_text","default":"<p>5</p>"},{"type":"html","id":"ggTJ0ICGM7c_text","label":"ggTJ0ICGM7c_text","default":"<p>Emily B</p>"},{"type":"html","id":"gg2SDUAHRsL_text","label":"gg2SDUAHRsL_text","default":"<p>I was skeptical at first because nothing seemed to work for me - not even the so-called miracle weight loss meds. But nordburn's GLP1 Booster has been amazing. In 6 weeks, I'm down 18 pounds and finally seeing results. <span style=\"color:#FF0000;\"></span></p>"},{"type":"html","id":"gg4vIV7xlan_text","label":"gg4vIV7xlan_text","default":"<p>5</p>"},{"type":"html","id":"ggRuqsFO9ao_text","label":"ggRuqsFO9ao_text","default":"<p>Olivia Jones</p>"},{"type":"html","id":"ggqHJPZ9x4F_text","label":"ggqHJPZ9x4F_text","default":"<p>I just started using this product and there have been some results, so I'll continue to use it until the end of the month and circle back with an update.</p>"},{"type":"html","id":"ggR1BPwU9OD_text","label":"ggR1BPwU9OD_text","default":"<p>45</p>"},{"type":"html","id":"ggupsBglbtI_text","label":"ggupsBglbtI_text","default":"<p>Margaret B</p>"},{"type":"html","id":"gglYgr_q74q_text","label":"gglYgr_q74q_text","default":"<p>My biggest struggle was emotional eating, especially in the evenings. Since starting nordburn's GLP-1 Booster, my cravings are practically non-existent. It's the support I needed to stay consistent without feeling deprived</p>"},{"type":"html","id":"gg-jej2pgDu_text","label":"gg-jej2pgDu_text","default":"<p>10</p>"},{"type":"html","id":"ggkJPDLrt9Y_label","label":"ggkJPDLrt9Y_label","default":"<p>ShOP NOW</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
